flows/Accept.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_status</name>
        <label>Assign status on acceptance</label>
        <locationX>328</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accepted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Accepted_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rejectedassignment</name>
        <label>Rejectedassignment</label>
        <locationX>153</locationX>
        <locationY>423</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rejected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Rejected_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Rejection_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rejection_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_status</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Accepted1</name>
        <choiceText>Accepted</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Accepted</elementReference>
        </value>
    </choices>
    <choices>
        <name>Rejected1</name>
        <choiceText>Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Rejected</elementReference>
        </value>
    </choices>
    <constants>
        <name>Accepted</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Accepted</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rejected</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Accepted_or_rejected</name>
        <label>Accepted or rejected</label>
        <locationX>191</locationX>
        <locationY>166</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Decision_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Accepted1</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_status</targetReference>
            </connector>
            <label>Decision = Accepted</label>
        </rules>
        <rules>
            <name>Decision_rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rejected1</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Rejection_Reason</targetReference>
            </connector>
            <label>Decision = rejected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Accept {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Accept</label>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Lookup_SA</name>
        <label>Lookup SA</label>
        <locationX>104</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Accept_or_Reject</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Status</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_status</name>
        <label>Update status</label>
        <locationX>343</locationX>
        <locationY>424</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <inputReference>ServiceAppointment</inputReference>
    </recordUpdates>
    <screens>
        <name>Accept_or_Reject</name>
        <label>Accept or Reject</label>
        <locationX>275</locationX>
        <locationY>65</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Accepted_or_rejected</targetReference>
        </connector>
        <fields>
            <name>AcOrRej</name>
            <choiceReferences>Accepted1</choiceReferences>
            <choiceReferences>Rejected1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Accept Or Reject Job</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>285</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmationmsg</name>
            <fieldText>Job status has been updated.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Rejection_Reason</name>
        <label>Enter Rejection Reason</label>
        <locationX>95</locationX>
        <locationY>299</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Rejectedassignment</targetReference>
        </connector>
        <fields>
            <name>Rejection_Reason</name>
            <dataType>String</dataType>
            <fieldText>Rejection Reason</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>Please enter rejection reason</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_SA</startElementReference>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
