flows/Change_Job_Status.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_status</name>
        <label>Assign travelling status on acceptance</label>
        <locationX>42</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Travelling</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Travelling_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_completed</name>
        <label>Assignment completed</label>
        <locationX>602</locationX>
        <locationY>344</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Completed_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Dangerous_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dangerous_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Dangerous_Location_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Onsite</name>
        <label>Assignment Leaving site</label>
        <locationX>398</locationX>
        <locationY>377</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Leaving site</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Leaving_Site_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Onsitestatus</name>
        <label>Assign Onsite status</label>
        <locationX>196</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Onsite</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Onsite_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_status</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Accepted1</name>
        <choiceText>Accepted</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Accepted</elementReference>
        </value>
    </choices>
    <choices>
        <name>Rejected1</name>
        <choiceText>Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Rejected</elementReference>
        </value>
    </choices>
    <constants>
        <name>Accepted</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Accepted</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rejected</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Prev_Status</name>
        <label>Previous status?</label>
        <locationX>310</locationX>
        <locationY>174</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Status_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_status</targetReference>
            </connector>
            <label>Status = Accepted</label>
        </rules>
        <rules>
            <name>Status_Travelling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travelling</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Onsitestatus</targetReference>
            </connector>
            <label>Status = Travelling</label>
        </rules>
        <rules>
            <name>Status_Onsite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onsite</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Onsite</targetReference>
            </connector>
            <label>Status = Onsite</label>
        </rules>
        <rules>
            <name>Status_Leaving_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leaving site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_WO</targetReference>
            </connector>
            <label>Status = Leaving Site</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Change Job Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Job Status</label>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Lookup_SA</name>
        <label>Lookup SA</label>
        <locationX>104</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prev_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Status</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
        <queriedFields>CaseNumber__c</queriedFields>
        <queriedFields>CaseRecType__c</queriedFields>
        <queriedFields>Dangerous_Location__c</queriedFields>
        <queriedFields>Dangerous_Location_Reason__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_WO</name>
        <label>Lookup WO</label>
        <locationX>704</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Completed_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.Work_Order__c</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrder</outputReference>
        <queriedFields>Dangerous_Location__c</queriedFields>
        <queriedFields>Dangerous_Location_Reason__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_status</name>
        <label>Update status</label>
        <locationX>286</locationX>
        <locationY>481</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <inputReference>ServiceAppointment</inputReference>
    </recordUpdates>
    <screens>
        <name>Completed_Screen</name>
        <label>Was that a dangerous location?</label>
        <locationX>654</locationX>
        <locationY>150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment_completed</targetReference>
        </connector>
        <fields>
            <name>Dangerous_Location</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>WorkOrder.Dangerous_Location__c</elementReference>
            </defaultValue>
            <fieldText>Dangerous Location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason</name>
            <defaultValue>
                <elementReference>WorkOrder.Dangerous_Location_Reason__c</elementReference>
            </defaultValue>
            <fieldText>Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>289</locationX>
        <locationY>583</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmationmsg</name>
            <fieldText>Job status has been updated to {!ServiceAppointment.Status}.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_SA</startElementReference>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
