flows/Create_Home_Impound_and_Link_Seizure_Notice.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Dog_Id</name>
        <label>Assign Dog Id</label>
        <locationX>540</locationX>
        <locationY>277</locationY>
        <assignmentItems>
            <assignToReference>DogId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DogRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Seizure_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Dog_Owner_to_WOLI</name>
        <label>Assign Dog Owner to WOLI</label>
        <locationX>356</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>HomeImpoundWOLI.Owner_Person_in_Charge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HomeImpoundWOLI.Dog__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DogRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Dog_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Home_Impound</name>
        <label>Assign Home Impound</label>
        <locationX>252</locationX>
        <locationY>675</locationY>
        <assignmentItems>
            <assignToReference>HomeImpoundWOLI.Home_Impound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreatedHomeImpoundId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_to_Dog_Record</name>
        <label>Assign Owner to Dog Record</label>
        <locationX>40</locationX>
        <locationY>268</locationY>
        <assignmentItems>
            <assignToReference>DogRecord.Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Dog_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Home_Impound_WOLI</name>
        <label>Update Home Impound WOLI</label>
        <locationX>536</locationX>
        <locationY>400</locationY>
        <assignmentItems>
            <assignToReference>HomeImpoundWOLI.Seizure_Notice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Seizure_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HomeImpoundWOLI.Offence_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Seizure_Record.Offence_Types__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HomeImpoundWOLI.Time_of_Seizure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Seizure_Record.Time_of_Seizure__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Home_Impound_RT</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Offline</name>
        <label>Offline?</label>
        <locationX>360</locationX>
        <locationY>62</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsOnline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DogId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Seizure_Record_Type</targetReference>
            </connector>
            <label>IsOnline</label>
        </rules>
        <rules>
            <name>IsOffline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DogId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Owner</targetReference>
            </connector>
            <label>IsOffline</label>
        </rules>
    </decisions>
    <decisions>
        <name>seizureExist</name>
        <label>seizureExist?</label>
        <locationX>739</locationX>
        <locationY>553</locationY>
        <defaultConnector>
            <targetReference>Get_Home_Impound_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Seizure_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Home_Impound_WOLI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This Flow is used in Process Builder in order to support Home Impound Offline capability on the FSL app</description>
    <interviewLabel>Create Home Impound and Link Seizure Notice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Home Impound and Link Seizure Notice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Home_Impound</name>
        <label>Create Home Impound</label>
        <locationX>265</locationX>
        <locationY>513</locationY>
        <assignRecordIdToReference>CreatedHomeImpoundId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Home_Impound</targetReference>
        </connector>
        <inputAssignments>
            <field>Conditions_under_which_dog_leaves__c</field>
            <value>
                <elementReference>HomeImpoundWOLI.Conditions_under_which_dog_leaves__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_of_Home_Impound__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desexed_with_28_days__c</field>
            <value>
                <elementReference>HomeImpoundWOLI.Desexed_within_28_days__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dog_Portfolio__c</field>
            <value>
                <elementReference>HomeImpoundWOLI.Dog__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dog_contained_in_above_premises_in_ACT__c</field>
            <value>
                <elementReference>HomeImpoundWOLI.Dog_contained_in_above_premises_in_ACT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dog_must_be__c</field>
            <value>
                <elementReference>HomeImpoundWOLI.Registered_microchipped_and_desexed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dog_must_be_kept_in_fence_enclosed_yard__c</field>
            <value>
                <elementReference>HomeImpoundWOLI.Dog_must_be_kept_in_fence_enclosed_yard__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gate_Door_spring_latched_and_padlocked__c</field>
            <value>
                <elementReference>HomeImpoundWOLI.Gate_Door_spring_latched_and_padlocked__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Left_with_carer_other_than_owner__c</field>
            <value>
                <elementReference>HomeImpoundWOLI.Left_with_carer_other_than_owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Must_be_presented_to_DAS_with_24_hrs__c</field>
            <value>
                <elementReference>HomeImpoundWOLI.Must_be_presented_to_DAS_with_24_hrs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Must_be_restrained_with_keeper_outside__c</field>
            <value>
                <elementReference>HomeImpoundWOLI.Must_be_restrained_with_keeper_outside__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Must_not_leave_premises_under_conditions__c</field>
            <value>
                <elementReference>HomeImpoundWOLI.Must_not_leave_premises_under_conditions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_conditions_imposed_on_Home_impound__c</field>
            <value>
                <elementReference>HomeImpoundWOLI.Other_conditions_imposed_on_Home_impound__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>HomeImpoundWOLI.Owner_Person_in_Charge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>HomeImpoundId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seizure_Notice__c</field>
            <value>
                <elementReference>Seizure_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>Impound_Expound__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_dog_record</name>
        <label>Get dog record</label>
        <locationX>185</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_to_Dog_Record</targetReference>
        </connector>
        <filters>
            <field>OfflineLinkWOLI__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HomeImpoundWOLI.OfflineLinkWOLI__c</elementReference>
            </value>
        </filters>
        <object>Dog_Portfolio__c</object>
        <outputReference>DogRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Owner__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Home_Impound_RT</name>
        <label>Get Home Impound RT</label>
        <locationX>512</locationX>
        <locationY>552</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Home_Impound</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Home_Impound</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Impound_Expound__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>HomeImpoundId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Home_Impound_WOLI</name>
        <label>Get Home Impound WOLI</label>
        <locationX>189</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Offline</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HomeImpoundWOLIid</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>HomeImpoundWOLI</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date_Time_of_Home_Impound__c</queriedFields>
        <queriedFields>Owner_Person_in_Charge__c</queriedFields>
        <queriedFields>Dog__c</queriedFields>
        <queriedFields>Dog_contained_in_above_premises_in_ACT__c</queriedFields>
        <queriedFields>Registered_microchipped_and_desexed__c</queriedFields>
        <queriedFields>Dog_must_be_kept_in_fence_enclosed_yard__c</queriedFields>
        <queriedFields>Gate_Door_spring_latched_and_padlocked__c</queriedFields>
        <queriedFields>Must_be_restrained_with_keeper_outside__c</queriedFields>
        <queriedFields>Must_not_leave_premises_under_conditions__c</queriedFields>
        <queriedFields>Conditions_under_which_dog_leaves__c</queriedFields>
        <queriedFields>Other_conditions_imposed_on_Home_impound__c</queriedFields>
        <queriedFields>Left_with_carer_other_than_owner__c</queriedFields>
        <queriedFields>Must_be_presented_to_DAS_with_24_hrs__c</queriedFields>
        <queriedFields>Desexed_within_28_days__c</queriedFields>
        <queriedFields>OfflineLinkWOLI__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner</name>
        <label>Get Owner</label>
        <locationX>347</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_dog_record</targetReference>
        </connector>
        <filters>
            <field>OfflineLinkWOLI__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HomeImpoundWOLI.OfflineLinkWOLI__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Seizure_Notice</name>
        <label>Get Seizure Notice</label>
        <locationX>720</locationX>
        <locationY>367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>seizureExist</targetReference>
        </connector>
        <filters>
            <field>Dog__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DogId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SeizureRTid</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>Seizure_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Time_of_Seizure__c</queriedFields>
        <queriedFields>Offence_Types__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Seizure_Record_Type</name>
        <label>Get Seizure Record Type</label>
        <locationX>720</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Seizure_Notice</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SeizureNotice</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>SeizureRTid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Dog_Record</name>
        <label>Update Dog Record</label>
        <locationX>224</locationX>
        <locationY>331</locationY>
        <connector>
            <targetReference>Assign_Dog_Owner_to_WOLI</targetReference>
        </connector>
        <inputReference>DogRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WOLI</name>
        <label>Update WOLI</label>
        <locationX>494</locationX>
        <locationY>686</locationY>
        <inputReference>HomeImpoundWOLI</inputReference>
    </recordUpdates>
    <startElementReference>Get_Home_Impound_WOLI</startElementReference>
    <status>Draft</status>
    <variables>
        <name>CreatedHomeImpoundId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DogRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Dog_Portfolio__c</objectType>
    </variables>
    <variables>
        <name>HomeImpoundId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HomeImpoundWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>HomeImpoundWOLIid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OfflineWOLIkey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Seizure_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>SeizureRTid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
