flows/Create_Link_to_Service_Report_on_Home_Impound_Record.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>WOLI_is_Home_Impound</name>
        <label>WOLI is Home Impound</label>
        <locationX>409</locationX>
        <locationY>253</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Home_Impound_WOLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOLIrecord.Home_Impound__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WOLIrecord.Home_Impound__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WOLIrecord.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WOLIhomImpoundRTid</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_DOcument_Link</targetReference>
            </connector>
            <label>Home Impound WOLI</label>
        </rules>
        <rules>
            <name>Seizure_WOLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOLIrecord.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WOLIseizureRTid</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WOLIrecord.Domestic_Animal_Services_Ref__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WOLIrecord.Domestic_Animal_Services_Ref__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Document_Link_for_Seizure</targetReference>
            </connector>
            <label>Seizure WOLI</label>
        </rules>
    </decisions>
    <interviewLabel>Create Link to Service Report on Home Impound Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Link to Service Report on Home Impound or Seizure Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_DOcument_Link</name>
        <label>Create DOcument Link</label>
        <locationX>653</locationX>
        <locationY>215</locationY>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>ContentVersion.ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>WOLIrecord.Home_Impound__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>V</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Document_Link_for_Seizure</name>
        <label>Create Document Link for Seizure</label>
        <locationX>575</locationX>
        <locationY>378</locationY>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>ContentVersion.ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>WOLIrecord.Domestic_Animal_Services_Ref__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>V</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
    </recordCreates>
    <recordLookups>
        <name>Content_Version_Record</name>
        <label>Content Version Record</label>
        <locationX>593</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WOLI_Home_Impound_Record_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContentVersionId</elementReference>
            </value>
        </filters>
        <object>ContentVersion</object>
        <outputReference>ContentVersion</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WOLI</name>
        <label>Get WOLI</label>
        <locationX>193</locationX>
        <locationY>247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WOLI_is_Home_Impound</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOLIid</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>WOLIrecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Home_Impound__c</queriedFields>
        <queriedFields>Domestic_Animal_Services_Ref__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WOLI_Home_Impound_Record_Type</name>
        <label>Get WOLI Home Impound Record Type</label>
        <locationX>385</locationX>
        <locationY>116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WOLI_Seizure_RT</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Home_Impound</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>WOLIhomImpoundRTid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_WOLI_Seizure_RT</name>
        <label>Get WOLI Seizure RT</label>
        <locationX>89</locationX>
        <locationY>164</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WOLI</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Seizure</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrderLineItem</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>WOLIseizureRTid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Content_Version_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>ContentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContentVersion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>ContentVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOLIhomImpoundRTid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOLIid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOLIrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WOLIseizureRTid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
