flows/Equipment_Checklist.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>EquipmentCheckAssignment</name>
        <label>EquipmentCheckAssignment</label>
        <locationX>362</locationX>
        <locationY>345</locationY>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Catch_Poles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Catch_Poles_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Snappy_Snare__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snappy_Snare_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Bully_Ray_sticks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bully_Ray_sticks_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Red_Sticks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Red_Sticks_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.First_Aid_Kit_person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Aid_Kit_person</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.First_Aid_Kit_Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Aid_Kit_Animal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Soft_sling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Soft_sling</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Stretcher__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stretcher</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Triangle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Triangle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Cat_carriers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cat_carriers_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Cat_grabbers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cat_grabbers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Box_large_Nitrile_gloves__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Box_large_Nitrile_gloves</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Box_medium_Nitrile_gloves__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Box_medium_Nitrile_gloves</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Gauntlets__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gauntlets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Torch_Maglite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Torch_Maglite</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Metal_Leads__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Metal_Leads_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Set_muzzles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_muzzles</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Catch_net__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Catch_net</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Umbrella__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Umbrella</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Microchip_scanner_and_Batteries__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Microchip_scanner_and_Batteries</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.HiViz_vests__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HiViz_vests_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Bags_treats__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bags_treats_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Cans_My_Dog_wet_food_cat_food__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cans_My_Dog_wet_food_cat_food_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Container_Dry_Dog_Food__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Container_Dry_Dog_Food</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Hand_Sanitiser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hand_Sanitiser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Sun_Screen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sun_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Towels__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Towels_6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Blankets_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Blankets_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Spare_tyre__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Spare_tyre</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Step_Ladder_foldable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Step_Ladder_foldable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Copy_Domestic_Animals_Act_2000__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_Domestic_Animals_Act_2000</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Copy_Animal_Welfare_Act_1992__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_Animal_Welfare_Act_1992</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Canberra_Street_Directory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Canberra_Street_Directory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Form_Pack__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Form_pack_Impound_Sheets_Relinquishment_Registration_Keepers_Licence_Breeding_Li</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Seizure_Books__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Seizure_Books_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Calling_Cards__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calling_Cards_50</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Shovel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shovel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Cadaver_Bags__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cadaver_Bags</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Cable_ties_mixed_pack__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cable_ties_mixed_pack</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Labels__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Labels</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Permanent_Markers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permanent_Markers_6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Pens__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pens_6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Pack_Envelopes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pack_Envelopes_12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Batteries_for_torch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Batteries_for_torch_6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Nylon_leads__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nylon_leads_6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Metal_dog_bowls__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Metal_dog_bowls_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Radio_charger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Radio_charger</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Phone_charger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_charger</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Bluetooth_printer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bluetooth_printer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Spare_leads_IT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Spare_leads_IT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Water__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Water</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment.Work_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Service_Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Car</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipmentCheck.Rangers_to_carry_Kit_bags_with_personal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rangers_to_carry_Kit_bags_with_personal_PPE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Equipment_Check_Found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Equipment_Check_Found</name>
        <label>Equipment Check Found?</label>
        <locationX>516</locationX>
        <locationY>213</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EquipmentCheck.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Equipment_Check</targetReference>
            </connector>
            <label>Found</label>
        </rules>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EquipmentCheck.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Equipment_Check</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Check</name>
        <label>Status Check</label>
        <locationX>187</locationX>
        <locationY>176</locationY>
        <defaultConnector>
            <targetReference>Lookup_Equipment_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Job_Not_Accepted</name>
            <conditionLogic>1 OR 2 OR 3 OR 4</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled/Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Assignment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message</targetReference>
            </connector>
            <label>Job Not Accepted</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ListOfCars</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Vehicle__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceResource</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Equipment Checklist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Equipment Checklist</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Equipment_Check</name>
        <label>Create Equipment Check</label>
        <locationX>511</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>Successfully_Created</targetReference>
        </connector>
        <inputReference>EquipmentCheck</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Equipment_Check</name>
        <label>Lookup Equipment Check</label>
        <locationX>102</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Equipment_Check</targetReference>
        </connector>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.Work_Order__c</elementReference>
            </value>
        </filters>
        <object>Equipment_Check__c</object>
        <outputReference>EquipmentCheck</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Catch_Poles__c</queriedFields>
        <queriedFields>Snappy_Snare__c</queriedFields>
        <queriedFields>Bully_Ray_sticks__c</queriedFields>
        <queriedFields>Red_Sticks__c</queriedFields>
        <queriedFields>First_Aid_Kit_person__c</queriedFields>
        <queriedFields>First_Aid_Kit_Animal__c</queriedFields>
        <queriedFields>Soft_sling__c</queriedFields>
        <queriedFields>Stretcher__c</queriedFields>
        <queriedFields>Triangle__c</queriedFields>
        <queriedFields>Cat_carriers__c</queriedFields>
        <queriedFields>Cat_grabbers__c</queriedFields>
        <queriedFields>Box_large_Nitrile_gloves__c</queriedFields>
        <queriedFields>Box_medium_Nitrile_gloves__c</queriedFields>
        <queriedFields>Gauntlets__c</queriedFields>
        <queriedFields>Torch_Maglite__c</queriedFields>
        <queriedFields>Metal_Leads__c</queriedFields>
        <queriedFields>Set_muzzles__c</queriedFields>
        <queriedFields>Catch_net__c</queriedFields>
        <queriedFields>Umbrella__c</queriedFields>
        <queriedFields>Microchip_scanner_and_Batteries__c</queriedFields>
        <queriedFields>HiViz_vests__c</queriedFields>
        <queriedFields>Bags_treats__c</queriedFields>
        <queriedFields>Cans_My_Dog_wet_food_cat_food__c</queriedFields>
        <queriedFields>Container_Dry_Dog_Food__c</queriedFields>
        <queriedFields>Hand_Sanitiser__c</queriedFields>
        <queriedFields>Sun_Screen__c</queriedFields>
        <queriedFields>Towels__c</queriedFields>
        <queriedFields>Blankets_2__c</queriedFields>
        <queriedFields>Spare_tyre__c</queriedFields>
        <queriedFields>Step_Ladder_foldable__c</queriedFields>
        <queriedFields>Copy_Domestic_Animals_Act_2000__c</queriedFields>
        <queriedFields>Copy_Animal_Welfare_Act_1992__c</queriedFields>
        <queriedFields>Canberra_Street_Directory__c</queriedFields>
        <queriedFields>Form_Pack__c</queriedFields>
        <queriedFields>Seizure_Books__c</queriedFields>
        <queriedFields>Calling_Cards__c</queriedFields>
        <queriedFields>Shovel__c</queriedFields>
        <queriedFields>Cadaver_Bags__c</queriedFields>
        <queriedFields>Cable_ties_mixed_pack__c</queriedFields>
        <queriedFields>Labels__c</queriedFields>
        <queriedFields>Permanent_Markers__c</queriedFields>
        <queriedFields>Pens__c</queriedFields>
        <queriedFields>Pack_Envelopes__c</queriedFields>
        <queriedFields>Batteries_for_torch__c</queriedFields>
        <queriedFields>Nylon_leads__c</queriedFields>
        <queriedFields>Metal_dog_bowls__c</queriedFields>
        <queriedFields>Radio_charger__c</queriedFields>
        <queriedFields>Phone_charger__c</queriedFields>
        <queriedFields>Bluetooth_printer__c</queriedFields>
        <queriedFields>Spare_leads_IT__c</queriedFields>
        <queriedFields>Water__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_SA</name>
        <label>Lookup SA</label>
        <locationX>47</locationX>
        <locationY>173</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Check</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Equipment_Check</name>
        <label>Update Equipment Check</label>
        <locationX>517</locationX>
        <locationY>390</locationY>
        <connector>
            <targetReference>Successfully_Updated</targetReference>
        </connector>
        <inputReference>EquipmentCheck</inputReference>
    </recordUpdates>
    <screens>
        <description>Displays all the fields from equipment check object</description>
        <name>Equipment_Check</name>
        <label>Equipment Check</label>
        <locationX>233</locationX>
        <locationY>359</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EquipmentCheckAssignment</targetReference>
        </connector>
        <fields>
            <name>Select_Car</name>
            <choiceReferences>ListOfCars</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Car</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Safety_Items</name>
            <fieldText>Safety Items</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Catch_Poles_2</name>
            <dataType>Number</dataType>
            <fieldText>Catch Poles (2)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Snappy_Snare_1</name>
            <dataType>Number</dataType>
            <fieldText>Snappy Snare (1)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Bully_Ray_sticks_2</name>
            <dataType>Number</dataType>
            <fieldText>Bully Ray sticks (2)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Red_Sticks_2</name>
            <dataType>Number</dataType>
            <fieldText>Red Sticks (2)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>First_Aid_Kit_person</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>First Aid Kit (person)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>First_Aid_Kit_Animal</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>First Aid Kit (Animal)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Soft_sling</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Soft sling</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stretcher</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Stretcher</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Triangle</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Triangle</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cat_carriers_2</name>
            <dataType>Number</dataType>
            <fieldText>Cat carriers (2)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Cat_grabbers</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Cat grabbers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Box_large_Nitrile_gloves</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Box large Nitrile gloves</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Box_medium_Nitrile_gloves</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Box medium Nitrile gloves</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Gauntlets</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Gauntlets</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Torch_Maglite</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Torch – Maglite</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Metal_Leads_2</name>
            <dataType>Number</dataType>
            <fieldText>Metal Leads (2)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Set_muzzles</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Set muzzles</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Catch_net</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Catch net</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Umbrella</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Umbrella</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Microchip_scanner_and_Batteries</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Microchip scanner and Batteries</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HiViz_vests_4</name>
            <dataType>Number</dataType>
            <fieldText>HiViz vests (4)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Non_Safety_Items</name>
            <fieldText>Non Safety Items</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Bags_treats_2</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>2.0</numberValue>
            </defaultValue>
            <fieldText>Bags treats (2)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Cans_My_Dog_wet_food_cat_food_2</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>2.0</numberValue>
            </defaultValue>
            <fieldText>Cans My Dog/wet food/cat food (2)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Container_Dry_Dog_Food</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Container Dry Dog Food</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Hand_Sanitiser</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Hand Sanitiser</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Sun_Screen</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Sun Screen</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Towels_6</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>6.0</numberValue>
            </defaultValue>
            <fieldText>Towels (6)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Blankets_2</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>2.0</numberValue>
            </defaultValue>
            <fieldText>Blankets (2)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Spare_tyre</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Spare tyre</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Step_Ladder_foldable</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Step Ladder (foldable)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Copy_Domestic_Animals_Act_2000</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Copy Domestic Animals Act 2000</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Copy_Animal_Welfare_Act_1992</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Copy Animal Welfare Act 1992</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Canberra_Street_Directory</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Canberra Street Directory</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Form_pack_Impound_Sheets_Relinquishment_Registration_Keepers_Licence_Breeding_Li</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Form pack: Impound Sheets, Relinquishment, Registration, Keepers Licence, Breeding Licence</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Seizure_Books_2</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>2.0</numberValue>
            </defaultValue>
            <fieldText>Seizure Books (2)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Calling_Cards_50</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>50.0</numberValue>
            </defaultValue>
            <fieldText>Calling Cards (50)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Shovel</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Shovel</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cadaver_Bags</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Cadaver Bags</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cable_ties_mixed_pack</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Cable ties – mixed pack</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Labels</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Labels</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Permanent_Markers_6</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>6.0</numberValue>
            </defaultValue>
            <fieldText>Permanent Markers (6)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Pens_6</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>6.0</numberValue>
            </defaultValue>
            <fieldText>Pens (6)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Pack_Envelopes_12</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>12.0</numberValue>
            </defaultValue>
            <fieldText>Pack Envelopes (12)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Batteries_for_torch_6</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>6.0</numberValue>
            </defaultValue>
            <fieldText>Batteries for torch (6)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Nylon_leads_6</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>6.0</numberValue>
            </defaultValue>
            <fieldText>Nylon leads (6)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Metal_dog_bowls_2</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>2.0</numberValue>
            </defaultValue>
            <fieldText>Metal dog bowls (2)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Radio_charger</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Radio charger</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone_charger</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Phone charger</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Bluetooth_printer</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Bluetooth printer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Spare_leads_IT</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Spare leads (IT)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Water</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Water</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Rangers_to_carry_Kit_bags_with_personal_PPE</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Rangers to carry Kit bags with personal PPE</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message</name>
        <label>Message</label>
        <locationX>200</locationX>
        <locationY>16</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Accept_Job_And_Click_EC</name>
            <fieldText>Please accept the job to verify Equipment Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Successfully_Created</name>
        <label>Successfully Created</label>
        <locationX>799</locationX>
        <locationY>24</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EC_Created</name>
            <fieldText>Equipment check successfully created</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Successfully_Updated</name>
        <label>Successfully Updated</label>
        <locationX>834</locationX>
        <locationY>320</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EC_Updated</name>
            <fieldText>Equipment check successfully updated</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_SA</startElementReference>
    <status>Active</status>
    <variables>
        <name>EquipmentCheck</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Equipment_Check__c</objectType>
    </variables>
    <variables>
        <name>EquipmentCheckID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
