flows/Evidence.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <dynamicChoiceSets>
        <name>EvidenceType1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Evidence_Type__c</picklistField>
        <picklistObject>Evidence__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Evidence {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Evidence</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Evidence_Record</name>
        <label>Create Evidence Record</label>
        <locationX>354</locationX>
        <locationY>321</locationY>
        <assignRecordIdToReference>EvidenceId</assignRecordIdToReference>
        <connector>
            <targetReference>Photo</targetReference>
        </connector>
        <inputAssignments>
            <field>Evidence_Decription__c</field>
            <value>
                <elementReference>Evidence_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Evidence_Type__c</field>
            <value>
                <elementReference>Evidence_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>vSARecord.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Evidence__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_SA</name>
        <label>Lookup SA</label>
        <locationX>186</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evidence_Information</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>vSARecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>683</locationX>
        <locationY>324</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Exhibitnumber</name>
            <fieldText>&lt;p&gt;Evidence is created successfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Evidence_Information</name>
        <label>Evidence Information</label>
        <locationX>180</locationX>
        <locationY>179</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Evidence_Record</targetReference>
        </connector>
        <fields>
            <name>Evidence_Type</name>
            <choiceReferences>EvidenceType1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Evidence Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Evidence_Description</name>
            <dataType>String</dataType>
            <fieldText>Evidence Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Photo</name>
        <label>Photo</label>
        <locationX>497</locationX>
        <locationY>329</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <fields>
            <name>Upload_Files</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>EvidenceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Lookup_SA</startElementReference>
    <status>Active</status>
    <variables>
        <name>Evidence</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Evidence__c</objectType>
    </variables>
    <variables>
        <name>EvidenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PhotoLabels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Photos</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSARecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
