flows/Expound_Home_Impound.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Both</name>
        <label>Both</label>
        <locationX>850</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>DogRecord.Is_Dangerous__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DogRecord.Is_Dog_On_Control_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DogRecord.Control_Order_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Control_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DogRecord.Dangerous_Dog_Licence_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dangerous_Dog_License</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Dog_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dangerous_Dog</name>
        <label>Dangerous Dog</label>
        <locationX>714</locationX>
        <locationY>164</locationY>
        <assignmentItems>
            <assignToReference>DogRecord.Is_Dangerous__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DogRecord.Dangerous_Dog_Licence_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dangerous_Dog_License</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Dog_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dog_Control_Order</name>
        <label>Dog Control Order</label>
        <locationX>849</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>DogRecord.Is_Dog_On_Control_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DogRecord.Control_Order_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Control_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Dog_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Dangerous_Control</name>
        <label>Dangerous Control?</label>
        <locationX>698</locationX>
        <locationY>354</locationY>
        <defaultConnector>
            <targetReference>Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Control_and_Dangerous</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dangerous_Dog_License</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Control_Order</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Both</targetReference>
            </connector>
            <label>Control and Dangerous</label>
        </rules>
        <rules>
            <name>Dangerous</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Dangerous_Dog_License</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dangerous_Dog</targetReference>
            </connector>
            <label>Dangerous</label>
        </rules>
        <rules>
            <name>Is_Under_Control_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Control_Order</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dog_Control_Order</targetReference>
            </connector>
            <label>Is Under Control Order</label>
        </rules>
    </decisions>
    <description>Expound for home impounded job</description>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Expound Home Impound {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Expound Home Impound</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Expound_Home_Impound_RT_Id</name>
        <label>Expound Home Impound RT Id</label>
        <locationX>388</locationX>
        <locationY>358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Impound_To_Expound</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Expound_Home_Impounded_dog</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ExpoundHomeImpoundRTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Dog_record</name>
        <label>Get Dog record</label>
        <locationX>202</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Control_Order_Dangerous_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HomeImpoundRecord.Dog_Portfolio__c</elementReference>
            </value>
        </filters>
        <object>Dog_Portfolio__c</object>
        <outputReference>DogRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Control_Order_No__c</queriedFields>
        <queriedFields>Dangerous_Dog_Licence_No__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Impound_Record</name>
        <label>Get Impound Record</label>
        <locationX>203</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Dog_record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HomeImpoundId</elementReference>
            </value>
        </filters>
        <object>Impound_Expound__c</object>
        <outputReference>HomeImpoundRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Dog_Portfolio__c</queriedFields>
        <queriedFields>Dangerous_Dog_License__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Dog_record</name>
        <label>Update Dog record</label>
        <locationX>997</locationX>
        <locationY>365</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>DogRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Impound_To_Expound</name>
        <label>Update Impound To Expound</label>
        <locationX>518</locationX>
        <locationY>358</locationY>
        <connector>
            <targetReference>Dangerous_Control</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HomeImpoundId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Control_Order__c</field>
            <value>
                <elementReference>Control_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dangerous_Dog_License__c</field>
            <value>
                <elementReference>Dangerous_Dog_License</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dangerous_Dog_fee__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_of_Expound__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desex_Fee__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expound_User__c</field>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impound_Fee__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Infringement_fees__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Fee__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Expound__c</field>
            <value>
                <stringValue>Claimed by keeper</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ExpoundHomeImpoundRTId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reg_concession_fee__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reg_full_fee__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Impound_Expound__c</object>
    </recordUpdates>
    <screens>
        <name>Control_Order_Dangerous_Screen</name>
        <label>Control Order Dangerous Screen</label>
        <locationX>203</locationX>
        <locationY>359</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Expound_Home_Impound_RT_Id</targetReference>
        </connector>
        <fields>
            <name>Control_Order</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DogRecord.Control_Order_No__c</elementReference>
            </defaultValue>
            <fieldText>Control Order #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Dangerous_Dog_License</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DogRecord.Dangerous_Dog_Licence_No__c</elementReference>
            </defaultValue>
            <fieldText>Dangerous Dog License #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <dataType>String</dataType>
            <fieldText>Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>860</locationX>
        <locationY>696</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Successmessage</name>
            <fieldText>The dog has been expounded successfully</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Impound_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>DogRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Dog_Portfolio__c</objectType>
    </variables>
    <variables>
        <name>ExpoundHomeImpoundRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HomeImpoundId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HomeImpoundRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Impound_Expound__c</objectType>
    </variables>
</Flow>
