flows/ExpoundProcess.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AppendAllImpoundRecords</name>
        <label>AppendAllImpoundRecords</label>
        <locationX>1626</locationX>
        <locationY>1201</locationY>
        <assignmentItems>
            <assignToReference>varDisplayImpoundRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!vImpoundUsedForLoop.Name} </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayImpoundRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!vImpoundUsedForLoop.CreatedDate} </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayImpoundRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!ownerNameForLoop} </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayImpoundRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>- {!vImpoundUsedForLoop.Reason_for_Impound__c} </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisplayImpoundRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Euthanised</name>
        <label>Assign (Euthanised)</label>
        <locationX>874</locationX>
        <locationY>216</locationY>
        <assignmentItems>
            <assignToReference>vAccountRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vImpoundRecord.Owner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Impound_RSPCA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignChecklist1</name>
        <label>AssignChecklist1</label>
        <locationX>674</locationX>
        <locationY>388</locationY>
        <assignmentItems>
            <assignToReference>checklist111</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Section_85_AWA_1992</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Microchip_Verification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignChecklist2</name>
        <label>AssignChecklist2</label>
        <locationX>756</locationX>
        <locationY>441</locationY>
        <assignmentItems>
            <assignToReference>checklist222</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_dog_been_impounded_for_more_than_3_days</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Microchip_Verification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignChecklist3</name>
        <label>AssignChecklist3</label>
        <locationX>867</locationX>
        <locationY>470</locationY>
        <assignmentItems>
            <assignToReference>checklist333</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_dog_been_impounded_for_more_than_7_days1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>checklist444</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_the_dog_been_assessed_for_suitable_for_rehome1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>checklist555</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_dog_have_history1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Microchip_Verification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignChecklist4</name>
        <label>AssignChecklist4</label>
        <locationX>997</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>checklist444</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_the_dog_been_assessed_for_suitable_for_rehome2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>checklist333</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_dog_been_impounded_for_more_than_7_days2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>checklist555</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_dog_have_history2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Microchip_Verification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignChecklist5</name>
        <label>AssignChecklist5</label>
        <locationX>1108</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>checklist555</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_dog_have_history3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>checklist444</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_the_dog_been_assessed_for_suitable_for_rehome3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>checklist333</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_dog_been_impounded_for_more_than_7_days3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Microchip_Verification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDesex</name>
        <label>AssignDesex</label>
        <locationX>3427</locationX>
        <locationY>1213</locationY>
        <assignmentItems>
            <assignToReference>isDesexVoucherIssue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Dog_Portfolio1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignExpoundAccount</name>
        <label>AssignExpoundAccount</label>
        <locationX>3615</locationX>
        <locationY>1558</locationY>
        <assignmentItems>
            <assignToReference>ownerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flowOutputAccountIdOwner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Impound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMicrochipNumber</name>
        <label>AssignMicrochipNumber</label>
        <locationX>2348</locationX>
        <locationY>1320</locationY>
        <assignmentItems>
            <assignToReference>microchipNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Microchip_Number2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Microchip_Fee1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMicrochipNumber1</name>
        <label>AssignMicrochipNumber</label>
        <locationX>2165</locationX>
        <locationY>1529</locationY>
        <assignmentItems>
            <assignToReference>microchipNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDogPortfolioRecord.Microchip_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Registration_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRegistrationNumber</name>
        <label>AssignRegistrationNumber</label>
        <locationX>2905</locationX>
        <locationY>1507</locationY>
        <assignmentItems>
            <assignToReference>regNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDogPortfolioRecord.Registration_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registrationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Expound_Reason</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRegistrationNumber1</name>
        <label>AssignRegistrationNumber</label>
        <locationX>2792</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>regNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDogPortfolioRecord.Registration_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registrationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDogPortfolioRecord.Registration_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Expound_Reason</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignWarning</name>
        <label>AssignWarning</label>
        <locationX>3355</locationX>
        <locationY>1113</locationY>
        <assignmentItems>
            <assignToReference>desexWarning</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Dog_Portfolio1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>businessAccountRecordType</name>
        <choiceText>Business Account</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>businessAccountRecordTypeId</elementReference>
        </value>
    </choices>
    <choices>
        <name>IMPOUND_FIVE</name>
        <choiceText>Impound - 5th time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Impound - 5th time</stringValue>
        </value>
    </choices>
    <choices>
        <name>IMPOUND_FOUR</name>
        <choiceText>Impound - 4th time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Impound - 4th time</stringValue>
        </value>
    </choices>
    <choices>
        <name>IMPOUND_ONE</name>
        <choiceText>Impound - 1st time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Impound - 1st time</stringValue>
        </value>
    </choices>
    <choices>
        <name>IMPOUND_THREE</name>
        <choiceText>Impound - 3rd time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Impound - 3rd time</stringValue>
        </value>
    </choices>
    <choices>
        <name>IMPOUND_TWO</name>
        <choiceText>Impound - 2nd time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Impound - 2nd time</stringValue>
        </value>
    </choices>
    <choices>
        <name>personAccountRecordType</name>
        <choiceText>PersonAccount</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>personAccountRecordTypeId</elementReference>
        </value>
    </choices>
    <constants>
        <name>AFP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AFP</stringValue>
        </value>
    </constants>
    <constants>
        <name>AIRFORCE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Airforce</stringValue>
        </value>
    </constants>
    <constants>
        <name>ARMY</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Army</stringValue>
        </value>
    </constants>
    <constants>
        <name>BUSINESSACCOUNT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Business_Account</stringValue>
        </value>
    </constants>
    <constants>
        <name>CLAIMEDBYKEEPER</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Claimed by keeper</stringValue>
        </value>
    </constants>
    <constants>
        <name>Dailyimpound</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Daily Impound Fee</stringValue>
        </value>
    </constants>
    <constants>
        <name>Ddogtype</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Dangerous Dog Collar and Sign</stringValue>
        </value>
    </constants>
    <constants>
        <name>DEADSTILL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Dead/Still</stringValue>
        </value>
    </constants>
    <constants>
        <name>EUTHANISED</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Euthanised</stringValue>
        </value>
    </constants>
    <constants>
        <name>ExpoundRecordTypeName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Expound</stringValue>
        </value>
    </constants>
    <constants>
        <name>Impound1st</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Impound - 1st time</stringValue>
        </value>
    </constants>
    <constants>
        <name>Impound2nd</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Impound - 2nd time</stringValue>
        </value>
    </constants>
    <constants>
        <name>Impound3rd</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Impound - 3rd time</stringValue>
        </value>
    </constants>
    <constants>
        <name>Impound4th</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Impound - 4th time</stringValue>
        </value>
    </constants>
    <constants>
        <name>Impound5th</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Impound - 5th time</stringValue>
        </value>
    </constants>
    <constants>
        <name>IMPOUNDEXPOUND</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Impound_Expound__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>OTHER</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </constants>
    <constants>
        <name>OTHERSERVICE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Service</stringValue>
        </value>
    </constants>
    <constants>
        <name>PERSONACCOUNT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PersonAccount</stringValue>
        </value>
    </constants>
    <constants>
        <name>RESCUED</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rescued</stringValue>
        </value>
    </constants>
    <constants>
        <name>RSPCA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RSPCA</stringValue>
        </value>
    </constants>
    <constants>
        <name>SOLD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sold</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Account_Type</name>
        <label>Check Account Type</label>
        <locationX>1066</locationX>
        <locationY>2062</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Army_or_AFP_or_Airforce</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OTHERSERVICE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notes2</targetReference>
            </connector>
            <label>Is Army or AFP or Airforce?</label>
        </rules>
        <rules>
            <name>Is_Other_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OTHERSERVICE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Business_or_Individual_Account1</targetReference>
            </connector>
            <label>Is Other Service?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Buy_Voucher_Condition</name>
        <label>Check Buy Voucher Condition</label>
        <locationX>3370</locationX>
        <locationY>915</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_buy_desexed_voucher</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Desex_Fees</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_buy_desexed_voucher</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignWarning</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Desexed</name>
        <label>Check Desexed?</label>
        <locationX>3059</locationX>
        <locationY>1057</locationY>
        <defaultConnector>
            <targetReference>Voucher_for_ACT_registered_dogs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Desexed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vDogPortfolioRecord.Is_Desexed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Dog_Portfolio1</targetReference>
            </connector>
            <label>Is Desexed?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Euthanised_Reason</name>
        <label>Check Euthanised Reason</label>
        <locationX>874</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Health_Welfare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Euthanised_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Health/Welfare</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checklist1</targetReference>
            </connector>
            <label>Health/Welfare</label>
        </rules>
        <rules>
            <name>Surrendered_for_euth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Euthanised_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surrendered for euth</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checklist2</targetReference>
            </connector>
            <label>Surrendered for euth</label>
        </rules>
        <rules>
            <name>Not_suitable_for_rehome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Euthanised_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not suitable for rehome</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checklist3</targetReference>
            </connector>
            <label>Not suitable for rehome</label>
        </rules>
        <rules>
            <name>Suitable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Euthanised_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suitable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checklist4</targetReference>
            </connector>
            <label>Suitable</label>
        </rules>
        <rules>
            <name>Investigation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Euthanised_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investigation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checklist5</targetReference>
            </connector>
            <label>Investigation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Expound_Reason</name>
        <label>Check Expound Reason</label>
        <locationX>2834</locationX>
        <locationY>1188</locationY>
        <defaultConnector>
            <targetReference>Check_Desexed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Other1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Expound_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OTHER</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Dog_Portfolio1</targetReference>
            </connector>
            <label>Is Other?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Expound_Reason1</name>
        <label>Check Expound Reason</label>
        <locationX>3311</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Update_Impound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Claimed_By_Keeper1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Expound_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CLAIMEDBYKEEPER</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignExpoundAccount</targetReference>
            </connector>
            <label>Is Claimed By Keeper?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Expound_Reasons</name>
        <label>Check Expound Reasons</label>
        <locationX>743</locationX>
        <locationY>1426</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_RSPCA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Expound_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RSPCA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notes</targetReference>
            </connector>
            <label>Is RSPCA?</label>
        </rules>
        <rules>
            <name>Is_Euthanised</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Expound_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EUTHANISED</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Euthanised_Reason_Checklist</targetReference>
            </connector>
            <label>Is Euthanised?</label>
        </rules>
        <rules>
            <name>Is_Rescued</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Expound_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RESCUED</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Business_or_Individual_Account</targetReference>
            </connector>
            <label>Is Rescued?</label>
        </rules>
        <rules>
            <name>Is_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Expound_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OTHER</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Account_Type</targetReference>
            </connector>
            <label>Is Other?</label>
        </rules>
        <rules>
            <name>Is_Sold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Expound_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SOLD</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Business_or_Individual_Account1</targetReference>
            </connector>
            <label>Is Sold?</label>
        </rules>
        <rules>
            <name>Is_Claimed_By_Keeper</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Expound_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CLAIMEDBYKEEPER</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Person_Account</targetReference>
            </connector>
            <label>Is Claimed By Keeper?</label>
        </rules>
        <rules>
            <name>Is_Dead_Still</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Expound_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DEADSTILL</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Impound_Dead_Still</targetReference>
            </connector>
            <label>Is Dead/Still?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Interstate</name>
        <label>Check Interstate</label>
        <locationX>2582</locationX>
        <locationY>1674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountRecord.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRegistrationNumber1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountRecord.BillingState</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ACT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registration_Fees</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selected_Account_Record_Type</name>
        <label>Check Selected Account Record Type</label>
        <locationX>1251</locationX>
        <locationY>792</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Business_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>businessAccountRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Business_Account</targetReference>
            </connector>
            <label>Is Business Account?</label>
        </rules>
        <rules>
            <name>Is_Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>personAccountRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Person_Account1</targetReference>
            </connector>
            <label>Is Person Account?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selected_Account_Record_Type1</name>
        <label>Check Selected Account Record Type</label>
        <locationX>1237</locationX>
        <locationY>1628</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Business_Account1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Record_Type1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>businessAccountRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Business_Account1</targetReference>
            </connector>
            <label>Is Business Account?</label>
        </rules>
        <rules>
            <name>Is_Person_Account1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Record_Type1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>personAccountRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Person_Account2</targetReference>
            </connector>
            <label>Is Person Account?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Microchip_Required</name>
        <label>Is Microchip Required?</label>
        <locationX>2060</locationX>
        <locationY>771</locationY>
        <defaultConnector>
            <targetReference>Update_Impound_Rescued</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Required</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vDogPortfolioRecord.Microchip_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vDogPortfolioRecord.Microchip_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Implanted_Microchip_Number</targetReference>
            </connector>
            <label>Required?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Microchip_Required1</name>
        <label>Is Microchip Required?</label>
        <locationX>2000</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>AssignMicrochipNumber1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Required2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vDogPortfolioRecord.Microchip_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vDogPortfolioRecord.Microchip_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Implanted_Microchip_Number1</targetReference>
            </connector>
            <label>Required?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Registration_Required</name>
        <label>Is Registration Required?</label>
        <locationX>2354</locationX>
        <locationY>1534</locationY>
        <defaultConnector>
            <targetReference>AssignRegistrationNumber1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Required1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vDogPortfolioRecord.Registration_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Interstate</targetReference>
            </connector>
            <label>Required?</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>accountType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Type__c</picklistField>
        <picklistObject>Impound_Expound__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>euthanisedReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Euthanised_Reason__c</picklistField>
        <picklistObject>Impound_Expound__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Expoundreasonpicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Reason_for_Expound__c</picklistField>
        <picklistObject>Impound_Expound__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>listOfRegistrationFees</name>
        <dataType>String</dataType>
        <displayField>Sub_Type__c</displayField>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registration and Licencing of Dogs and Cats</stringValue>
            </value>
        </filters>
        <limit>50</limit>
        <object>Fees__c</object>
        <outputAssignments>
            <assignToReference>regFee</assignToReference>
            <field>Fee__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>feeSubType</assignToReference>
            <field>Sub_Type__c</field>
        </outputAssignments>
        <sortField>Sub_Type__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>currentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>currentExpoundUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>noOfDaysInImpound</name>
        <dataType>Number</dataType>
        <expression>NOW()-{!vImpoundRecord.CreatedDate}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RegStatus_Number</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL( {!vDogPortfolioRecord.Registration_Status__c}, &quot;Approved&quot;),  &quot;Registration No: &quot;+{!vDogPortfolioRecord.Registration_Number__c},   &quot;Registration Status: &quot;+TEXT({!vDogPortfolioRecord.Registration_Status__c}))</expression>
    </formulas>
    <interviewLabel>Expound Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ExpoundProcess</label>
    <loops>
        <name>forLoop</name>
        <label>forLoop</label>
        <locationX>1876</locationX>
        <locationY>1311</locationY>
        <assignNextValueToReference>vImpoundUsedForLoop</assignNextValueToReference>
        <collectionReference>listOfImpoundRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Owner_Name_For_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Impound_Count_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Impound_Records</name>
        <label>Get All Impound Records</label>
        <locationX>1785</locationX>
        <locationY>1499</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>forLoop</targetReference>
        </connector>
        <filters>
            <field>Dog_Portfolio__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vImpoundRecord.Dog_Portfolio__c</elementReference>
            </value>
        </filters>
        <object>Impound_Expound__c</object>
        <outputReference>listOfImpoundRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Dog_Portfolio__c</queriedFields>
        <queriedFields>Owner__c</queriedFields>
        <queriedFields>Reason_for_Impound__c</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Kennel__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_Account_Record_Type_ID</name>
        <label>Get Business Account Record Type ID</label>
        <locationX>327</locationX>
        <locationY>1255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Expound_Reasons</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BUSINESSACCOUNT</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>businessAccountRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Desex_Fees</name>
        <label>Get Desex Fees</label>
        <locationX>3542</locationX>
        <locationY>1112</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignDesex</targetReference>
        </connector>
        <filters>
            <field>Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Desexing Fees</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Desexing Fees</stringValue>
            </value>
        </filters>
        <object>Fees__c</object>
        <outputAssignments>
            <assignToReference>desexFee</assignToReference>
            <field>Fee__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Expound_Record_Type_ID</name>
        <label>Get Expound Record Type ID</label>
        <locationX>188</locationX>
        <locationY>1168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Dog</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExpoundRecordTypeName</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>expoundRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Impound_Fee1</name>
        <label>Get Impound Fee</label>
        <locationX>2049</locationX>
        <locationY>1245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Microchip_Required1</targetReference>
        </connector>
        <filters>
            <field>Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Impound_Count</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Impound Fees</stringValue>
            </value>
        </filters>
        <object>Fees__c</object>
        <outputAssignments>
            <assignToReference>impoundFee</assignToReference>
            <field>Fee__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Microchip_Fee</name>
        <label>Get Microchip Fee</label>
        <locationX>2711</locationX>
        <locationY>585</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Impound_Rescued</targetReference>
        </connector>
        <filters>
            <field>Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Microchipping of an impounded dog</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Microchipping Fee</stringValue>
            </value>
        </filters>
        <object>Fees__c</object>
        <outputReference>vFeesRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Fee__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Microchip_Fee1</name>
        <label>Get Microchip Fee</label>
        <locationX>2499</locationX>
        <locationY>1304</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Registration_Required</targetReference>
        </connector>
        <filters>
            <field>Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Microchipping of an impounded dog</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Microchipping Fee</stringValue>
            </value>
        </filters>
        <object>Fees__c</object>
        <outputAssignments>
            <assignToReference>mcFee</assignToReference>
            <field>Fee__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_Name_For_Loop</name>
        <label>Get Owner Name For Loop</label>
        <locationX>1801</locationX>
        <locationY>1103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AppendAllImpoundRecords</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vImpoundUsedForLoop.Owner__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ownerNameForLoop</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account_Record_Type</name>
        <label>Get Person Account Record Type</label>
        <locationX>322</locationX>
        <locationY>1426</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Business_Account_Record_Type_ID</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PERSONACCOUNT</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>personAccountRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Purchase_Fees</name>
        <label>Get Purchase Fees</label>
        <locationX>1853</locationX>
        <locationY>1683</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Microchip_Required1</targetReference>
        </connector>
        <filters>
            <field>Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sale of a dog from the pound</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sale of Dogs</stringValue>
            </value>
        </filters>
        <object>Fees__c</object>
        <outputAssignments>
            <assignToReference>purchaseFee</assignToReference>
            <field>Fee__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Account</name>
        <label>Lookup Account</label>
        <locationX>1851</locationX>
        <locationY>2051</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Purchase_Fees</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>flowOutputAccountIdOwner</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Account_RSPCA</name>
        <label>Lookup Account (RSPCA)</label>
        <locationX>590</locationX>
        <locationY>722</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Impound_RSPCA</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RSPCA</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>vAccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Dog</name>
        <label>Lookup Dog</label>
        <locationX>180</locationX>
        <locationY>1448</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Please_verify_Dog_details</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vImpoundRecord.Dog_Portfolio__c</elementReference>
            </value>
        </filters>
        <object>Dog_Portfolio__c</object>
        <outputReference>vDogPortfolioRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>Breed__c</queriedFields>
        <queriedFields>Colour__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Is_Desexed__c</queriedFields>
        <queriedFields>Is_Microchipped__c</queriedFields>
        <queriedFields>Is_Registered__c</queriedFields>
        <queriedFields>Microchip_Number__c</queriedFields>
        <queriedFields>Number_of_Impounds__c</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>Dog_Name__c</queriedFields>
        <queriedFields>Owner__c</queriedFields>
        <queriedFields>Registration_Status__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Impound_record</name>
        <label>Lookup Impound record</label>
        <locationX>198</locationX>
        <locationY>937</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Expound_Record_Type_ID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>impoundId</elementReference>
            </value>
        </filters>
        <object>Impound_Expound__c</object>
        <outputReference>vImpoundRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Dog_Portfolio__c</queriedFields>
        <queriedFields>Kennel__c</queriedFields>
        <queriedFields>Owner__c</queriedFields>
        <queriedFields>Dangerous_Dog_fee__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Desexed_with_28_days__c</queriedFields>
        <queriedFields>Expound_Account__c</queriedFields>
        <queriedFields>Does_dog_have_history__c</queriedFields>
        <queriedFields>Dog_assessed_for_suitable_for_rehome__c</queriedFields>
        <queriedFields>Dog_been_impounded_for_more_than_3_days__c</queriedFields>
        <queriedFields>Dog_been_impounded_for_more_than_7_days__c</queriedFields>
        <queriedFields>Section_85_AWA_1992__c</queriedFields>
        <queriedFields>Is_Desex_Voucher_Issued__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Dog_Portfolio</name>
        <label>Update Dog Portfolio</label>
        <locationX>2355</locationX>
        <locationY>507</locationY>
        <connector>
            <targetReference>Get_Microchip_Fee</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vDogPortfolioRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Microchip_Number__c</field>
            <value>
                <elementReference>Microchip_Number1</elementReference>
            </value>
        </inputAssignments>
        <object>Dog_Portfolio__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Dog_Portfolio1</name>
        <label>Update Dog Portfolio</label>
        <locationX>3064</locationX>
        <locationY>1349</locationY>
        <connector>
            <targetReference>Check_Expound_Reason1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vDogPortfolioRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Microchip_Number__c</field>
            <value>
                <elementReference>microchipNum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Number__c</field>
            <value>
                <elementReference>regNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Status__c</field>
            <value>
                <elementReference>registrationStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Dog_Portfolio__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Impound</name>
        <label>Update Impound</label>
        <locationX>3819</locationX>
        <locationY>1438</locationY>
        <connector>
            <targetReference>Update_Kennel_Availability</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>impoundId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Time_of_Expound__c</field>
            <value>
                <elementReference>currentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desex_Fee__c</field>
            <value>
                <elementReference>desexFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desexed_with_28_days__c</field>
            <value>
                <elementReference>desexWarning</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expound_Account__c</field>
            <value>
                <elementReference>flowOutputAccountIdOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expound_User__c</field>
            <value>
                <elementReference>currentExpoundUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impound_Fee__c</field>
            <value>
                <elementReference>impoundFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Desex_Voucher_Issued__c</field>
            <value>
                <elementReference>isDesexVoucherIssue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Microchipping_Fee__c</field>
            <value>
                <elementReference>mcFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_days_in_impound__c</field>
            <value>
                <elementReference>No_of_Days_in_Impound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>ownerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Fee__c</field>
            <value>
                <elementReference>purchaseFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Expound__c</field>
            <value>
                <elementReference>Expound_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>expoundRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reg_full_fee__c</field>
            <value>
                <elementReference>regFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <object>Impound_Expound__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Impound_Dead_Still</name>
        <label>Update Impound (Dead/Still)</label>
        <locationX>2332</locationX>
        <locationY>954</locationY>
        <connector>
            <targetReference>Update_Kennel_Availability</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>impoundId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Time_of_Expound__c</field>
            <value>
                <elementReference>currentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expound_User__c</field>
            <value>
                <elementReference>currentExpoundUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_days_in_impound__c</field>
            <value>
                <elementReference>No_of_Days_in_Impound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Expound__c</field>
            <value>
                <elementReference>Expound_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>expoundRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Impound_Expound__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Impound_Rescued</name>
        <label>Update Impound (Rescued)</label>
        <locationX>3010</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_Kennel_Availability</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>impoundId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Time_of_Expound__c</field>
            <value>
                <elementReference>currentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expound_Account__c</field>
            <value>
                <elementReference>flowOutputAccountIdOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expound_User__c</field>
            <value>
                <elementReference>currentExpoundUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Microchipping_Fee__c</field>
            <value>
                <elementReference>vFeesRecord.Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_days_in_impound__c</field>
            <value>
                <elementReference>No_of_Days_in_Impound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Expound__c</field>
            <value>
                <elementReference>Expound_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>expoundRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Impound_Expound__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Impound_RSPCA</name>
        <label>Update Impound (RSPCA)</label>
        <locationX>547</locationX>
        <locationY>108</locationY>
        <connector>
            <targetReference>Update_Kennel_Availability</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>impoundId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dangerous_Dog_fee__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_of_Expound__c</field>
            <value>
                <elementReference>currentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desex_Fee__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_dog_have_history__c</field>
            <value>
                <elementReference>checklist555</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dog_assessed_for_suitable_for_rehome__c</field>
            <value>
                <elementReference>checklist444</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dog_been_impounded_for_more_than_3_days__c</field>
            <value>
                <elementReference>checklist222</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dog_been_impounded_for_more_than_7_days__c</field>
            <value>
                <elementReference>checklist333</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Euthanised_Reason__c</field>
            <value>
                <elementReference>Euthanised_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expound_Account__c</field>
            <value>
                <elementReference>vAccountRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expound_User__c</field>
            <value>
                <elementReference>currentExpoundUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impound_Fee__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Infringement_fees__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Microchipping_Fee__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_days_in_impound__c</field>
            <value>
                <elementReference>No_of_Days_in_Impound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Fee__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Expound__c</field>
            <value>
                <elementReference>Expound_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>expoundRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reg_full_fee__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Section_85_AWA_1992__c</field>
            <value>
                <elementReference>checklist111</elementReference>
            </value>
        </inputAssignments>
        <object>Impound_Expound__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Kennel_Availability</name>
        <label>Update Kennel Availability</label>
        <locationX>3944</locationX>
        <locationY>825</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vImpoundRecord.Kennel__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Kennel__c</object>
    </recordUpdates>
    <screens>
        <name>Capture_Implanted_Microchip_Number</name>
        <label>Capture Implanted Microchip Number</label>
        <locationX>2060</locationX>
        <locationY>507</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Dog_Portfolio</targetReference>
        </connector>
        <fields>
            <name>CaptureImplantedMicrochipNumber</name>
            <fieldText>Please capture Implanted Microchip Number</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Microchip_Number1</name>
            <dataType>String</dataType>
            <fieldText>Microchip Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Capture_Implanted_Microchip_Number1</name>
        <label>Capture Implanted Microchip Number</label>
        <locationX>2191</locationX>
        <locationY>1321</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignMicrochipNumber</targetReference>
        </connector>
        <fields>
            <name>CaptureImplantedMicrochipNumber1</name>
            <fieldText>Please capture Implanted Microchip Number</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Microchip_Number2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vDogPortfolioRecord.Microchip_Number__c</elementReference>
            </defaultValue>
            <fieldText>Microchip Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Checklist1</name>
        <label>Checklist1</label>
        <locationX>686</locationX>
        <locationY>530</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignChecklist1</targetReference>
        </connector>
        <fields>
            <name>Section_85_AWA_1992</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Section 85 AWA 1992</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Checklist2</name>
        <label>Checklist2</label>
        <locationX>787</locationX>
        <locationY>583</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignChecklist2</targetReference>
        </connector>
        <fields>
            <name>Has_dog_been_impounded_for_more_than_3_days</name>
            <dataType>Boolean</dataType>
            <fieldText>Has dog been impounded for more than 3 days</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Checklist3</name>
        <label>Checklist3</label>
        <locationX>879</locationX>
        <locationY>576</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignChecklist3</targetReference>
        </connector>
        <fields>
            <name>Has_dog_been_impounded_for_more_than_7_days1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Has dog been impounded for more than 7 days</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Has_the_dog_been_assessed_for_suitable_for_rehome1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Has the dog been assessed for suitable for rehome</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Does_dog_have_history1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Does dog have history</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Checklist4</name>
        <label>Checklist4</label>
        <locationX>998</locationX>
        <locationY>527</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignChecklist4</targetReference>
        </connector>
        <fields>
            <name>Has_dog_been_impounded_for_more_than_7_days2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Has dog been impounded for more than 7 days</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Has_the_dog_been_assessed_for_suitable_for_rehome2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Has the dog been assessed for suitable for rehome</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Does_dog_have_history2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Does dog have history</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Checklist5</name>
        <label>Checklist5</label>
        <locationX>1112</locationX>
        <locationY>513</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignChecklist5</targetReference>
        </connector>
        <fields>
            <name>Has_dog_been_impounded_for_more_than_7_days3</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Has dog been impounded for more than 7 days</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Has_the_dog_been_assessed_for_suitable_for_rehome3</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Has the dog been assessed for suitable for rehome</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Does_dog_have_history3</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Does dog have history</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dog_Registration</name>
        <label>Dog Registration</label>
        <locationX>3286</locationX>
        <locationY>1653</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignRegistrationNumber</targetReference>
        </connector>
        <fields>
            <name>Registration_Number</name>
            <fieldText>&lt;p&gt;Registration Number: {!vDogPortfolioRecord.Registration_Number__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Euthanised_Reason_Checklist</name>
        <label>Euthanised Reason &amp; Checklist</label>
        <locationX>888</locationX>
        <locationY>1042</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Euthanised_Reason</targetReference>
        </connector>
        <fields>
            <name>EuthanisedReasonChecklist</name>
            <fieldText>Please select euthanised reason &amp; checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Euthanised_Reason</name>
            <choiceReferences>euthanisedReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Euthanised Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Impound_Count_Screen</name>
        <label>Impound Count Screen</label>
        <locationX>1961</locationX>
        <locationY>1109</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Impound_Fee1</targetReference>
        </connector>
        <fields>
            <name>RelatedImpoundRecords</name>
            <fieldText>Please find the impound history below and select the count accordingly&lt;br/&gt;&lt;br/&gt;{!varDisplayImpoundRecords}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Impound_Count</name>
            <choiceReferences>IMPOUND_ONE</choiceReferences>
            <choiceReferences>IMPOUND_TWO</choiceReferences>
            <choiceReferences>IMPOUND_THREE</choiceReferences>
            <choiceReferences>IMPOUND_FOUR</choiceReferences>
            <choiceReferences>IMPOUND_FIVE</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Impound Count</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Microchip_Verification</name>
        <label>Microchip Verification</label>
        <locationX>889</locationX>
        <locationY>349</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Euthanised</targetReference>
        </connector>
        <fields>
            <name>MicrochipVerification</name>
            <fieldText>Please verify the microchip number</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MicrochipNumber1</name>
            <fieldText>Microchip Number: {!vDogPortfolioRecord.Microchip_Number__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Notes</name>
        <label>Notes</label>
        <locationX>621</locationX>
        <locationY>961</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_Account_RSPCA</targetReference>
        </connector>
        <fields>
            <name>Notes1</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Notes2</name>
        <label>Notes</label>
        <locationX>1399</locationX>
        <locationY>2046</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_Account</targetReference>
        </connector>
        <fields>
            <name>Notes3</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Please_verify_Dog_details</name>
        <label>Please verify Dog details</label>
        <locationX>183</locationX>
        <locationY>1648</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reason_for_Expound</targetReference>
        </connector>
        <fields>
            <name>DisplayDogDetails</name>
            <fieldText>&lt;p&gt;Please verify the dog details&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Name: {!vDogPortfolioRecord.Dog_Name__c}&lt;/p&gt;&lt;p&gt;Breed: {!vDogPortfolioRecord.Breed__c}&lt;/p&gt;&lt;p&gt;Age: {!vDogPortfolioRecord.Age__c}&lt;/p&gt;&lt;p&gt;Colour: {!vDogPortfolioRecord.Colour__c}&lt;/p&gt;&lt;p&gt;Gender: {!vDogPortfolioRecord.Gender__c}&lt;/p&gt;&lt;p&gt;{!RegStatus_Number}&lt;/p&gt;&lt;p&gt;Microchip No: {!vDogPortfolioRecord.Microchip_Number__c}&lt;/p&gt;&lt;p&gt;Is Desexed?: {!vDogPortfolioRecord.Is_Desexed__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reason_for_Expound</name>
        <label>Reason for Expound</label>
        <locationX>332</locationX>
        <locationY>1650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Person_Account_Record_Type</targetReference>
        </connector>
        <fields>
            <name>ReasonForExpound</name>
            <fieldText>Select Expound Reason</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ImpoundDateTime</name>
            <fieldText>Date/Time of Impound: {!vImpoundRecord.CreatedDate}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>No_of_Days_in_Impound</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>noOfDaysInImpound</elementReference>
            </defaultValue>
            <fieldText>No of Days in Impound</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Expound_Reason</name>
            <choiceReferences>Expoundreasonpicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Expound Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Registration_Fees</name>
        <label>Registration Fees</label>
        <locationX>3030</locationX>
        <locationY>1730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Dog_Registration</targetReference>
        </connector>
        <fields>
            <name>RegistrationFees</name>
            <fieldText>Please select registration fees</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Registration_Fee</name>
            <choiceReferences>listOfRegistrationFees</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Registration Fee</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Account_Type</name>
        <label>Select Account Type</label>
        <locationX>758</locationX>
        <locationY>2069</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Account_Type</targetReference>
        </connector>
        <fields>
            <name>Type</name>
            <choiceReferences>accountType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Business_or_Individual_Account</name>
        <label>Select Business or Individual Account</label>
        <locationX>1238</locationX>
        <locationY>1078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Selected_Account_Record_Type</targetReference>
        </connector>
        <fields>
            <name>SelectBusinessOrIndividualAccount</name>
            <fieldText>Select Business or Individual Account</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Record_Type</name>
            <choiceReferences>businessAccountRecordType</choiceReferences>
            <choiceReferences>personAccountRecordType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Record Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Business_or_Individual_Account1</name>
        <label>Select Business or Individual Account</label>
        <locationX>1074</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Selected_Account_Record_Type1</targetReference>
        </connector>
        <fields>
            <name>SelectBusinessOrIndividualAccount1</name>
            <fieldText>Select Business or Individual Account</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Record_Type1</name>
            <choiceReferences>businessAccountRecordType</choiceReferences>
            <choiceReferences>personAccountRecordType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Record Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_POI_Screen</name>
        <label>Upload POI Screen</label>
        <locationX>1809</locationX>
        <locationY>764</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Microchip_Required</targetReference>
        </connector>
        <fields>
            <name>CapturePOI</name>
            <fieldText>Capture or Upload POI</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Upload_POI</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload POI</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>impoundId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Voucher_for_ACT_registered_dogs</name>
        <label>Voucher for ACT registered dogs</label>
        <locationX>3242</locationX>
        <locationY>988</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Buy_Voucher_Condition</targetReference>
        </connector>
        <fields>
            <name>ACTVoucher</name>
            <fieldText>Voucher for ACT registered dogs</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_want_to_buy_desexed_voucher</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to buy desexed voucher?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Lookup_Impound_record</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Search_Business_Account</name>
        <label>Search Business Account</label>
        <locationX>1545</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Upload_POI_Screen</targetReference>
        </connector>
        <flowName>Search_Business_Account</flowName>
        <inputAssignments>
            <name>flowInputAccountId</name>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>flowOutputAccountIdOwner</assignToReference>
            <name>flowOutputAccountId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Search_Business_Account1</name>
        <label>Search Business Account</label>
        <locationX>1561</locationX>
        <locationY>1786</locationY>
        <connector>
            <targetReference>Get_Purchase_Fees</targetReference>
        </connector>
        <flowName>Search_Business_Account</flowName>
        <inputAssignments>
            <name>flowInputAccountId</name>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>flowOutputAccountIdOwner</assignToReference>
            <name>flowOutputAccountId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Search_Person_Account</name>
        <label>Search Person Account</label>
        <locationX>1569</locationX>
        <locationY>1503</locationY>
        <connector>
            <targetReference>Get_All_Impound_Records</targetReference>
        </connector>
        <flowName>Search_Person_Account</flowName>
        <inputAssignments>
            <name>flowInputAccountId</name>
            <value>
                <elementReference>vDogPortfolioRecord.Owner__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>flowOutputAccountIdOwner</assignToReference>
            <name>flowOutputAccountId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Search_Person_Account1</name>
        <label>Search Person Account</label>
        <locationX>1547</locationX>
        <locationY>705</locationY>
        <connector>
            <targetReference>Upload_POI_Screen</targetReference>
        </connector>
        <flowName>Search_Person_Account</flowName>
        <inputAssignments>
            <name>flowInputAccountId</name>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>flowOutputAccountIdOwner</assignToReference>
            <name>flowOutputAccountId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Search_Person_Account2</name>
        <label>Search Person Account</label>
        <locationX>1563</locationX>
        <locationY>1621</locationY>
        <connector>
            <targetReference>Get_Purchase_Fees</targetReference>
        </connector>
        <flowName>Search_Person_Account</flowName>
        <inputAssignments>
            <name>flowInputAccountId</name>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>flowOutputAccountIdOwner</assignToReference>
            <name>flowOutputAccountId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>accountFetchedBasedOnFlowInputOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountRecordOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>businessAccountRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>checklist111</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>checklist222</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>checklist333</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>checklist444</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>checklist555</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>desexFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>desexWarning</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>vImpoundRecord.Desexed_with_28_days__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>expoundRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>feeSubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flowOutputAccountIdOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>impoundFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>impoundId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Infringement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Infringement__c</objectType>
    </variables>
    <variables>
        <name>isDesexVoucherIssue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>vImpoundRecord.Is_Desex_Voucher_Issued__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>listOfImpoundRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Impound_Expound__c</objectType>
    </variables>
    <variables>
        <name>mcFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>microchipNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>vDogPortfolioRecord.Owner__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>ownerNameForLoop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>personAccountRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>purchaseFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>regFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>registrationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>vDogPortfolioRecord.Registration_Status__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>regNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varDisplayImpoundRecords</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDogPortfolioRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Dog_Portfolio__c</objectType>
    </variables>
    <variables>
        <name>vFeesRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fees__c</objectType>
    </variables>
    <variables>
        <name>vImpoundRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Impound_Expound__c</objectType>
    </variables>
    <variables>
        <name>vImpoundUsedForLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Impound_Expound__c</objectType>
    </variables>
</Flow>
