flows/Home_Impound_v2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Dog_Address_offline</name>
        <label>Assign Dog Address offline</label>
        <locationX>1067</locationX>
        <locationY>1771</locationY>
        <assignmentItems>
            <assignToReference>DogAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Number_and_Street_Name2} {!Suburb} {!State} {!Postcode2}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignOwnerOfflineKey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Dog_Address_Online</name>
        <label>Assign Dog Address Online</label>
        <locationX>1004</locationX>
        <locationY>1258</locationY>
        <assignmentItems>
            <assignToReference>DogAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Number_and_Street_Name} {!City_Suburb} {!PostCode} {!State}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DogOwnerAfterSearch.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Dog_Id</name>
        <label>Assign Dog Id</label>
        <locationX>510</locationX>
        <locationY>1009</locationY>
        <assignmentItems>
            <assignToReference>DogId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dog.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Skip_if_Owner_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Dog_Owner_to_Dog_record</name>
        <label>Assign Dog Owner to Dog record</label>
        <locationX>1180</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Dog.Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Dog_portfolio_with_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOwnerOfflineKey</name>
        <label>AssignOwnerOfflineKey</label>
        <locationX>1294</locationX>
        <locationY>1757</locationY>
        <assignmentItems>
            <assignToReference>Dog.OfflineLinkWOLI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Id}HomeImpound{!Microchip_Number}{!Breed}{!Colour}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dog.Created_Offline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dog.Registration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created in Field</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Dog</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dog_Assignment</name>
        <label>Dog Assignment</label>
        <locationX>807</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>Dog.Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Age</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dog.Breed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Breed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dog.Colour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Colour</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dog.Is_Desexed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsDesexed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dog.Microchip_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Microchip_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dog.Dog_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dog.Weight_kgs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Weight</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dog.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gender1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dog.Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_the_app_Online</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Online</name>
        <label>Online</label>
        <locationX>369</locationX>
        <locationY>41</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Online__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uncheck_Online_checkbox</name>
        <label>Uncheck Online checkbox</label>
        <locationX>1474</locationX>
        <locationY>546</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Online__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Online_Checkbox_on_SA</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Female1</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Female</elementReference>
        </value>
    </choices>
    <choices>
        <name>Male1</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Male</elementReference>
        </value>
    </choices>
    <constants>
        <name>recordTypeIDPersonAccount</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012p00000007AFMAA2</stringValue>
        </value>
    </constants>
    <constants>
        <name>WOLIhomeImpoundRTid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012p0000000RgwAAAS</stringValue>
        </value>
    </constants>
    <constants>
        <name>WorkTypeHomeImpoundId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>08qp0000000CfpCAAS</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Account_Exists</name>
        <label>Account Exists?</label>
        <locationX>1099</locationX>
        <locationY>1251</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DogOwnerAfterSearch.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_owner</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
        <rules>
            <name>Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DogOwnerAfterSearch.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_owner</targetReference>
            </connector>
            <label>Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Impound</name>
        <label>Create Impound?</label>
        <locationX>1549</locationX>
        <locationY>982</locationY>
        <defaultConnector>
            <targetReference>Cannot_Create_impound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>The_dog_s_must_be_registered_microchipped_and_de_sexed_unless_exempted_under_a_s</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>The_dog_must_be_kept_in_a_yard_that_is_enclosed_by_a_fence_that_is_higher_than_a</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Any_gate_or_door_to_a_yard_in_which_the_dog_is_kept_must_be_spring_latched_and_s</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_WOLI_Home_Impound</targetReference>
            </connector>
            <label>Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dog_Found</name>
        <label>Dog Found?</label>
        <locationX>413</locationX>
        <locationY>746</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dog_Found_Result</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dog.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dog_Details</targetReference>
            </connector>
            <label>Dog Found Result</label>
        </rules>
        <rules>
            <name>Dog_Not_Found_Result</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dog.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dog_Not_Found_Screen</targetReference>
            </connector>
            <label>Dog Not Found Result</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_account_Owner_is_different_repart</name>
        <label>If account Owner is different repart</label>
        <locationX>1240</locationX>
        <locationY>1054</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dog.Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DogOwnerAfterSearch.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Successful_screen</targetReference>
            </connector>
            <label>Same Owner</label>
        </rules>
        <rules>
            <name>Not_Same_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dog.Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>DogOwnerAfterSearch.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Dog_Portfolio_Owner</targetReference>
            </connector>
            <label>Not Same Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_app_offline</name>
        <label>Is the app offline?</label>
        <locationX>554</locationX>
        <locationY>254</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>The_app_is_Online</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Online_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ranger_Dog_Search</targetReference>
            </connector>
            <label>The app is Online</label>
        </rules>
        <rules>
            <name>The_app_is_Offline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Online_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Dog_Details</targetReference>
            </connector>
            <label>The app is Offline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_app_Online</name>
        <label>Is the app Online</label>
        <locationX>754</locationX>
        <locationY>1113</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Online2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Online_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Dog_Record_Online</targetReference>
            </connector>
            <label>Online</label>
        </rules>
        <rules>
            <name>Offline2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Online_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Details</targetReference>
            </connector>
            <label>Offline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ranger_Dog_Search</name>
        <label>Ranger Dog Search</label>
        <locationX>419</locationX>
        <locationY>387</locationY>
        <defaultConnector>
            <targetReference>Dog_Not_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Micro_and_Rego</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Microchip_Number</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Microchip_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Registration_Number</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Registration_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_dog_with_rego_micro</targetReference>
            </connector>
            <label>Micro and Rego</label>
        </rules>
        <rules>
            <name>Search_with_Microchip_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Microchip_Number</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Microchip_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Dog_with_microchip</targetReference>
            </connector>
            <label>Search with Microchip Number</label>
        </rules>
        <rules>
            <name>Search_with_Rego_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Registration_Number</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Registration_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_dog_with_rego_number</targetReference>
            </connector>
            <label>Search with Rego Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Right_Dog</name>
        <label>Right Dog?</label>
        <locationX>690</locationX>
        <locationY>883</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_the_right_dog</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Dog_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_the_right_dog</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Breed_Screen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_if_Owner_Exists</name>
        <label>Skip if Owner Exists</label>
        <locationX>251</locationX>
        <locationY>1105</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dog.Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dog_Owner</targetReference>
            </connector>
            <label>Owner Exist</label>
        </rules>
        <rules>
            <name>Owner_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dog.Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Information</targetReference>
            </connector>
            <label>Owner Does Not Exist</label>
        </rules>
    </decisions>
    <description>Flow rebuilt on WOLI instead of Impound object so that the ranger can create service report against the WOLI</description>
    <dynamicChoiceSets>
        <name>DogGender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Gender__c</picklistField>
        <picklistObject>Dog_Portfolio__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListOfBreed</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Search_Breed</elementReference>
            </value>
        </filters>
        <object>Breed_List__c</object>
        <outputAssignments>
            <assignToReference>BreedId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BreedName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Home Impound v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Home Impound v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Dog</name>
        <label>Create Dog</label>
        <locationX>1524</locationX>
        <locationY>1672</locationY>
        <connector>
            <targetReference>Successful_screen</targetReference>
        </connector>
        <inputReference>Dog</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Dog_Record_Online</name>
        <label>Create Dog Record Online</label>
        <locationX>623</locationX>
        <locationY>1115</locationY>
        <assignRecordIdToReference>DogId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Created_Dog_record</targetReference>
        </connector>
        <inputAssignments>
            <field>Age__c</field>
            <value>
                <elementReference>Age_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breed_List__c</field>
            <value>
                <elementReference>BreedId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breed__c</field>
            <value>
                <elementReference>BreedName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colour__c</field>
            <value>
                <elementReference>Colour2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dog_Name__c</field>
            <value>
                <elementReference>Dog_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Gender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Desexed__c</field>
            <value>
                <elementReference>Is_Desex</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Microchip_Number__c</field>
            <value>
                <elementReference>Microchip_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Status__c</field>
            <value>
                <stringValue>Created in Field</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_kgs__c</field>
            <value>
                <elementReference>Weight_2</elementReference>
            </value>
        </inputAssignments>
        <object>Dog_Portfolio__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_owner</name>
        <label>Create owner</label>
        <locationX>1066</locationX>
        <locationY>1436</locationY>
        <assignRecordIdToReference>OwnerId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Dog_Owner_to_Dog_record</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>City_Suburb</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>PostCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Number_and_Street_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>Date_Of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordTypeIDPersonAccount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Owner_Offline</name>
        <label>Create Owner Offline</label>
        <locationX>946</locationX>
        <locationY>1655</locationY>
        <assignRecordIdToReference>OwnerId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Dog_Address_offline</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Suburb</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Postcode2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <stringValue>ACT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Number_and_Street_Name2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_Offline__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OfflineLinkWOLI__c</field>
            <value>
                <stringValue>{!Id}HomeImpound{!Microchip_Number}{!Breed}{!Colour}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>Date_Of_Birth2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Email2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordTypeIDPersonAccount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_WOLI_Home_Impound</name>
        <label>Create WOLI Home Impound</label>
        <locationX>1449</locationX>
        <locationY>669</locationY>
        <connector>
            <targetReference>Uncheck_Online_checkbox</targetReference>
        </connector>
        <inputAssignments>
            <field>Conditions_under_which_dog_leaves__c</field>
            <value>
                <elementReference>Dog_leaving_premises_conditions_times</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_of_Home_Impound__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desexed_within_28_days__c</field>
            <value>
                <elementReference>The_dog_s_must_be_de_sexed_within_28_days_of_Domestic_Animal_Services_formally_a</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dog__c</field>
            <value>
                <elementReference>DogId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dog_contained_in_above_premises_in_ACT__c</field>
            <value>
                <elementReference>dog_s_must_be_contained_at_the_above_premises_in_the_ACT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dog_must_be_kept_in_fence_enclosed_yard__c</field>
            <value>
                <elementReference>The_dog_must_be_kept_in_a_yard_that_is_enclosed_by_a_fence_that_is_higher_than_a</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gate_Door_spring_latched_and_padlocked__c</field>
            <value>
                <elementReference>Any_gate_or_door_to_a_yard_in_which_the_dog_is_kept_must_be_spring_latched_and_s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Impound__c</field>
            <value>
                <elementReference>ImpoundId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Left_with_carer_other_than_owner__c</field>
            <value>
                <elementReference>If_the_dog_s_are_to_be_left_under_the_care_of_anyone_other_than_yourself_either</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Must_be_presented_to_DAS_with_24_hrs__c</field>
            <value>
                <elementReference>The_dog_s_must_be_presented_to_Domestic_Animal_Services_within_24_hours_of_any_r</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Must_be_restrained_with_keeper_outside__c</field>
            <value>
                <elementReference>If_the_dog_leaves_the_premises_at_which_the_dog_is_kept_the_dog_must_only_be_in</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Must_not_leave_premises_under_conditions__c</field>
            <value>
                <elementReference>If_the_dog_must_not_leave_the_premises_at_which_the_dog_is_kept_or_may_only_leav</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OfflineLinkWOLI__c</field>
            <value>
                <stringValue>{!Id}HomeImpound{!Microchip_Number}{!Breed}{!Colour}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_conditions_imposed_on_Home_impound__c</field>
            <value>
                <elementReference>Other_Conditions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_Person_in_Charge__c</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>WOLIhomeImpoundRTid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_microchipped_and_desexed__c</field>
            <value>
                <elementReference>The_dog_s_must_be_registered_microchipped_and_de_sexed_unless_exempted_under_a_s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Home Impound for {!Dog.Breed__c} {!Dog.Colour__c} {!Dog.Registration_Number__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>ServiceAppointment.Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>WorkTypeHomeImpoundId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>Dog_Owner</name>
        <label>Dog Owner</label>
        <locationX>248</locationX>
        <locationY>1258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_Information</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dog.Owner__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>DogOwner</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Dog_record</name>
        <label>Get Created Dog record</label>
        <locationX>501</locationX>
        <locationY>1120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Skip_if_Owner_Exists</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DogId</elementReference>
            </value>
        </filters>
        <object>Dog_Portfolio__c</object>
        <outputReference>Dog</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Breed__c</queriedFields>
        <queriedFields>Colour__c</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>Microchip_Number__c</queriedFields>
        <queriedFields>Weight_kgs__c</queriedFields>
        <queriedFields>Dog_Name__c</queriedFields>
        <queriedFields>Is_Desexed__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Dog_with_microchip</name>
        <label>Lookup Dog with microchip</label>
        <locationX>180</locationX>
        <locationY>545</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dog_Found</targetReference>
        </connector>
        <filters>
            <field>Microchip_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Microchip_Number</elementReference>
            </value>
        </filters>
        <object>Dog_Portfolio__c</object>
        <outputReference>Dog</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Breed__c</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>Colour__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>Microchip_Number__c</queriedFields>
        <queriedFields>Is_Desexed__c</queriedFields>
        <queriedFields>Owner__c</queriedFields>
        <queriedFields>Dog_Name__c</queriedFields>
        <queriedFields>Weight_kgs__c</queriedFields>
        <queriedFields>Is_Dangerous__c</queriedFields>
        <queriedFields>Is_Dog_On_Control_Order__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_dog_with_rego_micro</name>
        <label>Lookup dog with rego micro</label>
        <locationX>547</locationX>
        <locationY>582</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dog_Found</targetReference>
        </connector>
        <filters>
            <field>Microchip_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Microchip_Number</elementReference>
            </value>
        </filters>
        <filters>
            <field>Registration_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Registration_Number</elementReference>
            </value>
        </filters>
        <object>Dog_Portfolio__c</object>
        <outputReference>Dog</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>Breed__c</queriedFields>
        <queriedFields>Colour__c</queriedFields>
        <queriedFields>Dog_Name__c</queriedFields>
        <queriedFields>Is_Desexed__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Microchip_Number__c</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>Weight_kgs__c</queriedFields>
        <queriedFields>Owner__c</queriedFields>
        <queriedFields>Is_Dangerous__c</queriedFields>
        <queriedFields>Is_Dog_On_Control_Order__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_dog_with_rego_number</name>
        <label>Lookup dog with rego number</label>
        <locationX>340</locationX>
        <locationY>592</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dog_Found</targetReference>
        </connector>
        <filters>
            <field>Registration_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Registration_Number</elementReference>
            </value>
        </filters>
        <object>Dog_Portfolio__c</object>
        <outputReference>Dog</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Breed__c</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>Colour__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Dog_Name__c</queriedFields>
        <queriedFields>Is_Desexed__c</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>Weight_kgs__c</queriedFields>
        <queriedFields>Owner__c</queriedFields>
        <queriedFields>Microchip_Number__c</queriedFields>
        <queriedFields>Is_Dangerous__c</queriedFields>
        <queriedFields>Is_Dog_On_Control_Order__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Owner</name>
        <label>Lookup Owner</label>
        <locationX>645</locationX>
        <locationY>1267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_Email_DOB</targetReference>
        </connector>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>DogOwnerAfterSearch</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>PersonBirthdate</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_SA</name>
        <label>Lookup SA</label>
        <locationX>251</locationX>
        <locationY>34</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Online</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_SA2</name>
        <label>Lookup SA2</label>
        <locationX>743</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_app_offline</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
        <queriedFields>Online_Formula__c</queriedFields>
        <queriedFields>Online__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Dog_Portfolio_Owner</name>
        <label>Update Dog Portfolio Owner</label>
        <locationX>1384</locationX>
        <locationY>1121</locationY>
        <connector>
            <targetReference>Successful_screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DogId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>DogOwnerAfterSearch.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Dog_Portfolio__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Dog_portfolio_with_Owner</name>
        <label>Update Dog portfolio with Owner</label>
        <locationX>1248</locationX>
        <locationY>1428</locationY>
        <connector>
            <targetReference>Successful_screen</targetReference>
        </connector>
        <inputReference>Dog</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Online_Checkbox_on_SA</name>
        <label>Update Online Checkbox on SA</label>
        <locationX>1624</locationX>
        <locationY>499</locationY>
        <connector>
            <targetReference>Home_Impound_Record_Created</targetReference>
        </connector>
        <inputReference>ServiceAppointment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_owner</name>
        <label>Update owner</label>
        <locationX>1103</locationX>
        <locationY>1075</locationY>
        <connector>
            <targetReference>If_account_Owner_is_different_repart</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DogOwnerAfterSearch.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>City_Suburb</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>PostCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Number_and_Street_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>Date_Of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>502</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>DogInformation</targetReference>
        </connector>
        <inputReference>ServiceAppointment</inputReference>
    </recordUpdates>
    <screens>
        <name>Breed_Selection_List</name>
        <label>Breed Selection List</label>
        <locationX>952</locationX>
        <locationY>737</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Dog_Online</targetReference>
        </connector>
        <fields>
            <name>Breed_Selection</name>
            <choiceReferences>ListOfBreed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Breed Selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_Create_impound</name>
        <label>Cannot Create impound</label>
        <locationX>1736</locationX>
        <locationY>978</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Impound</name>
            <fieldText>The home impound record cannot be created if all these conditions are not met: 
- Dog Registration
- Dog Microchipped
- Fences Requirement
- Gates Requirement</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Conditions</name>
        <label>Conditions</label>
        <locationX>1552</locationX>
        <locationY>1311</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Impound</targetReference>
        </connector>
        <fields>
            <name>DogAddress_Display</name>
            <fieldText>The dog is home impounded at {!DogAddress}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dog_s_must_be_contained_at_the_above_premises_in_the_ACT</name>
            <dataType>Boolean</dataType>
            <fieldText>Dog/s must be contained at the above premises in the ACT</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>The_dog_s_must_be_registered_microchipped_and_de_sexed_unless_exempted_under_a_s</name>
            <dataType>Boolean</dataType>
            <fieldText>The dog/s must be registered, microchipped and de-sexed unless exempted under a  sexual entire permit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>The_dog_must_be_kept_in_a_yard_that_is_enclosed_by_a_fence_that_is_higher_than_a</name>
            <dataType>Boolean</dataType>
            <fieldText>The dog must be kept in a yard that is enclosed by a fence that is higher than a stated minimum height; and is constructed in a stated way or from a stated material; and is in good repair and structurally sound; and has no gaps or holes in or under it large enough to allow the dog to escape</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Any_gate_or_door_to_a_yard_in_which_the_dog_is_kept_must_be_spring_latched_and_s</name>
            <dataType>Boolean</dataType>
            <fieldText>Any gate or door to a yard in which the dog is kept must be spring-latched and self closing; and be padlocked when the keeper is not in the yard; and be of a stated minimum height; and be constructed in a stated way or from a stated material; and be in good repair and structurally sound; and not have any gaps or holes in or under it large enough to allow the dog to escape through</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>If_the_dog_leaves_the_premises_at_which_the_dog_is_kept_the_dog_must_only_be_in</name>
            <dataType>Boolean</dataType>
            <fieldText>If the dog leaves the premises at which the dog is kept, the dog must only be in the care of the keeper or another stated person who is at least 18 years old; and be restrained by a leash, or muzzle, of a stated kind; and be under the effective control of the keeper or other person; and not be taken into, or within a stated distance of, an off-lead area or another stated place</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>If_the_dog_must_not_leave_the_premises_at_which_the_dog_is_kept_or_may_only_leav</name>
            <dataType>Boolean</dataType>
            <fieldText>If the dog must not leave the premises at which the dog is kept or may only leave the premises within stated times or for stated periods</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Dog_leaving_premises_conditions_times</name>
            <dataType>String</dataType>
            <fieldText>Dog leaving premises conditions/times</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>If_the_dog_s_are_to_be_left_under_the_care_of_anyone_other_than_yourself_either</name>
            <dataType>Boolean</dataType>
            <fieldText>If the dog/s are to be left under the care of anyone other than yourself, either at the premises, or at any other location, you must ensure you make the carer fully aware of all responsibilities and requirements under these conditions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>The_dog_s_must_be_presented_to_Domestic_Animal_Services_within_24_hours_of_any_r</name>
            <dataType>Boolean</dataType>
            <fieldText>The dog/s must be presented to Domestic Animal Services within 24 hours of any request made by a Domestic Animal Services officer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>The_dog_s_must_be_de_sexed_within_28_days_of_Domestic_Animal_Services_formally_a</name>
            <dataType>Boolean</dataType>
            <fieldText>The dog/s must be de-sexed within 28 days of Domestic Animal Services formally advising you that the procedure must be undertaken. A de-sexing voucher can be purchased from Domestic Animal Services</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Other_Conditions</name>
            <dataType>String</dataType>
            <fieldText>Other Conditions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Dog_Online</name>
        <label>Create Dog</label>
        <locationX>952</locationX>
        <locationY>933</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_the_app_Online</targetReference>
        </connector>
        <fields>
            <name>Dog_Name</name>
            <dataType>String</dataType>
            <fieldText>Dog Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Breed_2</name>
            <fieldText>Breed: {!BreedName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Age_2</name>
            <dataType>Number</dataType>
            <fieldText>Age</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Colour2</name>
            <dataType>String</dataType>
            <fieldText>Colour</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Is_Desex</name>
            <dataType>Boolean</dataType>
            <fieldText>Is Desex?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Weight_2</name>
            <dataType>Number</dataType>
            <fieldText>Weight</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Microchip_No</name>
            <dataType>String</dataType>
            <fieldText>Microchip No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Gender</name>
            <choiceReferences>DogGender</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dog_Details</name>
        <label>Dog Details</label>
        <locationX>421</locationX>
        <locationY>908</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Right_Dog</targetReference>
        </connector>
        <fields>
            <name>DogDetails</name>
            <fieldText>The Dog found is&lt;br/&gt;
Name: {!Dog.Dog_Name__c}
Breed: {!Dog.Breed__c}
Age: {!Dog.Age__c}
Colour: {!Dog.Colour__c}
Gender: {!Dog.Gender__c}
Registration No: {!Dog.Registration_Number__c}
Microchip No: {!Dog.Microchip_Number__c}
Is Desexed?: {!Dog.Is_Desexed__c}
Dangerous Dog?: {!Dog.Is_Dangerous__c}
Under Control Order?: {!Dog.Is_Dog_On_Control_Order__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_this_the_right_dog</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Is this the right dog?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dog_Not_Found_Screen</name>
        <label>Dog Not Found Screen</label>
        <locationX>752</locationX>
        <locationY>394</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Search_Breed_Screen</targetReference>
        </connector>
        <fields>
            <name>Dog_Not_Found_message</name>
            <fieldText>No dog has been found. Please click on Next button to create a dog record</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DogInformation</name>
        <label>Search dog using:</label>
        <locationX>652</locationX>
        <locationY>43</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_SA2</targetReference>
        </connector>
        <fields>
            <name>Registration_Number</name>
            <dataType>String</dataType>
            <fieldText>Registration Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Microchip_Number</name>
            <dataType>String</dataType>
            <fieldText>Microchip Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>HelpText</name>
            <fieldText>&lt;p&gt;If you don&apos;t have these details, please click on Next button&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Dog_Details</name>
        <label>Enter Dog Details</label>
        <locationX>661</locationX>
        <locationY>725</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Dog_Assignment</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Breed</name>
            <dataType>String</dataType>
            <fieldText>Breed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Age</name>
            <dataType>Number</dataType>
            <fieldText>Age</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Colour</name>
            <dataType>String</dataType>
            <fieldText>Colour</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>IsDesexed</name>
            <dataType>Boolean</dataType>
            <fieldText>IsDesexed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Weight</name>
            <dataType>Number</dataType>
            <fieldText>Weight</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Microchip</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Microchip_Number</elementReference>
            </defaultValue>
            <fieldText>Microchip</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Gender1</name>
            <choiceReferences>DogGender</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Home_Impound_Record_Created</name>
        <label>Home Impound Record Created</label>
        <locationX>1709</locationX>
        <locationY>627</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Home_Impound_Created</name>
            <fieldText>The home impound record has been created successfully. Please open the created Work Order line item on the overview page to capture the customer&apos; signature.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Owner_Address</name>
        <label>Owner Address</label>
        <locationX>895</locationX>
        <locationY>1253</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Dog_Address_Online</targetReference>
        </connector>
        <fields>
            <name>Number_and_Street_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DogOwnerAfterSearch.BillingStreet</elementReference>
            </defaultValue>
            <fieldText>Number and Street Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City_Suburb</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DogOwnerAfterSearch.BillingCity</elementReference>
            </defaultValue>
            <fieldText>City/Suburb</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PostCode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DogOwnerAfterSearch.BillingPostalCode</elementReference>
            </defaultValue>
            <fieldText>PostCode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>State</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DogOwnerAfterSearch.BillingState</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Owner_Details</name>
        <label>Owner Details</label>
        <locationX>847</locationX>
        <locationY>1462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Owner_Offline</targetReference>
        </connector>
        <fields>
            <name>First_Name2</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name2</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone2</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_Of_Birth2</name>
            <dataType>Date</dataType>
            <fieldText>Date Of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email2</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Number_and_Street_Name2</name>
            <dataType>String</dataType>
            <fieldText>Number and Street Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Suburb</name>
            <dataType>String</dataType>
            <fieldText>Suburb</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Postcode2</name>
            <dataType>String</dataType>
            <fieldText>Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Owner_Email_DOB</name>
        <label>Owner Email DOB</label>
        <locationX>793</locationX>
        <locationY>1268</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Owner_Address</targetReference>
        </connector>
        <fields>
            <name>Date_Of_Birth</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>DogOwnerAfterSearch.PersonBirthdate</elementReference>
            </defaultValue>
            <fieldText>Date Of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DogOwnerAfterSearch.PersonEmail</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Owner_Information</name>
        <label>Owner Information</label>
        <locationX>503</locationX>
        <locationY>1268</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_Owner</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DogOwner.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DogOwner.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DogOwner.Phone</elementReference>
            </defaultValue>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_Breed_Screen</name>
        <label>Search Breed Screen</label>
        <locationX>953</locationX>
        <locationY>399</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Breed_Selection_List</targetReference>
        </connector>
        <fields>
            <name>Search_Breed</name>
            <dataType>String</dataType>
            <fieldText>Search Breed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HelpText2</name>
            <fieldText>&lt;p&gt;Please click on Next button to see the breed result list.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Successful_screen</name>
        <label>Successful screen</label>
        <locationX>1254</locationX>
        <locationY>1257</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Conditions</targetReference>
        </connector>
        <fields>
            <name>Account_updated_message</name>
            <fieldText>Owner details are successfully recorded/ updated</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_SA</startElementReference>
    <status>Active</status>
    <variables>
        <name>BreedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BreedName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Dog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Dog_Portfolio__c</objectType>
    </variables>
    <variables>
        <name>DogAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DogOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>DogOwnerAfterSearch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Female</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Female</stringValue>
        </value>
    </variables>
    <variables>
        <name>HomeImpoundrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Impound_Expound__c</objectType>
    </variables>
    <variables>
        <name>HomeImpoundRTid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HomeImpoundRTWOLIid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ImpoundId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Male</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SeizureNotice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>SeizureNoticeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SeizureNoticeRTWOLIid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
