flows/Impound.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_dog_id</name>
        <label>Assign dog id</label>
        <locationX>1732</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>DogId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DogPortfolio.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Capture_Dog_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WOLI_Subject</name>
        <label>Assign WOLI Subject</label>
        <locationX>3752</locationX>
        <locationY>2746</locationY>
        <assignmentItems>
            <assignToReference>WOLISubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!DogPortfolio.Breed__c} {!DogPortfolio.Colour__c} {!DogPortfolio.Microchip_Number__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Impound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WOLI_Subject1</name>
        <label>Assign WOLI Subject</label>
        <locationX>3502</locationX>
        <locationY>2363</locationY>
        <assignmentItems>
            <assignToReference>WOLISubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!BreedName} {!Colour} {!Microchip}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Impound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WOLI_Subject2</name>
        <label>Assign WOLI Subject</label>
        <locationX>3484</locationX>
        <locationY>2203</locationY>
        <assignmentItems>
            <assignToReference>WOLISubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Breed_offline} {!Colour_offline} {!Microchip_offline}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Impound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAnimalDogWeightOffline</name>
        <label>AssignAnimalDogWeightOffline</label>
        <locationX>2242</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>animalDogWeight</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Weight_offline</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Capture_Dog_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAnimalDogWeightOnline</name>
        <label>AssignAnimalDogWeightOnline</label>
        <locationX>1789</locationX>
        <locationY>757</locationY>
        <assignmentItems>
            <assignToReference>animalDogWeight</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Weight</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Capture_Dog_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFirstName</name>
        <label>AssignFirstName</label>
        <locationX>2314</locationX>
        <locationY>1861</locationY>
        <assignmentItems>
            <assignToReference>firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAccountRecord.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Exists1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFirstName1</name>
        <label>AssignFirstName</label>
        <locationX>1800</locationX>
        <locationY>1868</locationY>
        <assignmentItems>
            <assignToReference>firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Exists1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFirstNameOffline</name>
        <label>AssignFirstNameOffline</label>
        <locationX>2672</locationX>
        <locationY>1917</locationY>
        <assignmentItems>
            <assignToReference>firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Owner_Person_Address1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFlagOffline</name>
        <label>AssignFlagOffline</label>
        <locationX>2360</locationX>
        <locationY>281</locationY>
        <assignmentItems>
            <assignToReference>flagOffline</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Dog_details_to_create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFlagOnline</name>
        <label>AssignFlagOnline</label>
        <locationX>2107</locationX>
        <locationY>170</locationY>
        <assignmentItems>
            <assignToReference>flagOffline</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Business_Account_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPhone</name>
        <label>AssignPhone</label>
        <locationX>875</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>phoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>bPhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPhone1</name>
        <label>AssignPhone</label>
        <locationX>231</locationX>
        <locationY>1783</locationY>
        <assignmentItems>
            <assignToReference>phoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAccountRecord.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPhoneOffline</name>
        <label>AssignPhoneOffline</label>
        <locationX>1312</locationX>
        <locationY>1764</locationY>
        <assignmentItems>
            <assignToReference>phoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>bPhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Owner_Business_Address1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newBusinessAccountId</name>
        <label>newBusinessAccountId</label>
        <locationX>180</locationX>
        <locationY>2820</locationY>
        <assignmentItems>
            <assignToReference>flowOutputAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAccountRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_it_online3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newPersonAccountId</name>
        <label>newPersonAccountId</label>
        <locationX>1776</locationX>
        <locationY>2535</locationY>
        <assignmentItems>
            <assignToReference>flowOutputAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAccountRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_it_online3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>oldBusinessAccountId</name>
        <label>oldBusinessAccountId</label>
        <locationX>672</locationX>
        <locationY>2741</locationY>
        <assignmentItems>
            <assignToReference>flowOutputAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountFetchedBasedOnFlowInput.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_it_online3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>oldPersonAccountId</name>
        <label>oldPersonAccountId</label>
        <locationX>2193</locationX>
        <locationY>2435</locationY>
        <assignmentItems>
            <assignToReference>flowOutputAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountFetchedBasedOnFlowInput.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_it_online3</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>businessAccountRecordType</name>
        <choiceText>Business Account</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>businessAccountRecordTypeId</elementReference>
        </value>
    </choices>
    <choices>
        <name>Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Femalechoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Malechoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>personAccountRecordType</name>
        <choiceText>Person Account</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>personAccountRecordTypeId</elementReference>
        </value>
    </choices>
    <constants>
        <name>BUSINESSACCOUNT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Business_Account</stringValue>
        </value>
    </constants>
    <constants>
        <name>Femalechoice</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Female</stringValue>
        </value>
    </constants>
    <constants>
        <name>IMPOUNDFOR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Impound for</stringValue>
        </value>
    </constants>
    <constants>
        <name>Malechoice</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </constants>
    <constants>
        <name>PERSONACCOUNT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PersonAccount</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Account_Exists</name>
        <label>Account Exists?</label>
        <locationX>518</locationX>
        <locationY>1885</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountRecord.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAccountRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Business_Address</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
        <rules>
            <name>Does_not_exist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vAccountRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAccountRecord.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Business_Address1</targetReference>
            </connector>
            <label>Does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Exists1</name>
        <label>Account Exists?</label>
        <locationX>2070</locationX>
        <locationY>1918</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountRecord.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAccountRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Person_Address</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
        <rules>
            <name>Does_not_exist1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vAccountRecord.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAccountRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Person_Address1</targetReference>
            </connector>
            <label>Does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_ID_Received</name>
        <label>Account ID Received?</label>
        <locationX>837</locationX>
        <locationY>2141</locationY>
        <defaultConnector>
            <targetReference>Create_Business_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountFetchedBasedOnFlowInput.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountFetchedBasedOnFlowInput.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Old_Business_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_ID_Received1</name>
        <label>Account ID Received?</label>
        <locationX>2348</locationX>
        <locationY>2156</locationY>
        <defaultConnector>
            <targetReference>Create_Person_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountFetchedBasedOnFlowInput.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountFetchedBasedOnFlowInput.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Old_Person_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Business_Owner_exists</name>
        <label>Business Owner exists?</label>
        <locationX>1557</locationX>
        <locationY>1314</locationY>
        <defaultConnector>
            <targetReference>Owner_Details_Business</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DogPortfolio.Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DogPortfolio.Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Business_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>2579</locationX>
        <locationY>1164</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Person_Owner_exists</targetReference>
            </connector>
            <label>Person</label>
        </rules>
        <rules>
            <name>Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Business_Owner_exists</targetReference>
            </connector>
            <label>Business</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selected_Account_Type</name>
        <label>Check Selected Account Type</label>
        <locationX>1776</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Business_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>businessAccountRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Business_Owner_exists</targetReference>
            </connector>
            <label>Is Business Account?</label>
        </rules>
        <rules>
            <name>Is_Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>personAccountRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Person_Owner_exists</targetReference>
            </connector>
            <label>Is Person Account?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dog_not_found</name>
        <label>Dog not found</label>
        <locationX>892</locationX>
        <locationY>1013</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DogPortfolio.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DogPortfolio.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DogNotFound</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
        <rules>
            <name>Found1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DogPortfolio.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DogPortfolio.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_dog_details</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Name_is_empty</name>
        <label>First Name is empty?</label>
        <locationX>2060</locationX>
        <locationY>1616</locationY>
        <defaultConnector>
            <targetReference>Search_Person_Account1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>First_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>First_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Person_Account2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_online</name>
        <label>Is it online?</label>
        <locationX>2792</locationX>
        <locationY>84</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Online</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Online_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFlagOnline</targetReference>
            </connector>
            <label>Online</label>
        </rules>
        <rules>
            <name>Offline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Online_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFlagOffline</targetReference>
            </connector>
            <label>Offline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_online1</name>
        <label>Is it online?</label>
        <locationX>1385</locationX>
        <locationY>1600</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Online1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Online_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_is_empty</targetReference>
            </connector>
            <label>Online</label>
        </rules>
        <rules>
            <name>Offline1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Online_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPhoneOffline</targetReference>
            </connector>
            <label>Offline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_online2</name>
        <label>Is it online</label>
        <locationX>2773</locationX>
        <locationY>1654</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Online2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Online_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_Name_is_empty</targetReference>
            </connector>
            <label>Online</label>
        </rules>
        <rules>
            <name>Offline2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Online_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFirstNameOffline</targetReference>
            </connector>
            <label>Offline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_online3</name>
        <label>Is it online?</label>
        <locationX>3169</locationX>
        <locationY>2741</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Online3</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Online_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DogId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DogId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Dog_Record_Online</targetReference>
            </connector>
            <label>Online</label>
        </rules>
        <rules>
            <name>Offline3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Online_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Dog_record_offline</targetReference>
            </connector>
            <label>Offline</label>
        </rules>
        <rules>
            <name>Dog_ID_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DogId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DogId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WOLI_Subject</targetReference>
            </connector>
            <label>Dog ID Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_Exists</name>
        <label>Is Owner Exists?</label>
        <locationX>2589</locationX>
        <locationY>811</locationY>
        <defaultConnector>
            <targetReference>Owner_Details_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DogPortfolio.Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DogPortfolio.Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Owner_Record</targetReference>
            </connector>
            <label>Owner exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Details</name>
        <label>Owner Details</label>
        <locationX>3144</locationX>
        <locationY>1048</locationY>
        <defaultConnector>
            <targetReference>Is_it_online3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_have_dog_owner_details</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Account_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Person_Owner_exists</name>
        <label>Person Owner exists?</label>
        <locationX>2750</locationX>
        <locationY>1299</locationY>
        <defaultConnector>
            <targetReference>Owner_Details_Person</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DogPortfolio.Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DogPortfolio.Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Person_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_is_empty</name>
        <label>Phone is empty</label>
        <locationX>524</locationX>
        <locationY>1602</locationY>
        <defaultConnector>
            <targetReference>Search_Business_Account1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>bPhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>bPhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Business_Account2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ranger_entry</name>
        <label>Ranger entry</label>
        <locationX>1135</locationX>
        <locationY>543</locationY>
        <defaultConnector>
            <targetReference>DogNotFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Micro_and_Rego</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Registration_Number</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Registration_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Microchip_Number</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Microchip_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Both_Rego_Microchip_No</targetReference>
            </connector>
            <label>Micro and Rego</label>
        </rules>
        <rules>
            <name>Rego_number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Registration_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Registration_Number</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_rego</targetReference>
            </connector>
            <label>Rego number</label>
        </rules>
        <rules>
            <name>MCnumber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Microchip_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Microchip_Number</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_MC</targetReference>
            </connector>
            <label>MCnumber</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rightdog</name>
        <label>Rightdog?</label>
        <locationX>1728</locationX>
        <locationY>640</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Isthistherightdog</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_the_right_dog</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_dog_id</targetReference>
            </connector>
            <label>Isthistherightdog?</label>
        </rules>
        <rules>
            <name>Wrong_dog</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_the_right_dog</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Breed_Search_Screen</targetReference>
            </connector>
            <label>Wrong dog</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AnimalBodyScoreValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Animal_Body_Score__c</picklistField>
        <picklistObject>Impound_Expound__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BreedList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Breed_Search</elementReference>
            </value>
        </filters>
        <object>Breed_List__c</object>
        <outputAssignments>
            <assignToReference>BreedId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BreedName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>listOfAvailableKennels</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Available__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Kennel__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>listOfGenders</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Gender__c</picklistField>
        <picklistObject>Dog_Portfolio__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Reason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Reason_for_Impound__c</picklistField>
        <picklistObject>Impound_Expound__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>YK</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Yard_Kennel__c</picklistField>
        <picklistObject>Impound_Expound__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Impound {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Impound</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Business_Account</name>
        <label>Create Business Account</label>
        <locationX>862</locationX>
        <locationY>2629</locationY>
        <assignRecordIdToReference>flowOutputAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Is_it_online3</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>bCity1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>bCountry1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>bPostal_Code1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>bState1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>bStreet1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_Offline__c</field>
            <value>
                <elementReference>flagOffline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>bEmail1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>phoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>businessAccountRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Dog_record_offline</name>
        <label>Create Dog record offline</label>
        <locationX>3252</locationX>
        <locationY>2285</locationY>
        <assignRecordIdToReference>DogId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_WOLI_Subject2</targetReference>
        </connector>
        <inputAssignments>
            <field>Age__c</field>
            <value>
                <elementReference>Age_offline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breed__c</field>
            <value>
                <elementReference>Breed_offline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colour__c</field>
            <value>
                <elementReference>Colour_offline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_Offline__c</field>
            <value>
                <elementReference>flagOffline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dog_Name__c</field>
            <value>
                <elementReference>Dog_Name_offline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Gender_offline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Dangerous__c</field>
            <value>
                <elementReference>Is_Dangerous_offline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Desexed__c</field>
            <value>
                <elementReference>Is_Desexed_offline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Microchip_Number__c</field>
            <value>
                <elementReference>Microchip_offline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>flowOutputAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Status__c</field>
            <value>
                <stringValue>Created in Field</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_kgs__c</field>
            <value>
                <elementReference>Weight_offline</elementReference>
            </value>
        </inputAssignments>
        <object>Dog_Portfolio__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Dog_Record_Online</name>
        <label>Create Dog Record Online</label>
        <locationX>3503</locationX>
        <locationY>2545</locationY>
        <assignRecordIdToReference>DogId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_WOLI_Subject1</targetReference>
        </connector>
        <inputAssignments>
            <field>Age__c</field>
            <value>
                <elementReference>Age</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breed_List__c</field>
            <value>
                <elementReference>BreedId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breed__c</field>
            <value>
                <elementReference>BreedName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colour__c</field>
            <value>
                <elementReference>Colour</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_Offline__c</field>
            <value>
                <elementReference>flagOffline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dog_Name__c</field>
            <value>
                <elementReference>Dog_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Gender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Desexed__c</field>
            <value>
                <elementReference>Is_Desexed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Microchip_Number__c</field>
            <value>
                <elementReference>Microchip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>flowOutputAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Status__c</field>
            <value>
                <stringValue>Created in Field</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_kgs__c</field>
            <value>
                <elementReference>Weight</elementReference>
            </value>
        </inputAssignments>
        <object>Dog_Portfolio__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Impound</name>
        <label>Create Impound</label>
        <locationX>3748</locationX>
        <locationY>2295</locationY>
        <assignRecordIdToReference>impoundId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_WOLI_Impound</targetReference>
        </connector>
        <inputAssignments>
            <field>Animal_Belongings__c</field>
            <value>
                <elementReference>Animal_belongings</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Animal_Body_Score__c</field>
            <value>
                <elementReference>Animal_Body_score</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Animal_Body_Weight_in_KG__c</field>
            <value>
                <elementReference>Animal_Body_Weight_in_KG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Animal_Injury__c</field>
            <value>
                <elementReference>Animal_injury</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canberra_Lost_Pet_Database__c</field>
            <value>
                <elementReference>Canberra_lost_pet_database</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DAS_Lost_List__c</field>
            <value>
                <elementReference>DAS_Lost_List</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DAS_Rego__c</field>
            <value>
                <elementReference>DAS_Rego</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dog_Portfolio__c</field>
            <value>
                <elementReference>DogId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kennel__c</field>
            <value>
                <elementReference>Yard_Kennel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>flowOutputAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSPCA_Lost_List__c</field>
            <value>
                <elementReference>RSPCA_Lost_List</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Impound__c</field>
            <value>
                <elementReference>Reason_for_Impound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>impoundRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Address__c</field>
            <value>
                <elementReference>Registration_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>ServiceAppointment.Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <object>Impound_Expound__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Person_Account</name>
        <label>Create Person Account</label>
        <locationX>2628</locationX>
        <locationY>2315</locationY>
        <assignRecordIdToReference>flowOutputAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Is_it_online3</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>pCity1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>pCountry1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>pPostal_Code1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>pState1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>pStreet1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_Offline__c</field>
            <value>
                <elementReference>flagOffline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>pEmail1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>pPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>personAccountRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_WOLI_Impound</name>
        <label>Create WOLI Impound</label>
        <locationX>3748</locationX>
        <locationY>2015</locationY>
        <assignRecordIdToReference>impoundWOLIId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Kennel_Availability</targetReference>
        </connector>
        <inputAssignments>
            <field>Animal_Belongings__c</field>
            <value>
                <elementReference>Animal_belongings</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Animal_Body_Score__c</field>
            <value>
                <elementReference>Animal_Body_score</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Animal_Body_Weight_in_KG__c</field>
            <value>
                <elementReference>Animal_Body_Weight_in_KG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Animal_injury__c</field>
            <value>
                <elementReference>Animal_injury</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canberra_Lost_Pet_Database__c</field>
            <value>
                <elementReference>Canberra_lost_pet_database</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DAS_Lost_List__c</field>
            <value>
                <elementReference>DAS_Lost_List</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DAS_Rego__c</field>
            <value>
                <elementReference>DAS_Rego</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dog__c</field>
            <value>
                <elementReference>DogId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Impound__c</field>
            <value>
                <elementReference>impoundId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kennel__c</field>
            <value>
                <elementReference>Yard_Kennel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_Person_in_Charge__c</field>
            <value>
                <elementReference>flowOutputAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSPCA_Lost_List__c</field>
            <value>
                <elementReference>RSPCA_Lost_List</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Impound__c</field>
            <value>
                <elementReference>Reason_for_Impound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>impoundWOLIRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Address__c</field>
            <value>
                <elementReference>Registration_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!IMPOUNDFOR} {!WOLISubject}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>ServiceAppointment.Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>impoundWorkTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>Both_Rego_Microchip_No</name>
        <label>Both Rego &amp; Microchip No</label>
        <locationX>1027</locationX>
        <locationY>796</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dog_not_found</targetReference>
        </connector>
        <filters>
            <field>Microchip_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Microchip_Number</elementReference>
            </value>
        </filters>
        <filters>
            <field>Registration_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Registration_Number</elementReference>
            </value>
        </filters>
        <object>Dog_Portfolio__c</object>
        <outputReference>DogPortfolio</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>Breed__c</queriedFields>
        <queriedFields>Colour__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Is_Dangerous__c</queriedFields>
        <queriedFields>Is_Desexed__c</queriedFields>
        <queriedFields>Microchip_Number__c</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>Weight_kgs__c</queriedFields>
        <queriedFields>Dog_Name__c</queriedFields>
        <queriedFields>Is_Dog_On_Control_Order__c</queriedFields>
        <queriedFields>Breed_List__c</queriedFields>
        <queriedFields>Owner__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_Account_Record_Type</name>
        <label>Get Business Account Record Type</label>
        <locationX>1433</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Person_Account_Record_Type</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BUSINESSACCOUNT</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>businessAccountRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_Record</name>
        <label>Get Owner Record</label>
        <locationX>2735</locationX>
        <locationY>968</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DogPortfolio.Owner__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>IsPersonAccount</assignToReference>
            <field>IsPersonAccount</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account_Record_Type</name>
        <label>Get Person Account Record Type</label>
        <locationX>1151</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ranger_entry</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PERSONACCOUNT</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>personAccountRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_Record</name>
        <label>Get SA Record</label>
        <locationX>1433</locationX>
        <locationY>82</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_it_online</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Online__c</queriedFields>
        <queriedFields>Online_Formula__c</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
        <queriedFields>CaseNumber__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_MC</name>
        <label>Lookup MC</label>
        <locationX>1239</locationX>
        <locationY>851</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dog_not_found</targetReference>
        </connector>
        <filters>
            <field>Microchip_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Microchip_Number</elementReference>
            </value>
        </filters>
        <object>Dog_Portfolio__c</object>
        <outputReference>DogPortfolio</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>Breed__c</queriedFields>
        <queriedFields>Colour__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Is_Dangerous__c</queriedFields>
        <queriedFields>Is_Desexed__c</queriedFields>
        <queriedFields>Microchip_Number__c</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>Weight_kgs__c</queriedFields>
        <queriedFields>Dog_Name__c</queriedFields>
        <queriedFields>Is_Dog_On_Control_Order__c</queriedFields>
        <queriedFields>Breed_List__c</queriedFields>
        <queriedFields>Owner__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_rego</name>
        <label>Lookup rego</label>
        <locationX>831</locationX>
        <locationY>672</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dog_not_found</targetReference>
        </connector>
        <filters>
            <field>Registration_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Registration_Number</elementReference>
            </value>
        </filters>
        <object>Dog_Portfolio__c</object>
        <outputReference>DogPortfolio</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>Breed__c</queriedFields>
        <queriedFields>Colour__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Is_Dangerous__c</queriedFields>
        <queriedFields>Is_Desexed__c</queriedFields>
        <queriedFields>Microchip_Number__c</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>Weight_kgs__c</queriedFields>
        <queriedFields>Dog_Name__c</queriedFields>
        <queriedFields>Is_Dog_On_Control_Order__c</queriedFields>
        <queriedFields>Breed_List__c</queriedFields>
        <queriedFields>Owner__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_SA</name>
        <label>Lookup SA</label>
        <locationX>956</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Edit_SA_Online_Checkbox</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
        <queriedFields>CaseNumber__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Search_Business_Account</name>
        <label>Search Business Account</label>
        <locationX>1660</locationX>
        <locationY>1499</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_Details_Business</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DogPortfolio.Owner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>businessAccountRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>accountFetchedBasedOnFlowInput</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Search_Business_Account1</name>
        <label>Search Business Account</label>
        <locationX>199</locationX>
        <locationY>1594</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignPhone1</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bPhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>businessAccountRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>vAccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Phone</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Search_Business_Account2</name>
        <label>Search Business Account</label>
        <locationX>881</locationX>
        <locationY>1677</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignPhone</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>businessAccountRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>vAccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Phone</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Search_Person_Account</name>
        <label>Search Person Account</label>
        <locationX>2932</locationX>
        <locationY>1477</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_Details_Person</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DogPortfolio.Owner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>personAccountRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>accountFetchedBasedOnFlowInput</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Search_Person_Account1</name>
        <label>Search Person Account</label>
        <locationX>1797</locationX>
        <locationY>1711</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignFirstName1</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pPhone</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>vAccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Search_Person_Account2</name>
        <label>Search Person Account</label>
        <locationX>2319</locationX>
        <locationY>1704</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignFirstName</targetReference>
        </connector>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pPhone</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>vAccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Phone</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Edit_SA_Online_Checkbox</name>
        <label>Edit SA Online Checkbox</label>
        <locationX>1088</locationX>
        <locationY>180</locationY>
        <connector>
            <targetReference>Dog_details</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Online__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Kennel_Availability</name>
        <label>Update Kennel Availability</label>
        <locationX>4253</locationX>
        <locationY>2008</locationY>
        <connector>
            <targetReference>Update_SA_Uncheck_Online_Checkbox</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Yard_Kennel</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Kennel__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Business_Account</name>
        <label>Update New Business Account</label>
        <locationX>190</locationX>
        <locationY>2118</locationY>
        <connector>
            <targetReference>newBusinessAccountId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>businessAccountRecordTypeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>bCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>bCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>bPostal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>bState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>bStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>bEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>phoneNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Person_Account</name>
        <label>Update New Person Account</label>
        <locationX>1783</locationX>
        <locationY>2301</locationY>
        <connector>
            <targetReference>newPersonAccountId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>personAccountRecordTypeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>pCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>pCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>pPostal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>pState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>pStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>pEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>pPhone</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Business_Account</name>
        <label>Update Old Business Account</label>
        <locationX>693</locationX>
        <locationY>2309</locationY>
        <connector>
            <targetReference>oldBusinessAccountId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountFetchedBasedOnFlowInput.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>businessAccountRecordTypeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>bCity1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>bCountry1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>bPostal_Code1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>bState1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>bStreet1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>bEmail1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>phoneNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Person_Account</name>
        <label>Update Old Person Account</label>
        <locationX>2185</locationX>
        <locationY>2310</locationY>
        <connector>
            <targetReference>oldPersonAccountId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountFetchedBasedOnFlowInput.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>personAccountRecordTypeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>pCity1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>pCountry1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>pPostal_Code1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>pState1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>pStreet1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>pEmail1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>pPhone</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_Uncheck_Online_Checkbox</name>
        <label>Update SA Uncheck Online Checkbox</label>
        <locationX>4263</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Capture_Dog_Image_To_Display_on_Website</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Online__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>Assign_Yard_Kennel</name>
        <label>Assign Yard/Kennel</label>
        <locationX>2466</locationX>
        <locationY>722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Owner_Exists</targetReference>
        </connector>
        <fields>
            <name>Yard_Kennel</name>
            <choiceReferences>listOfAvailableKennels</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Yard/Kennel</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Breed_Search_Screen</name>
        <label>Breed Search Screen</label>
        <locationX>1453</locationX>
        <locationY>541</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Breed_Screen</targetReference>
        </connector>
        <fields>
            <name>Breed_Search</name>
            <dataType>String</dataType>
            <fieldText>Breed Search</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HelpText2</name>
            <fieldText>Please click on Next button to see the breed result list.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Capture_Dog_Details</name>
        <label>Capture Dog Details</label>
        <locationX>2143</locationX>
        <locationY>527</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Impoundment_reason</targetReference>
        </connector>
        <fields>
            <name>Animal_Body_Weight_in_KG</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>animalDogWeight</elementReference>
            </defaultValue>
            <fieldText>Animal Body Weight in KG</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Animal_Body_score</name>
            <choiceReferences>AnimalBodyScoreValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Animal Body score</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Animal_injury</name>
            <dataType>String</dataType>
            <fieldText>Animal injury</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Animal_belongings</name>
            <dataType>String</dataType>
            <fieldText>Animal belongings</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Capture_Dog_Image_To_Display_on_Website</name>
        <label>Capture Dog Image To Display on Website</label>
        <locationX>4279</locationX>
        <locationY>2436</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Capture_Impound_Related_Images</targetReference>
        </connector>
        <fields>
            <name>Dog_Photo_To_Display_On_Website</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>DogId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Dog Photo To Display On Website</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Note</name>
            <fieldText>&lt;p&gt;Note:&lt;/p&gt;&lt;p&gt;Please take a photo in Landscape (horizontal) mode to display a dog image in the website&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Capture_Impound_Related_Images</name>
        <label>Capture Impound Related Images</label>
        <locationX>4284</locationX>
        <locationY>2708</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Impound_Related_Photos</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Impound Related Photos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>impoundId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Checks_Conducted</name>
        <label>Checks Conducted</label>
        <locationX>2307</locationX>
        <locationY>725</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Yard_Kennel</targetReference>
        </connector>
        <fields>
            <name>DAS_Rego</name>
            <dataType>Boolean</dataType>
            <fieldText>DAS Rego</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DAS_Lost_List</name>
            <dataType>Boolean</dataType>
            <fieldText>DAS Lost List</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RSPCA_Lost_List</name>
            <dataType>Boolean</dataType>
            <fieldText>RSPCA Lost List</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Registration_Address</name>
            <dataType>Boolean</dataType>
            <fieldText>Registration Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Canberra_lost_pet_database</name>
            <dataType>Boolean</dataType>
            <fieldText>Canberra lost pet database</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_a_Dog</name>
        <label>Create a Dog</label>
        <locationX>1533</locationX>
        <locationY>871</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignAnimalDogWeightOnline</targetReference>
        </connector>
        <fields>
            <name>Dog_Name</name>
            <dataType>String</dataType>
            <fieldText>Dog Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BreedDisplay</name>
            <fieldText>Breed: {!BreedName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_Desexed</name>
            <dataType>Boolean</dataType>
            <fieldText>Is Desexed?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Colour</name>
            <dataType>String</dataType>
            <fieldText>Colour</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Age</name>
            <dataType>Number</dataType>
            <fieldText>Age</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Weight</name>
            <dataType>Number</dataType>
            <fieldText>Weight</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Microchip</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Microchip_Number</elementReference>
            </defaultValue>
            <fieldText>Microchip</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Gender</name>
            <choiceReferences>listOfGenders</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_dog_details</name>
        <label>Display dog details</label>
        <locationX>1126</locationX>
        <locationY>1125</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Rightdog</targetReference>
        </connector>
        <fields>
            <name>Dogdetails</name>
            <fieldText>The Dog found is&lt;br/&gt;
Name: {!DogPortfolio.Dog_Name__c}
Breed: {!DogPortfolio.Breed__c}
Age: {!DogPortfolio.Age__c}
Colour: {!DogPortfolio.Colour__c}
Gender: {!DogPortfolio.Gender__c}
Registration No: {!DogPortfolio.Registration_Number__c}
Microchip No: {!DogPortfolio.Microchip_Number__c}
Is Desexed?: {!DogPortfolio.Is_Desexed__c}
Dangerous?:{!DogPortfolio.Is_Dangerous__c}
Control Order?: {!DogPortfolio.Is_Dog_On_Control_Order__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_this_the_right_dog</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Is this the right dog?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dog_details</name>
        <label>Search dog using:</label>
        <locationX>1247</locationX>
        <locationY>180</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_SA_Record</targetReference>
        </connector>
        <fields>
            <name>Registration_Number</name>
            <dataType>String</dataType>
            <fieldText>Registration Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Microchip_Number</name>
            <dataType>String</dataType>
            <fieldText>Microchip Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>HelpText</name>
            <fieldText>If you don&apos;t have these details, please click on Next button</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DogNotFound</name>
        <label>Dog Not Found</label>
        <locationX>1320</locationX>
        <locationY>540</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Breed_Search_Screen</targetReference>
        </connector>
        <fields>
            <name>DogNotFoundMessage</name>
            <fieldText>No dog has been found. Please click on Next button to create a dog record</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Dog_details_to_create</name>
        <label>Enter Dog details to create</label>
        <locationX>2022</locationX>
        <locationY>344</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignAnimalDogWeightOffline</targetReference>
        </connector>
        <fields>
            <name>Dog_Name_offline</name>
            <dataType>String</dataType>
            <fieldText>Dog Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Breed_offline</name>
            <dataType>String</dataType>
            <fieldText>Breed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Is_Desexed_offline</name>
            <dataType>Boolean</dataType>
            <fieldText>Is Desexed?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Colour_offline</name>
            <dataType>String</dataType>
            <fieldText>Colour</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Age_offline</name>
            <dataType>Number</dataType>
            <fieldText>Age</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Weight_offline</name>
            <dataType>Number</dataType>
            <fieldText>Weight</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Microchip_offline</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Microchip_Number</elementReference>
            </defaultValue>
            <fieldText>Microchip</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Gender_offline</name>
            <choiceReferences>listOfGenders</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_Dangerous_offline</name>
            <dataType>Boolean</dataType>
            <fieldText>Is Dangerous?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Owner_Business_Address</name>
        <label>Owner Business Address</label>
        <locationX>197</locationX>
        <locationY>1959</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_New_Business_Account</targetReference>
        </connector>
        <fields>
            <name>bEmail</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vAccountRecord.Email__c</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>bStreet</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vAccountRecord.BillingStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>bCity</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vAccountRecord.BillingCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>bState</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vAccountRecord.BillingState</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>bPostal_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vAccountRecord.BillingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>bCountry</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Australia</stringValue>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Owner_Business_Address1</name>
        <label>Owner Business Address</label>
        <locationX>857</locationX>
        <locationY>1990</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Account_ID_Received</targetReference>
        </connector>
        <fields>
            <name>bEmail1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.Email__c</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>bStreet1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.BillingStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>bCity1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.BillingCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>bState1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.BillingState</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>bPostal_Code1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.BillingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>bCountry1</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Australia</stringValue>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Owner_Details_Business</name>
        <label>Owner Details (Business)</label>
        <locationX>1433</locationX>
        <locationY>1441</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_it_online1</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.Name</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>bPhone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.Phone</elementReference>
            </defaultValue>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Owner_Details_Confirmation</name>
        <label>Owner Details Confirmation</label>
        <locationX>3152</locationX>
        <locationY>824</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Owner_Details</targetReference>
        </connector>
        <fields>
            <name>Do_you_have_dog_owner_details</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Do you have dog owner details?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Owner_Details_Person</name>
        <label>Owner Details (Person)</label>
        <locationX>2675</locationX>
        <locationY>1477</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_it_online2</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>pPhone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.Phone</elementReference>
            </defaultValue>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Owner_Person_Address</name>
        <label>Owner Person Address</label>
        <locationX>1767</locationX>
        <locationY>2114</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_New_Person_Account</targetReference>
        </connector>
        <fields>
            <name>pEmail</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vAccountRecord.PersonEmail</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>pStreet</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vAccountRecord.BillingStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>pCity</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vAccountRecord.BillingCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>pState</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vAccountRecord.BillingState</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>pPostal_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vAccountRecord.BillingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>pCountry</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Australia</stringValue>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Owner_Person_Address1</name>
        <label>Owner Person Address</label>
        <locationX>2356</locationX>
        <locationY>2016</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Account_ID_Received1</targetReference>
        </connector>
        <fields>
            <name>pEmail1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.PersonEmail</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>pStreet1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.BillingStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>pCity1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.BillingCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>pState1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.BillingState</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>pPostal_Code1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.BillingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>pCountry1</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Australia</stringValue>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Account_Type</name>
        <label>Select Account Type</label>
        <locationX>1947</locationX>
        <locationY>940</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Selected_Account_Type</targetReference>
        </connector>
        <fields>
            <name>SelectBusinessOrIndividualAccount</name>
            <fieldText>Select Business or Individual Account. This account will be updated as a Dog Owner</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Type</name>
            <choiceReferences>businessAccountRecordType</choiceReferences>
            <choiceReferences>personAccountRecordType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Breed_Screen</name>
        <label>Select Breed Screen</label>
        <locationX>1502</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_a_Dog</targetReference>
        </connector>
        <fields>
            <name>Select_Breed</name>
            <choiceReferences>BreedList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Breed</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Impoundment_reason</name>
        <label>Select Impoundment reason</label>
        <locationX>2154</locationX>
        <locationY>721</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Checks_Conducted</targetReference>
        </connector>
        <fields>
            <name>Reason_for_Impound</name>
            <choiceReferences>Reason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for Impound</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_SA</startElementReference>
    <status>Active</status>
    <variables>
        <name>accountFetchedBasedOnFlowInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>animalDogWeight</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Avail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BreedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BreedName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>businessAccountRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>012p000000078sKAAQ</stringValue>
        </value>
    </variables>
    <variables>
        <name>DogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Dogphotos</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DogPortfolio</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Dog_Portfolio__c</objectType>
    </variables>
    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flagOffline</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>flowOutputAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Impound</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Impound_Expound__c</objectType>
    </variables>
    <variables>
        <name>impoundId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>impoundRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>012p00000007PdpAAE</stringValue>
        </value>
    </variables>
    <variables>
        <name>impoundWOLIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>impoundWOLIRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>012p0000000NhOVAA0</stringValue>
        </value>
    </variables>
    <variables>
        <name>impoundWorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>08qp00000004GYmAAM</stringValue>
        </value>
    </variables>
    <variables>
        <name>IsPersonAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>KenId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Kennelname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Kennelnameselected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>KennelNM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Kennel__c</objectType>
    </variables>
    <variables>
        <name>KN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>personAccountRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>012p00000007AFMAA2</stringValue>
        </value>
    </variables>
    <variables>
        <name>phoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>vAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>vImpoundWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WOLISubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
