flows/Impound_for_Desktop.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>BusinessAccountRT</name>
        <choiceText>Business Account</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>BusinessAccountRTId</elementReference>
        </value>
    </choices>
    <choices>
        <name>Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Femalechoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Malechoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>PersonAccountRT</name>
        <choiceText>Person Account</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>PersonAccountRTid</elementReference>
        </value>
    </choices>
    <constants>
        <name>Femalechoice</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Female</stringValue>
        </value>
    </constants>
    <constants>
        <name>Malechoice</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Owner_Details</name>
        <label>Owner Details?</label>
        <locationX>599</locationX>
        <locationY>220</locationY>
        <defaultConnector>
            <targetReference>Select_Impoundment_reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_have_owner_details</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Creation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Exist</name>
        <label>Owner Exist?</label>
        <locationX>435</locationX>
        <locationY>225</locationY>
        <defaultConnector>
            <targetReference>No_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Type</name>
        <label>Owner Type</label>
        <locationX>181</locationX>
        <locationY>231</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Business2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerRecord.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BusinessAccountRTId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Business_Account2</targetReference>
            </connector>
            <label>Business</label>
        </rules>
        <rules>
            <name>Person2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerRecord.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PersonAccountRTid</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Person_Account2</targetReference>
            </connector>
            <label>Person</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Account_Type</name>
        <label>What Account Type?</label>
        <locationX>825</locationX>
        <locationY>343</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BusinessAccountRTId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Business_Account</targetReference>
            </connector>
            <label>Business</label>
        </rules>
        <rules>
            <name>Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PersonAccountRTid</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Person_Account</targetReference>
            </connector>
            <label>Person</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AnimalBodyScoreValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Animal_Body_Score__c</picklistField>
        <picklistObject>Impound_Expound__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListofAvailableKennel</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Available__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Kennel__c</object>
        <outputAssignments>
            <assignToReference>MultipleDogKennel</assignToReference>
            <field>Multiple_Dogs__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Reason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Reason_for_Impound__c</picklistField>
        <picklistObject>Impound_Expound__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Impound for Desktop {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Impound for Desktop</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Impound_Record</name>
        <label>Create Impound Record</label>
        <locationX>148</locationX>
        <locationY>854</locationY>
        <assignRecordIdToReference>ImpoundId</assignRecordIdToReference>
        <connector>
            <targetReference>Capture_Dog_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>Canberra_Lost_Pet_Database__c</field>
            <value>
                <elementReference>Canberra_Lost_Pet_Database</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DAS_Lost_List__c</field>
            <value>
                <elementReference>DAS_Lost_List</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DAS_Rego__c</field>
            <value>
                <elementReference>DAS_Rego</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dog_Portfolio__c</field>
            <value>
                <elementReference>DogId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kennel__c</field>
            <value>
                <elementReference>Yard_Kennel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>FlowOutputAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSPCA_Lost_List__c</field>
            <value>
                <elementReference>RSPCA_Lost_List</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Impound__c</field>
            <value>
                <elementReference>Reason_for_Impound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ImpoundRTid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Address__c</field>
            <value>
                <elementReference>Registration_Address</elementReference>
            </value>
        </inputAssignments>
        <object>Impound_Expound__c</object>
    </recordCreates>
    <recordLookups>
        <name>Business_Account_RT_id</name>
        <label>Business Account RT id</label>
        <locationX>443</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_Exist</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business_Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>BusinessAccountRTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Impound_RT</name>
        <label>Get Impound RT</label>
        <locationX>153</locationX>
        <locationY>691</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Impound_Record</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Impound</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Impound_Expound__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ImpoundRTid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_Record</name>
        <label>Get Owner Record</label>
        <locationX>161</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Person_Account_Id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>OwnerRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>PersonBirthdate</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account_Id</name>
        <label>Get Person Account Id</label>
        <locationX>290</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Business_Account_RT_id</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PersonAccountRTid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Dog_Owner</name>
        <label>Update Dog Owner</label>
        <locationX>510</locationX>
        <locationY>515</locationY>
        <connector>
            <targetReference>Select_Impoundment_reason</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DogId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>FlowOutputAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Dog_Portfolio__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Impound_record</name>
        <label>Update Impound record</label>
        <locationX>615</locationX>
        <locationY>849</locationY>
        <connector>
            <targetReference>Update_Kennel_Availability</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImpoundId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Animal_Belongings__c</field>
            <value>
                <elementReference>Animal_belongings</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Animal_Body_Score__c</field>
            <value>
                <elementReference>Animal_Body_score</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Animal_Body_Weight_in_KG__c</field>
            <value>
                <elementReference>Animal_Body_Weight_in_KG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Animal_Injury__c</field>
            <value>
                <elementReference>Animal_injury</elementReference>
            </value>
        </inputAssignments>
        <object>Impound_Expound__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Kennel_Availability</name>
        <label>Update Kennel Availability</label>
        <locationX>905</locationX>
        <locationY>683</locationY>
        <connector>
            <targetReference>Capture_a_photo_for_the_website</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Yard_Kennel</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Kennel__c</object>
    </recordUpdates>
    <screens>
        <name>Account_Creation</name>
        <label>Account Creation</label>
        <locationX>833</locationX>
        <locationY>217</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_Account_Type</targetReference>
        </connector>
        <fields>
            <name>Account_Type</name>
            <choiceReferences>PersonAccountRT</choiceReferences>
            <choiceReferences>BusinessAccountRT</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Assign_Yard_Kennel</name>
        <label>Assign Yard/Kennel</label>
        <locationX>356</locationX>
        <locationY>690</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Impound_RT</targetReference>
        </connector>
        <fields>
            <name>Yard_Kennel</name>
            <choiceReferences>ListofAvailableKennel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Yard/Kennel</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Capture_a_photo_for_the_website</name>
        <label>Capture a photo for the website</label>
        <locationX>832</locationX>
        <locationY>847</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <fields>
            <name>Message2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Attach a dog image that will be displayed on the website&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DogPhoto</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Dog Photo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>DogId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Capture_Dog_Details</name>
        <label>Capture Dog Details</label>
        <locationX>348</locationX>
        <locationY>853</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Impound_record</targetReference>
        </connector>
        <fields>
            <name>Animal_Body_Weight_in_KG</name>
            <dataType>Number</dataType>
            <fieldText>Animal Body Weight in KG</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Animal_Body_score</name>
            <choiceReferences>AnimalBodyScoreValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Animal Body score</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Animal_injury</name>
            <dataType>String</dataType>
            <fieldText>Animal injury</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Animal_belongings</name>
            <dataType>String</dataType>
            <fieldText>Animal belongings</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ImpoundConditionsPhotos</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Impound Conditions Photos (not for website)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ImpoundId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Checks_Conducted</name>
        <label>Checks Conducted</label>
        <locationX>614</locationX>
        <locationY>697</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Yard_Kennel</targetReference>
        </connector>
        <fields>
            <name>DAS_Rego</name>
            <dataType>Boolean</dataType>
            <fieldText>DAS Rego</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DAS_Lost_List</name>
            <dataType>Boolean</dataType>
            <fieldText>DAS Lost List</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RSPCA_Lost_List</name>
            <dataType>Boolean</dataType>
            <fieldText>RSPCA Lost List</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Registration_Address</name>
            <dataType>Boolean</dataType>
            <fieldText>Registration Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Canberra_Lost_Pet_Database</name>
            <dataType>Boolean</dataType>
            <fieldText>Canberra Lost Pet Database</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>1011</locationX>
        <locationY>845</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MEssage</name>
            <fieldText>You have completed the impound process. 
The impound record is accessible on the dog record related list</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_owner</name>
        <label>No owner</label>
        <locationX>608</locationX>
        <locationY>91</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Owner_Details</targetReference>
        </connector>
        <fields>
            <name>NoOwnerMessage</name>
            <fieldText>The dog does not have an owner record linked.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_have_owner_details</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you have owner details?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Impoundment_reason</name>
        <label>Select Impoundment reason</label>
        <locationX>609</locationX>
        <locationY>603</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Checks_Conducted</targetReference>
        </connector>
        <fields>
            <name>Reason_for_Impound</name>
            <choiceReferences>Reason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for Impound</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Owner_Record</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Search_Business_Account</name>
        <label>Search Business Account</label>
        <locationX>994</locationX>
        <locationY>520</locationY>
        <connector>
            <targetReference>Update_Dog_Owner</targetReference>
        </connector>
        <flowName>Search_Business_Account</flowName>
        <outputAssignments>
            <assignToReference>FlowOutputAccountId</assignToReference>
            <name>flowOutputAccountId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Search_Business_Account2</name>
        <label>Search Business Account</label>
        <locationX>328</locationX>
        <locationY>377</locationY>
        <connector>
            <targetReference>Update_Dog_Owner</targetReference>
        </connector>
        <flowName>Search_Business_Account</flowName>
        <inputAssignments>
            <name>flowInputAccountId</name>
            <value>
                <elementReference>OwnerRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>FlowOutputAccountId</assignToReference>
            <name>flowOutputAccountId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Search_Person_Account</name>
        <label>Search Person Account</label>
        <locationX>741</locationX>
        <locationY>450</locationY>
        <connector>
            <targetReference>Update_Dog_Owner</targetReference>
        </connector>
        <flowName>Search_Person_Account</flowName>
        <outputAssignments>
            <assignToReference>FlowOutputAccountId</assignToReference>
            <name>flowOutputAccountId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Search_Person_Account2</name>
        <label>Search Person Account</label>
        <locationX>60</locationX>
        <locationY>367</locationY>
        <connector>
            <targetReference>Update_Dog_Owner</targetReference>
        </connector>
        <flowName>Search_Person_Account</flowName>
        <inputAssignments>
            <name>flowInputAccountId</name>
            <value>
                <elementReference>OwnerRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>FlowOutputAccountId</assignToReference>
            <name>flowOutputAccountId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>BusinessAccountRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DogPortfolio</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Dog_Portfolio__c</objectType>
    </variables>
    <variables>
        <name>FlowOutputAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Impound</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Impound_Expound__c</objectType>
    </variables>
    <variables>
        <name>ImpoundId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImpoundRTid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MultipleDogKennel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OwnerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>PersonAccountRTid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
