flows/Infringement_Desktop.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AssignDogDetails</name>
        <label>AssignDogDetails</label>
        <locationX>2566</locationX>
        <locationY>1370</locationY>
        <assignmentItems>
            <assignToReference>vDogRecord.Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Age</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDogRecord.Breed_List__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BreedId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDogRecord.Breed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BreedName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDogRecord.Colour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Colour</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDogRecord.Dog_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dog_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDogRecord.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gender</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDogRecord.Is_Desexed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Desex</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDogRecord.Microchip_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Microchip_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDogRecord.Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDogRecord.Registration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created in Field</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDogRecord.Weight_kgs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Weight</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Dog</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count</name>
        <label>Count</label>
        <locationX>2341</locationX>
        <locationY>325</locationY>
        <assignmentItems>
            <assignToReference>selectedCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RunForLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Grab_first_18_digits</name>
        <label>Grab first 18 digits</label>
        <locationX>2205</locationX>
        <locationY>625</locationY>
        <assignmentItems>
            <assignToReference>listOfSelectedValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>first18Digits</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Truncate_First_18_Chars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Offence_Proof_Count</name>
        <label>Offence Proof Count</label>
        <locationX>1799</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>vOffenceProofCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>offenceProofsChecked</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vOffenceProof.AnimalQuestions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>offenceProofsChecked</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_For_Loop_Proofs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SelectedOffenceProofs</name>
        <label>SelectedOffenceProofs</label>
        <locationX>1824</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>vSelectedOffenceProofs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Offence_Proofs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parsed_Selected_Proofs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetFeesToZero</name>
        <label>SetFeesToZero</label>
        <locationX>1709</locationX>
        <locationY>1802</locationY>
        <assignmentItems>
            <assignToReference>offenceFees</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Infringement_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Truncate_First_18_Chars</name>
        <label>Truncate First 18 Chars</label>
        <locationX>1999</locationX>
        <locationY>736</locationY>
        <assignmentItems>
            <assignToReference>vSelectedOffenceProofs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>removeFirst18Chars</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parsed_Selected_Proofs</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>businessAccountRecordType</name>
        <choiceText>Business Account</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>businessAccountRecordTypeId</elementReference>
        </value>
    </choices>
    <choices>
        <name>personAccountRecordType</name>
        <choiceText>PersonAccount</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>personAccountRecordTypeId</elementReference>
        </value>
    </choices>
    <constants>
        <name>BUSINESSACCOUNT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Business_Account</stringValue>
        </value>
    </constants>
    <constants>
        <name>DOG</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Dog</stringValue>
        </value>
    </constants>
    <constants>
        <name>PERSONACCOUNT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PersonAccount</stringValue>
        </value>
    </constants>
    <constants>
        <name>UploadPhoto</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Photos</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>2733</locationX>
        <locationY>1746</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Person_Account</targetReference>
            </connector>
            <label>Person</label>
        </rules>
        <rules>
            <name>Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Business_Account</targetReference>
            </connector>
            <label>Business</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selected_Account_Type</name>
        <label>Check Selected Account Type</label>
        <locationX>2612</locationX>
        <locationY>1577</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Business_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>businessAccountRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Business_Account</targetReference>
            </connector>
            <label>Is Business Account?</label>
        </rules>
        <rules>
            <name>Is_Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>personAccountRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Person_Account</targetReference>
            </connector>
            <label>Is Person Account?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_warning</name>
        <label>Check warning?</label>
        <locationX>1870</locationX>
        <locationY>1818</locationY>
        <defaultConnector>
            <targetReference>Create_Infringement_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Warning</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetFeesToZero</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compare_Selected</name>
        <label>Compare Selected</label>
        <locationX>2509</locationX>
        <locationY>511</locationY>
        <defaultConnector>
            <targetReference>NotEqual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Equal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOffenceProofCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>selectedCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_it_a_dog1</targetReference>
            </connector>
            <label>Equal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dog_found</name>
        <label>Dog found?</label>
        <locationX>3216</locationX>
        <locationY>1113</locationY>
        <defaultConnector>
            <targetReference>Dog_Not_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vDogRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vDogRecord.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dog_Details</targetReference>
            </connector>
            <label>Found?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dog_Search</name>
        <label>Dog Search</label>
        <locationX>2927</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Dog_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Both_Reg_No_Micro_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Microchip_Number</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Microchip_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Registration_Number</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Registration_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Both_Reg_Micro</targetReference>
            </connector>
            <label>Both Reg No &amp; Micro No</label>
        </rules>
        <rules>
            <name>Only_Registration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Registration_Number</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Registration_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Only_Registration_No</targetReference>
            </connector>
            <label>Only Registration?</label>
        </rules>
        <rules>
            <name>Only_Microchip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Microchip_Number</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Microchip_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Only_Microchip_No</targetReference>
            </connector>
            <label>Only Microchip?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_a_dog</name>
        <label>Is it a dog?</label>
        <locationX>947</locationX>
        <locationY>410</locationY>
        <defaultConnector>
            <targetReference>Provide_Other_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Animal_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DOG</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>List_of_Offence_Categories</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_a_dog1</name>
        <label>Is it a dog?</label>
        <locationX>2514</locationX>
        <locationY>795</locationY>
        <defaultConnector>
            <targetReference>Select_Account_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Animal_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DOG</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Dog</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_Exists</name>
        <label>Is Owner Exists?</label>
        <locationX>3111</locationX>
        <locationY>1553</locationY>
        <defaultConnector>
            <targetReference>Select_Account_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vDogRecord.Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vDogRecord.Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Owner_Record</targetReference>
            </connector>
            <label>Owner exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_the_right_dog1</name>
        <label>Is this the right dog?</label>
        <locationX>3190</locationX>
        <locationY>1402</locationY>
        <defaultConnector>
            <targetReference>Search_Breed_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_the_right_dog</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Owner_Exists</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parsed_Selected_Proofs</name>
        <label>Parsed Selected Proofs?</label>
        <locationX>1989</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Grab_first_18_digits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vSelectedOffenceProofs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vSelectedOffenceProofs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RunForLoop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ListOfBreed</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Search_Breed</elementReference>
            </value>
        </filters>
        <object>Breed_List__c</object>
        <outputAssignments>
            <assignToReference>BreedId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BreedName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>listOfOffenceCategories</name>
        <dataType>String</dataType>
        <displayField>Category__c</displayField>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Offence_Category__c</object>
        <sortField>Category__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>listOfOffencesBasedOnOffenceCategory</name>
        <dataType>String</dataType>
        <displayField>AnimalOffence__c</displayField>
        <filters>
            <field>Offence_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Offence_Category</elementReference>
            </value>
        </filters>
        <object>Offence__c</object>
        <outputAssignments>
            <assignToReference>offenceFees</assignToReference>
            <field>AnimalOffencePenalty__c</field>
        </outputAssignments>
        <sortField>AnimalOffence__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>listOfProofsBasedOnSelectedOffence</name>
        <dataType>String</dataType>
        <displayField>AnimalQuestions__c</displayField>
        <filters>
            <field>Offence__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Animal_Offence</elementReference>
            </value>
        </filters>
        <object>Offence_Proof__c</object>
        <sortField>AnimalQuestions__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pAnimalType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Animal_Type__c</picklistField>
        <picklistObject>Infringement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pDogGender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Gender__c</picklistField>
        <picklistObject>Dog_Portfolio__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pIssueMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Issue_Method__c</picklistField>
        <picklistObject>Infringement__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>commaLessSelectedValues</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!vSelectedOffenceProofs},&quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>first18Digits</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!commaLessSelectedValues}, 18))</expression>
    </formulas>
    <formulas>
        <name>removeFirst18Chars</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!commaLessSelectedValues}, {!first18Digits}, &quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Infringement (Desktop) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Infringement (Desktop)</label>
    <loops>
        <name>Run_For_Loop_Proofs</name>
        <label>Run For Loop Proofs</label>
        <locationX>1813</locationX>
        <locationY>356</locationY>
        <assignNextValueToReference>vOffenceProof</assignNextValueToReference>
        <collectionReference>listOfAnimalProofs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Offence_Proof_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SelectedOffenceProofs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>RunForLoop</name>
        <label>RunForLoop</label>
        <locationX>2349</locationX>
        <locationY>512</locationY>
        <assignNextValueToReference>vSelectedLoop</assignNextValueToReference>
        <collectionReference>listOfSelectedValues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Compare_Selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Dog</name>
        <label>Create Dog</label>
        <locationX>2710</locationX>
        <locationY>1381</locationY>
        <connector>
            <targetReference>Select_Account_Type</targetReference>
        </connector>
        <inputReference>vDogRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Infringement_Record</name>
        <label>Create Infringement Record</label>
        <locationX>1750</locationX>
        <locationY>1484</locationY>
        <assignRecordIdToReference>infringementRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Image</targetReference>
        </connector>
        <inputAssignments>
            <field>Animal_Description__c</field>
            <value>
                <elementReference>Animal_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Animal_Type__c</field>
            <value>
                <elementReference>Animal_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dog_Portfolio__c</field>
            <value>
                <elementReference>vDogRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Method__c</field>
            <value>
                <elementReference>Issue_method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offence_Category__c</field>
            <value>
                <elementReference>Offence_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offence_City__c</field>
            <value>
                <elementReference>offenceCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offence_Country__c</field>
            <value>
                <elementReference>offenceCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offence_Date_Time__c</field>
            <value>
                <elementReference>Offence_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offence_Fees__c</field>
            <value>
                <elementReference>offenceFees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offence_Postal_Code__c</field>
            <value>
                <elementReference>offencePostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offence_Proofs__c</field>
            <value>
                <elementReference>offenceProofsChecked</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offence_State__c</field>
            <value>
                <elementReference>offenceState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offence_Street__c</field>
            <value>
                <elementReference>offenceStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offence__c</field>
            <value>
                <elementReference>Animal_Offence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Officer__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Animal__c</field>
            <value>
                <elementReference>Enter_the_animal_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>flowOutputAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Infringement__c</object>
    </recordCreates>
    <recordLookups>
        <name>Both_Reg_Micro</name>
        <label>Both Reg &amp; Micro</label>
        <locationX>2892</locationX>
        <locationY>980</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dog_found</targetReference>
        </connector>
        <filters>
            <field>Microchip_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Microchip_Number</elementReference>
            </value>
        </filters>
        <filters>
            <field>Registration_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Registration_Number</elementReference>
            </value>
        </filters>
        <object>Dog_Portfolio__c</object>
        <outputReference>vDogRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Breed__c</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>Colour__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>Microchip_Number__c</queriedFields>
        <queriedFields>Is_Desexed__c</queriedFields>
        <queriedFields>Owner__c</queriedFields>
        <queriedFields>Dog_Name__c</queriedFields>
        <queriedFields>Weight_kgs__c</queriedFields>
        <queriedFields>Is_Dangerous__c</queriedFields>
        <queriedFields>Is_Dog_On_Control_Order__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Animal_Proofs</name>
        <label>Get Animal Proofs</label>
        <locationX>1451</locationX>
        <locationY>499</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Infrigement_Fees</targetReference>
        </connector>
        <filters>
            <field>Offence__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Animal_Offence</elementReference>
            </value>
        </filters>
        <object>Offence_Proof__c</object>
        <outputReference>listOfAnimalProofs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AnimalQuestions__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_Account_Record_Type</name>
        <label>Get Business Account Record Type</label>
        <locationX>518</locationX>
        <locationY>403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Animal_Type</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BUSINESSACCOUNT</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>businessAccountRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_Record</name>
        <label>Get Owner Record</label>
        <locationX>2882</locationX>
        <locationY>1743</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vDogRecord.Owner__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>IsPersonAccount</assignToReference>
            <field>IsPersonAccount</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account_Record_Type</name>
        <label>Get Person Account Record Type</label>
        <locationX>300</locationX>
        <locationY>404</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Business_Account_Record_Type</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PERSONACCOUNT</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>personAccountRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Only_Microchip_No</name>
        <label>Only Microchip No?</label>
        <locationX>3432</locationX>
        <locationY>822</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dog_found</targetReference>
        </connector>
        <filters>
            <field>Microchip_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Microchip_Number</elementReference>
            </value>
        </filters>
        <object>Dog_Portfolio__c</object>
        <outputReference>vDogRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Breed__c</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>Colour__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>Microchip_Number__c</queriedFields>
        <queriedFields>Is_Desexed__c</queriedFields>
        <queriedFields>Owner__c</queriedFields>
        <queriedFields>Dog_Name__c</queriedFields>
        <queriedFields>Weight_kgs__c</queriedFields>
        <queriedFields>Is_Dangerous__c</queriedFields>
        <queriedFields>Is_Dog_On_Control_Order__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Only_Registration_No</name>
        <label>Only Registration No?</label>
        <locationX>3271</locationX>
        <locationY>943</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dog_found</targetReference>
        </connector>
        <filters>
            <field>Registration_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Registration_Number</elementReference>
            </value>
        </filters>
        <object>Dog_Portfolio__c</object>
        <outputReference>vDogRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Breed__c</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>Colour__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>Microchip_Number__c</queriedFields>
        <queriedFields>Is_Desexed__c</queriedFields>
        <queriedFields>Owner__c</queriedFields>
        <queriedFields>Dog_Name__c</queriedFields>
        <queriedFields>Weight_kgs__c</queriedFields>
        <queriedFields>Is_Dangerous__c</queriedFields>
        <queriedFields>Is_Dog_On_Control_Order__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <screens>
        <name>Breed_Selection_List</name>
        <label>Breed Selection List</label>
        <locationX>2882</locationX>
        <locationY>1251</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Enter_Dog_Details</targetReference>
        </connector>
        <fields>
            <name>Breed_Selection</name>
            <choiceReferences>ListOfBreed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Breed Selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Capture_Offence_Details</name>
        <label>Capture Offence Details</label>
        <locationX>2108</locationX>
        <locationY>1511</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Issue_method</targetReference>
        </connector>
        <fields>
            <name>Offence_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Offence Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>country</name>
                <value>
                    <stringValue>Australia</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <stringValue>ACT</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>offenceCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>offenceCountry</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>offencePostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>offenceState</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>offenceStreet</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Checklist</name>
        <label>Checklist</label>
        <locationX>1533</locationX>
        <locationY>340</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Run_For_Loop_Proofs</targetReference>
        </connector>
        <fields>
            <name>Offence_Proofs</name>
            <choiceReferences>listOfProofsBasedOnSelectedOffence</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Offence Proofs</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dog_Details</name>
        <label>Dog Details</label>
        <locationX>3359</locationX>
        <locationY>1295</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_this_the_right_dog1</targetReference>
        </connector>
        <fields>
            <name>DogDetails</name>
            <fieldText>The Dog found is&lt;br/&gt;
Name: {!vDogRecord.Dog_Name__c}
Breed: {!vDogRecord.Breed__c}
Age: {!vDogRecord.Age__c}
Colour: {!vDogRecord.Colour__c}
Gender: {!vDogRecord.Gender__c}
Registration No: {!vDogRecord.Registration_Number__c}
Microchip No: {!vDogRecord.Microchip_Number__c}
Is Desexed?: {!vDogRecord.Is_Desexed__c}
Dangerous Dog?: {!vDogRecord.Is_Dangerous__c}
Under Control Order?: {!vDogRecord.Is_Dog_On_Control_Order__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_this_the_right_dog</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Is this the right dog?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dog_Not_Found_Screen</name>
        <label>Dog Not Found Screen</label>
        <locationX>3071</locationX>
        <locationY>1287</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Search_Breed_Screen</targetReference>
        </connector>
        <fields>
            <name>Dog_Not_Found_message</name>
            <fieldText>No dog has been found. Please click on Next button to create a dog record</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Dog_Details</name>
        <label>Enter Dog Details</label>
        <locationX>2667</locationX>
        <locationY>1269</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignDogDetails</targetReference>
        </connector>
        <fields>
            <name>Dog_Name</name>
            <dataType>String</dataType>
            <fieldText>Dog Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Breed</name>
            <fieldText>Breed: {!BreedName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Age</name>
            <dataType>Number</dataType>
            <fieldText>Age</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Colour</name>
            <dataType>String</dataType>
            <fieldText>Colour</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Is_Desex</name>
            <dataType>Boolean</dataType>
            <fieldText>Is Desex?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Weight</name>
            <dataType>Number</dataType>
            <fieldText>Weight</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Microchip_No</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Microchip_Number</elementReference>
            </defaultValue>
            <fieldText>Microchip No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Gender</name>
            <choiceReferences>pDogGender</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Image</name>
        <label>Image</label>
        <locationX>1550</locationX>
        <locationY>1482</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Photos</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>UploadPhoto</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>infringementRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Infrigement_Fees</name>
        <label>Infrigement Fees</label>
        <locationX>1325</locationX>
        <locationY>342</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Checklist</targetReference>
        </connector>
        <fields>
            <name>Fee</name>
            <fieldText>Fees: {!offenceFees}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Is_this_a_warning</name>
        <label>Is this a warning?</label>
        <locationX>1978</locationX>
        <locationY>1684</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_warning</targetReference>
        </connector>
        <fields>
            <name>Is_Warning</name>
            <dataType>Boolean</dataType>
            <fieldText>Is Warning?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>List_of_Offence_Categories</name>
        <label>List of Offence Categories</label>
        <locationX>1160</locationX>
        <locationY>502</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>List_of_Offences</targetReference>
        </connector>
        <fields>
            <name>Offence_Category</name>
            <choiceReferences>listOfOffenceCategories</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Offence Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>List_of_Offences</name>
        <label>List of Offences</label>
        <locationX>1326</locationX>
        <locationY>497</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Animal_Proofs</targetReference>
        </connector>
        <fields>
            <name>Animal_Offence</name>
            <choiceReferences>listOfOffencesBasedOnOffenceCategory</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Animal Offence</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NotEqual</name>
        <label>NotEqual</label>
        <locationX>2511</locationX>
        <locationY>318</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotEqual1</name>
            <fieldText>Infringement cannot be created. Please select all the offence proofs to create an Infringement.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Provide_Other_Value</name>
        <label>Provide Other Value</label>
        <locationX>947</locationX>
        <locationY>585</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>List_of_Offence_Categories</targetReference>
        </connector>
        <fields>
            <name>Enter_the_animal_type</name>
            <dataType>String</dataType>
            <fieldText>Enter the animal type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Animal_Description</name>
            <fieldText>Animal Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_Breed_Screen</name>
        <label>Search Breed Screen</label>
        <locationX>2911</locationX>
        <locationY>1379</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Breed_Selection_List</targetReference>
        </connector>
        <fields>
            <name>Search_Breed</name>
            <dataType>String</dataType>
            <fieldText>Search Breed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_Dog</name>
        <label>Search Dog</label>
        <locationX>2760</locationX>
        <locationY>799</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Dog_Search</targetReference>
        </connector>
        <fields>
            <name>Registration_Number</name>
            <dataType>String</dataType>
            <fieldText>Registration Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Microchip_Number</name>
            <dataType>String</dataType>
            <fieldText>Microchip Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Account_Type</name>
        <label>Select Account Type</label>
        <locationX>2846</locationX>
        <locationY>1557</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Selected_Account_Type</targetReference>
        </connector>
        <fields>
            <name>SelectBusinessOrIndividualAccount</name>
            <fieldText>Select Business or Individual Account</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Type</name>
            <choiceReferences>businessAccountRecordType</choiceReferences>
            <choiceReferences>personAccountRecordType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>NOTE: 
1. Infringement is issued to this account.
2. If the animal type is dog then this account will be updated as a Dog Owner.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Message</name>
            <fieldText>NOTE: 
1. Infringement is issued to this account.
2. If the animal type is dog then this account will be updated as a Dog Owner.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Animal_Type</name>
        <label>Select Animal Type</label>
        <locationX>739</locationX>
        <locationY>405</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_it_a_dog</targetReference>
        </connector>
        <fields>
            <name>Animal_Type</name>
            <choiceReferences>pAnimalType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Animal Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Issue_method</name>
        <label>Select Issue method</label>
        <locationX>1956</locationX>
        <locationY>1510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_this_a_warning</targetReference>
        </connector>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Issue_method</name>
            <choiceReferences>pIssueMethod</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Issue method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Person_Account_Record_Type</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Search_Business_Account</name>
        <label>Search Business Account</label>
        <locationX>2227</locationX>
        <locationY>1420</locationY>
        <connector>
            <targetReference>Capture_Offence_Details</targetReference>
        </connector>
        <flowName>Search_Business_Account</flowName>
        <inputAssignments>
            <name>flowInputAccountId</name>
            <value>
                <elementReference>vDogRecord.Owner__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>flowOutputAccountId</assignToReference>
            <name>flowOutputAccountId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Search_Person_Account</name>
        <label>Search Person Account</label>
        <locationX>2213</locationX>
        <locationY>1793</locationY>
        <connector>
            <targetReference>Capture_Offence_Details</targetReference>
        </connector>
        <flowName>Search_Person_Account</flowName>
        <inputAssignments>
            <name>flowInputAccountId</name>
            <value>
                <elementReference>vDogRecord.Owner__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>flowOutputAccountId</assignToReference>
            <name>flowOutputAccountId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>accountFetchedBasedOnFlowInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>BreedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BreedName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>businessAccountRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flowOutputAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>infringementRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsPersonAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>listOfAnimalProofs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Offence_Proof__c</objectType>
    </variables>
    <variables>
        <name>listOfFeesRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fees__c</objectType>
    </variables>
    <variables>
        <name>listOfSelectedValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>offenceCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>offenceCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>offenceFees</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>offencePostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>offenceProofsChecked</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>offenceState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>offenceStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>personAccountRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>vDogRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Dog_Portfolio__c</objectType>
    </variables>
    <variables>
        <name>vFeeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fees__c</objectType>
    </variables>
    <variables>
        <name>vFeesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vOffenceProof</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Offence_Proof__c</objectType>
    </variables>
    <variables>
        <name>vOffenceProofCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vSelectedLoop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedOffenceProofs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
