flows/Infringement.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AssignDogDetails</name>
        <label>AssignDogDetails</label>
        <locationX>2816</locationX>
        <locationY>1025</locationY>
        <assignmentItems>
            <assignToReference>vDogRecord.Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Age</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDogRecord.Breed_List__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BreedId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDogRecord.Breed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BreedName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDogRecord.Colour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Colour</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDogRecord.Dog_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dog_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDogRecord.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gender</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDogRecord.Is_Desexed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Desex</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDogRecord.Microchip_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Microchip_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDogRecord.Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDogRecord.Registration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created in Field</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDogRecord.Weight_kgs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Weight</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Dog</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFirstName</name>
        <label>AssignFirstName</label>
        <locationX>1943</locationX>
        <locationY>1676</locationY>
        <assignmentItems>
            <assignToReference>firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAccountRecord.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Exists1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFirstName1</name>
        <label>AssignFirstName</label>
        <locationX>1947</locationX>
        <locationY>1468</locationY>
        <assignmentItems>
            <assignToReference>firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Exists1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPhone</name>
        <label>AssignPhone</label>
        <locationX>1828</locationX>
        <locationY>1028</locationY>
        <assignmentItems>
            <assignToReference>phoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>bPhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPhone1</name>
        <label>AssignPhone</label>
        <locationX>1835</locationX>
        <locationY>1189</locationY>
        <assignmentItems>
            <assignToReference>phoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAccountRecord.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignWorkOrderId</name>
        <label>AssignWorkOrderId</label>
        <locationX>1434</locationX>
        <locationY>354</locationY>
        <assignmentItems>
            <assignToReference>workOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Id_From_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count</name>
        <label>Count</label>
        <locationX>2814</locationX>
        <locationY>70</locationY>
        <assignmentItems>
            <assignToReference>selectedCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RunForLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Grab_first_18_digits</name>
        <label>Grab first 18 digits</label>
        <locationX>2488</locationX>
        <locationY>250</locationY>
        <assignmentItems>
            <assignToReference>listOfSelectedValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>first18Digits</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Truncate_First_18_Chars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newBusinessAccountId</name>
        <label>newBusinessAccountId</label>
        <locationX>818</locationX>
        <locationY>858</locationY>
        <assignmentItems>
            <assignToReference>flowOutputAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAccountRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Capture_Offence_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newPersonAccountId</name>
        <label>newPersonAccountId</label>
        <locationX>570</locationX>
        <locationY>1447</locationY>
        <assignmentItems>
            <assignToReference>flowOutputAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAccountRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Capture_Offence_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Offence_Proof_Count</name>
        <label>Offence Proof Count</label>
        <locationX>2182</locationX>
        <locationY>552</locationY>
        <assignmentItems>
            <assignToReference>vOffenceProofCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>offenceProofsChecked</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vOffenceProof.AnimalQuestions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>offenceProofsChecked</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_For_Loop_Proofs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>oldBusinessAccountId</name>
        <label>oldBusinessAccountId</label>
        <locationX>822</locationX>
        <locationY>1095</locationY>
        <assignmentItems>
            <assignToReference>flowOutputAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountFetchedBasedOnFlowInput.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Capture_Offence_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>oldPersonAccountId</name>
        <label>oldPersonAccountId</label>
        <locationX>622</locationX>
        <locationY>1630</locationY>
        <assignmentItems>
            <assignToReference>flowOutputAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountFetchedBasedOnFlowInput.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Capture_Offence_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SelectedOffenceProofs</name>
        <label>SelectedOffenceProofs</label>
        <locationX>2180</locationX>
        <locationY>406</locationY>
        <assignmentItems>
            <assignToReference>vSelectedOffenceProofs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Offence_Proofs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parsed_Selected_Proofs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetFeesToZero</name>
        <label>SetFeesToZero</label>
        <locationX>180</locationX>
        <locationY>555</locationY>
        <assignmentItems>
            <assignToReference>offenceFees</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Infringement_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Truncate_First_18_Chars</name>
        <label>Truncate First 18 Chars</label>
        <locationX>2361</locationX>
        <locationY>399</locationY>
        <assignmentItems>
            <assignToReference>vSelectedOffenceProofs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>removeFirst18Chars</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parsed_Selected_Proofs</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>businessAccountRecordType</name>
        <choiceText>Business Account</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>businessAccountRecordTypeId</elementReference>
        </value>
    </choices>
    <choices>
        <name>personAccountRecordType</name>
        <choiceText>PersonAccount</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>personAccountRecordTypeId</elementReference>
        </value>
    </choices>
    <constants>
        <name>BUSINESSACCOUNT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Business_Account</stringValue>
        </value>
    </constants>
    <constants>
        <name>DOG</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Dog</stringValue>
        </value>
    </constants>
    <constants>
        <name>PERSONACCOUNT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PersonAccount</stringValue>
        </value>
    </constants>
    <constants>
        <name>UploadPhoto</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Photos</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Account_Exists</name>
        <label>Account Exists?</label>
        <locationX>1631</locationX>
        <locationY>1110</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountRecord.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAccountRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Business_Address</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
        <rules>
            <name>Does_not_exist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vAccountRecord.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAccountRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Business_Address1</targetReference>
            </connector>
            <label>Does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Exists1</name>
        <label>Account Exists?</label>
        <locationX>1703</locationX>
        <locationY>1580</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountRecord.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAccountRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Person_Address</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
        <rules>
            <name>Does_not_exist1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vAccountRecord.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAccountRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Person_Address1</targetReference>
            </connector>
            <label>Does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_ID_Received</name>
        <label>Account ID Received?</label>
        <locationX>1473</locationX>
        <locationY>1164</locationY>
        <defaultConnector>
            <targetReference>Create_Business_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountFetchedBasedOnFlowInput.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountFetchedBasedOnFlowInput.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Old_Business_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_ID_Received1</name>
        <label>Account ID Received?</label>
        <locationX>1533</locationX>
        <locationY>1761</locationY>
        <defaultConnector>
            <targetReference>Create_Person_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountFetchedBasedOnFlowInput.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountFetchedBasedOnFlowInput.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Old_Person_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Business_Owner_exists</name>
        <label>Business Owner exists?</label>
        <locationX>2563</locationX>
        <locationY>1122</locationY>
        <defaultConnector>
            <targetReference>Owner_Details_Business</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vDogRecord.Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vDogRecord.Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Business_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>3266</locationX>
        <locationY>1367</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Person_Owner_exists</targetReference>
            </connector>
            <label>Person</label>
        </rules>
        <rules>
            <name>Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Business_Owner_exists</targetReference>
            </connector>
            <label>Business</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selected_Account_Type</name>
        <label>Check Selected Account Type</label>
        <locationX>2853</locationX>
        <locationY>1219</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Business_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>businessAccountRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Business_Owner_exists</targetReference>
            </connector>
            <label>Is Business Account?</label>
        </rules>
        <rules>
            <name>Is_Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>personAccountRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Person_Owner_exists</targetReference>
            </connector>
            <label>Is Person Account?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_warning</name>
        <label>Check warning?</label>
        <locationX>281</locationX>
        <locationY>698</locationY>
        <defaultConnector>
            <targetReference>Create_Infringement_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Warning</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetFeesToZero</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compare_Selected</name>
        <label>Compare Selected</label>
        <locationX>2759</locationX>
        <locationY>199</locationY>
        <defaultConnector>
            <targetReference>NotEqual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Equal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOffenceProofCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>selectedCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_it_a_dog1</targetReference>
            </connector>
            <label>Equal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dog_found</name>
        <label>Dog found?</label>
        <locationX>3466</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Dog_Not_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vDogRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vDogRecord.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dog_Details</targetReference>
            </connector>
            <label>Found?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dog_Search</name>
        <label>Dog Search</label>
        <locationX>3391</locationX>
        <locationY>253</locationY>
        <defaultConnector>
            <targetReference>Dog_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Both_Reg_No_Micro_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Microchip_Number</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Microchip_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Registration_Number</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Registration_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Both_Reg_Micro</targetReference>
            </connector>
            <label>Both Reg No &amp; Micro No</label>
        </rules>
        <rules>
            <name>Only_Registration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Registration_Number</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Registration_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Only_Registration_No</targetReference>
            </connector>
            <label>Only Registration?</label>
        </rules>
        <rules>
            <name>Only_Microchip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Microchip_Number</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Microchip_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Only_Microchip_No</targetReference>
            </connector>
            <label>Only Microchip?</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Name_is_empty</name>
        <label>First Name is empty?</label>
        <locationX>2309</locationX>
        <locationY>1561</locationY>
        <defaultConnector>
            <targetReference>Search_Person_Account1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>First_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>First_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Person_Account2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_a_dog</name>
        <label>Is it a dog?</label>
        <locationX>1804</locationX>
        <locationY>12</locationY>
        <defaultConnector>
            <targetReference>Provide_Other_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Animal_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DOG</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>List_of_Offence_Categories</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_a_dog1</name>
        <label>Is it a dog?</label>
        <locationX>3010</locationX>
        <locationY>698</locationY>
        <defaultConnector>
            <targetReference>Select_Account_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Animal_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DOG</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Dog</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_Exists</name>
        <label>Is Owner Exists?</label>
        <locationX>3469</locationX>
        <locationY>1287</locationY>
        <defaultConnector>
            <targetReference>Select_Account_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vDogRecord.Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vDogRecord.Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Owner_Record</targetReference>
            </connector>
            <label>Owner exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_the_right_dog1</name>
        <label>Is this the right dog?</label>
        <locationX>3429</locationX>
        <locationY>1099</locationY>
        <defaultConnector>
            <targetReference>Search_Breed_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_the_right_dog</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Owner_Exists</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Link_it_to_Work_Order</name>
        <label>Link it to Work Order</label>
        <locationX>1443</locationX>
        <locationY>222</locationY>
        <defaultConnector>
            <targetReference>Select_Animal_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_link_it_to_a_Case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignWorkOrderId</targetReference>
            </connector>
            <label>Link</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parsed_Selected_Proofs</name>
        <label>Parsed Selected Proofs?</label>
        <locationX>2231</locationX>
        <locationY>198</locationY>
        <defaultConnector>
            <targetReference>Grab_first_18_digits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vSelectedOffenceProofs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vSelectedOffenceProofs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RunForLoop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Person_Owner_exists</name>
        <label>Person Owner exists?</label>
        <locationX>2642</locationX>
        <locationY>1493</locationY>
        <defaultConnector>
            <targetReference>Owner_Details_Person</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vDogRecord.Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vDogRecord.Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Person_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_is_empty</name>
        <label>Phone is empty</label>
        <locationX>2260</locationX>
        <locationY>1107</locationY>
        <defaultConnector>
            <targetReference>Search_Business_Account1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>bPhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>bPhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Business_Account2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ListOfBreed</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Search_Breed</elementReference>
            </value>
        </filters>
        <object>Breed_List__c</object>
        <outputAssignments>
            <assignToReference>BreedId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BreedName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>listOfOffenceCategories</name>
        <dataType>String</dataType>
        <displayField>Category__c</displayField>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Offence_Category__c</object>
        <sortField>Category__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>listOfOffencesBasedOnOffenceCategory</name>
        <dataType>String</dataType>
        <displayField>AnimalOffence__c</displayField>
        <filters>
            <field>Offence_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Offence_Category</elementReference>
            </value>
        </filters>
        <object>Offence__c</object>
        <outputAssignments>
            <assignToReference>offenceFees</assignToReference>
            <field>AnimalOffencePenalty__c</field>
        </outputAssignments>
        <sortField>AnimalOffence__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>listOfProofsBasedOnSelectedOffence</name>
        <dataType>String</dataType>
        <displayField>AnimalQuestions__c</displayField>
        <filters>
            <field>Offence__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Animal_Offence</elementReference>
            </value>
        </filters>
        <object>Offence_Proof__c</object>
        <sortField>AnimalQuestions__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pAnimalType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Animal_Type__c</picklistField>
        <picklistObject>Infringement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pDogGender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Gender__c</picklistField>
        <picklistObject>Dog_Portfolio__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pIssueMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Issue_Method__c</picklistField>
        <picklistObject>Infringement__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>commaLessSelectedValues</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!vSelectedOffenceProofs},&quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>first18Digits</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!commaLessSelectedValues}, 18))</expression>
    </formulas>
    <formulas>
        <name>removeFirst18Chars</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!commaLessSelectedValues}, {!first18Digits}, &quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Infringement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Infringement</label>
    <loops>
        <name>Run_For_Loop_Proofs</name>
        <label>Run For Loop Proofs</label>
        <locationX>2013</locationX>
        <locationY>503</locationY>
        <assignNextValueToReference>vOffenceProof</assignNextValueToReference>
        <collectionReference>listOfAnimalProofs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Offence_Proof_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SelectedOffenceProofs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>RunForLoop</name>
        <label>RunForLoop</label>
        <locationX>2641</locationX>
        <locationY>72</locationY>
        <assignNextValueToReference>vSelectedLoop</assignNextValueToReference>
        <collectionReference>listOfSelectedValues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Compare_Selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Business_Account</name>
        <label>Create Business Account</label>
        <locationX>717</locationX>
        <locationY>1234</locationY>
        <assignRecordIdToReference>flowOutputAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Capture_Offence_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>bCity1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>bCountry1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>bPostal_Code1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>bState1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>bStreet1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>bEmail1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>phoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>businessAccountRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Dog</name>
        <label>Create Dog</label>
        <locationX>2960</locationX>
        <locationY>1036</locationY>
        <connector>
            <targetReference>Select_Account_Type</targetReference>
        </connector>
        <inputReference>vDogRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Infringement_Record</name>
        <label>Create Infringement Record</label>
        <locationX>431</locationX>
        <locationY>594</locationY>
        <assignRecordIdToReference>infringementRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Image</targetReference>
        </connector>
        <inputAssignments>
            <field>Animal_Description__c</field>
            <value>
                <elementReference>Animal_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Animal_Type__c</field>
            <value>
                <elementReference>Animal_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>caseIdOnWO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dog_Portfolio__c</field>
            <value>
                <elementReference>vDogRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Method__c</field>
            <value>
                <elementReference>Issue_method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offence_Category__c</field>
            <value>
                <elementReference>Offence_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offence_City__c</field>
            <value>
                <elementReference>Offence_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offence_Country__c</field>
            <value>
                <elementReference>Offence_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offence_Date_Time__c</field>
            <value>
                <elementReference>Offence_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offence_Fees__c</field>
            <value>
                <elementReference>offenceFees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offence_Postal_Code__c</field>
            <value>
                <elementReference>Offence_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offence_Proofs__c</field>
            <value>
                <elementReference>offenceProofsChecked</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offence_State__c</field>
            <value>
                <elementReference>Offence_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offence_Street__c</field>
            <value>
                <elementReference>Offence_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offence__c</field>
            <value>
                <elementReference>Animal_Offence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Officer__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Animal__c</field>
            <value>
                <elementReference>Enter_the_animal_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>flowOutputAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>Infringement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Person_Account</name>
        <label>Create Person Account</label>
        <locationX>430</locationX>
        <locationY>1786</locationY>
        <assignRecordIdToReference>flowOutputAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Capture_Offence_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>pCity1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>pCountry1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>pPostal_Code1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>pState1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>pStreet1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>pEmail1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>pPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>personAccountRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Both_Reg_Micro</name>
        <label>Both Reg &amp; Micro</label>
        <locationX>3280</locationX>
        <locationY>590</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dog_found</targetReference>
        </connector>
        <filters>
            <field>Microchip_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Microchip_Number</elementReference>
            </value>
        </filters>
        <filters>
            <field>Registration_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Registration_Number</elementReference>
            </value>
        </filters>
        <object>Dog_Portfolio__c</object>
        <outputReference>vDogRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Breed__c</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>Colour__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>Microchip_Number__c</queriedFields>
        <queriedFields>Is_Desexed__c</queriedFields>
        <queriedFields>Owner__c</queriedFields>
        <queriedFields>Dog_Name__c</queriedFields>
        <queriedFields>Weight_kgs__c</queriedFields>
        <queriedFields>Is_Dangerous__c</queriedFields>
        <queriedFields>Is_Dog_On_Control_Order__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Animal_Proofs</name>
        <label>Get Animal Proofs</label>
        <locationX>2088</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Infrigement_Fees</targetReference>
        </connector>
        <filters>
            <field>Offence__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Animal_Offence</elementReference>
            </value>
        </filters>
        <object>Offence_Proof__c</object>
        <outputReference>listOfAnimalProofs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AnimalQuestions__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_Account_Record_Type</name>
        <label>Get Business Account Record Type</label>
        <locationX>1168</locationX>
        <locationY>401</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Link_To_Case</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BUSINESSACCOUNT</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>businessAccountRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Id_From_WO</name>
        <label>Get Case Id From WO</label>
        <locationX>1521</locationX>
        <locationY>400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Animal_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>caseIdOnWO</assignToReference>
            <field>CaseId</field>
        </outputAssignments>
        <sortField>CaseId</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_Record</name>
        <label>Get Owner Record</label>
        <locationX>3446</locationX>
        <locationY>1434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vDogRecord.Owner__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>IsPersonAccount</assignToReference>
            <field>IsPersonAccount</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account_Record_Type</name>
        <label>Get Person Account Record Type</label>
        <locationX>903</locationX>
        <locationY>387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Business_Account_Record_Type</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PERSONACCOUNT</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>personAccountRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Only_Microchip_No</name>
        <label>Only Microchip No?</label>
        <locationX>3640</locationX>
        <locationY>557</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dog_found</targetReference>
        </connector>
        <filters>
            <field>Microchip_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Microchip_Number</elementReference>
            </value>
        </filters>
        <object>Dog_Portfolio__c</object>
        <outputReference>vDogRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Breed__c</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>Colour__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>Microchip_Number__c</queriedFields>
        <queriedFields>Is_Desexed__c</queriedFields>
        <queriedFields>Owner__c</queriedFields>
        <queriedFields>Dog_Name__c</queriedFields>
        <queriedFields>Weight_kgs__c</queriedFields>
        <queriedFields>Is_Dangerous__c</queriedFields>
        <queriedFields>Is_Dog_On_Control_Order__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Only_Registration_No</name>
        <label>Only Registration No?</label>
        <locationX>3433</locationX>
        <locationY>595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dog_found</targetReference>
        </connector>
        <filters>
            <field>Registration_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Registration_Number</elementReference>
            </value>
        </filters>
        <object>Dog_Portfolio__c</object>
        <outputReference>vDogRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Breed__c</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>Colour__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>Microchip_Number__c</queriedFields>
        <queriedFields>Is_Desexed__c</queriedFields>
        <queriedFields>Owner__c</queriedFields>
        <queriedFields>Dog_Name__c</queriedFields>
        <queriedFields>Weight_kgs__c</queriedFields>
        <queriedFields>Is_Dangerous__c</queriedFields>
        <queriedFields>Is_Dog_On_Control_Order__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Search_Business_Account</name>
        <label>Search Business Account</label>
        <locationX>2396</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_Details_Business</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vDogRecord.Owner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>businessAccountRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>accountFetchedBasedOnFlowInput</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Search_Business_Account1</name>
        <label>Search Business Account</label>
        <locationX>2058</locationX>
        <locationY>1016</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignPhone</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bPhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>businessAccountRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>vAccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Phone</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>search by only name</description>
        <name>Search_Business_Account2</name>
        <label>Search Business Account</label>
        <locationX>2065</locationX>
        <locationY>1185</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignPhone1</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>businessAccountRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>vAccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Phone</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Search_Person_Account</name>
        <label>Search Person Account</label>
        <locationX>2442</locationX>
        <locationY>1627</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_Details_Person</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vDogRecord.Owner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>personAccountRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>accountFetchedBasedOnFlowInput</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Search_Person_Account1</name>
        <label>Search Person Account</label>
        <locationX>2094</locationX>
        <locationY>1476</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignFirstName1</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pPhone</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>vAccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Search_Person_Account2</name>
        <label>Search Person Account</label>
        <locationX>2110</locationX>
        <locationY>1689</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignFirstName</targetReference>
        </connector>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pPhone</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>vAccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Phone</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_New_Business_Account</name>
        <label>Update New Business Account</label>
        <locationX>1300</locationX>
        <locationY>912</locationY>
        <connector>
            <targetReference>newBusinessAccountId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>businessAccountRecordTypeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>bCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>bCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>bPostal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>bState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>bStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>bEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>phoneNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Person_Account</name>
        <label>Update New Person Account</label>
        <locationX>999</locationX>
        <locationY>1431</locationY>
        <connector>
            <targetReference>newPersonAccountId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>personAccountRecordTypeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>pCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>pCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>pPostal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>pState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>pStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>pEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>pPhone</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Business_Account</name>
        <label>Update Old Business Account</label>
        <locationX>1299</locationX>
        <locationY>1070</locationY>
        <connector>
            <targetReference>oldBusinessAccountId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountFetchedBasedOnFlowInput.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>businessAccountRecordTypeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>bCity1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>bCountry1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>bPostal_Code1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>bState1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>bStreet1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>bEmail1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>phoneNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Person_Account</name>
        <label>Update Old Person Account</label>
        <locationX>1356</locationX>
        <locationY>1618</locationY>
        <connector>
            <targetReference>oldPersonAccountId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountFetchedBasedOnFlowInput.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>personAccountRecordTypeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>pCity1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>pCountry1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>pPostal_Code1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>pState1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>pStreet1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>pEmail1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>pPhone</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Breed_Selection_List</name>
        <label>Breed Selection List</label>
        <locationX>3132</locationX>
        <locationY>906</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Enter_Dog_Details</targetReference>
        </connector>
        <fields>
            <name>Breed_Selection</name>
            <choiceReferences>ListOfBreed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Breed Selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Capture_Offence_Details</name>
        <label>Capture Offence Details</label>
        <locationX>600</locationX>
        <locationY>726</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Issue_method</targetReference>
        </connector>
        <fields>
            <name>Offence_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Offence Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Offence_Street</name>
            <dataType>String</dataType>
            <fieldText>Offence Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Offence_City</name>
            <dataType>String</dataType>
            <fieldText>Offence City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Offence_State</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>ACT</stringValue>
            </defaultValue>
            <fieldText>Offence State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Offence_Postal_Code</name>
            <dataType>String</dataType>
            <fieldText>Offence Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Offence_Country</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Australia</stringValue>
            </defaultValue>
            <fieldText>Offence Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Checklist</name>
        <label>Checklist</label>
        <locationX>1851</locationX>
        <locationY>421</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Run_For_Loop_Proofs</targetReference>
        </connector>
        <fields>
            <name>Offence_Proofs</name>
            <choiceReferences>listOfProofsBasedOnSelectedOffence</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Offence Proofs</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dog_Details</name>
        <label>Dog Details</label>
        <locationX>3609</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_this_the_right_dog1</targetReference>
        </connector>
        <fields>
            <name>DogDetails</name>
            <fieldText>The Dog found is&lt;br/&gt;
Name: {!vDogRecord.Dog_Name__c}
Breed: {!vDogRecord.Breed__c}
Age: {!vDogRecord.Age__c}
Colour: {!vDogRecord.Colour__c}
Gender: {!vDogRecord.Gender__c}
Registration No: {!vDogRecord.Registration_Number__c}
Microchip No: {!vDogRecord.Microchip_Number__c}
Is Desexed?: {!vDogRecord.Is_Desexed__c}
Dangerous Dog?: {!vDogRecord.Is_Dangerous__c}
Under Control Order?: {!vDogRecord.Is_Dog_On_Control_Order__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_this_the_right_dog</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Is this the right dog?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dog_Not_Found_Screen</name>
        <label>Dog Not Found Screen</label>
        <locationX>3304</locationX>
        <locationY>930</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Search_Breed_Screen</targetReference>
        </connector>
        <fields>
            <name>Dog_Not_Found_message</name>
            <fieldText>No dog has been found. Please click on Next button to create a dog record</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Dog_Details</name>
        <label>Enter Dog Details</label>
        <locationX>2917</locationX>
        <locationY>924</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignDogDetails</targetReference>
        </connector>
        <fields>
            <name>Dog_Name</name>
            <dataType>String</dataType>
            <fieldText>Dog Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Breed</name>
            <fieldText>Breed: {!BreedName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Age</name>
            <dataType>Number</dataType>
            <fieldText>Age</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Colour</name>
            <dataType>String</dataType>
            <fieldText>Colour</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Is_Desex</name>
            <dataType>Boolean</dataType>
            <fieldText>Is Desex?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Weight</name>
            <dataType>Number</dataType>
            <fieldText>Weight</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Microchip_No</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Microchip_Number</elementReference>
            </defaultValue>
            <fieldText>Microchip No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Gender</name>
            <choiceReferences>pDogGender</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Image</name>
        <label>Image</label>
        <locationX>542</locationX>
        <locationY>556</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Photos</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>UploadPhoto</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>infringementRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Infrigement_Fees</name>
        <label>Infrigement Fees</label>
        <locationX>1958</locationX>
        <locationY>321</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Checklist</targetReference>
        </connector>
        <fields>
            <name>Fee</name>
            <fieldText>Fees: {!offenceFees}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Is_this_a_warning</name>
        <label>Is this a warning?</label>
        <locationX>288</locationX>
        <locationY>821</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_warning</targetReference>
        </connector>
        <fields>
            <name>Is_Warning</name>
            <dataType>Boolean</dataType>
            <fieldText>Is Warning?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Link_To_Case</name>
        <label>Link To Case</label>
        <locationX>1341</locationX>
        <locationY>381</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Link_it_to_Work_Order</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_link_it_to_a_Case</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to link it to a Case?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>List_of_Offence_Categories</name>
        <label>List of Offence Categories</label>
        <locationX>2022</locationX>
        <locationY>63</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>List_of_Offences</targetReference>
        </connector>
        <fields>
            <name>Offence_Category</name>
            <choiceReferences>listOfOffenceCategories</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Offence Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>List_of_Offences</name>
        <label>List of Offences</label>
        <locationX>2144</locationX>
        <locationY>87</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Animal_Proofs</targetReference>
        </connector>
        <fields>
            <name>Animal_Offence</name>
            <choiceReferences>listOfOffencesBasedOnOffenceCategory</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Animal Offence</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NotEqual</name>
        <label>NotEqual</label>
        <locationX>2988</locationX>
        <locationY>90</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotEqual1</name>
            <fieldText>Infringement cannot be created. Please select all the offence proofs to create an Infringement.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Owner_Business_Address</name>
        <label>Owner Business Address</label>
        <locationX>1636</locationX>
        <locationY>930</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_New_Business_Account</targetReference>
        </connector>
        <fields>
            <name>bEmail</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vAccountRecord.Email__c</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>bStreet</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vAccountRecord.BillingStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>bCity</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vAccountRecord.BillingCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>bState</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vAccountRecord.BillingState</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>bPostal_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vAccountRecord.BillingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>bCountry</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Australia</stringValue>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Owner_Business_Address1</name>
        <label>Owner Business Address</label>
        <locationX>1488</locationX>
        <locationY>1002</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Account_ID_Received</targetReference>
        </connector>
        <fields>
            <name>bEmail1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.Email__c</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>bStreet1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.BillingStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>bCity1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.BillingCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>bState1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.BillingState</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>bPostal_Code1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.BillingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>bCountry1</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Australia</stringValue>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Owner_Details_Business</name>
        <label>Owner Details (Business)</label>
        <locationX>2392</locationX>
        <locationY>1034</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Phone_is_empty</targetReference>
        </connector>
        <fields>
            <name>BusinessOwnerInformation</name>
            <fieldText>Please enter owner information</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.Name</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>bPhone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.Phone</elementReference>
            </defaultValue>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Owner_Details_Person</name>
        <label>Owner Details (Person)</label>
        <locationX>2440</locationX>
        <locationY>1478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>First_Name_is_empty</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>pPhone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.Phone</elementReference>
            </defaultValue>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Owner_Person_Address</name>
        <label>Owner Person Address</label>
        <locationX>1686</locationX>
        <locationY>1432</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_New_Person_Account</targetReference>
        </connector>
        <fields>
            <name>pEmail</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vAccountRecord.PersonEmail</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>pStreet</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vAccountRecord.BillingStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>pCity</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vAccountRecord.BillingCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>pState</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vAccountRecord.BillingState</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>pPostal_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vAccountRecord.BillingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>pCountry</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Australia</stringValue>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Owner_Person_Address1</name>
        <label>Owner Person Address</label>
        <locationX>1706</locationX>
        <locationY>1757</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Account_ID_Received1</targetReference>
        </connector>
        <fields>
            <name>pEmail1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.PersonEmail</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>pStreet1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.BillingStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>pCity1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.BillingCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>pState1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.BillingState</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>pPostal_Code1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInput.BillingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>pCountry1</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Australia</stringValue>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Provide_Other_Value</name>
        <label>Provide Other Value</label>
        <locationX>1824</locationX>
        <locationY>227</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>List_of_Offence_Categories</targetReference>
        </connector>
        <fields>
            <name>Enter_the_animal_type</name>
            <dataType>String</dataType>
            <fieldText>Enter the animal type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Animal_Description</name>
            <fieldText>Animal Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_Breed_Screen</name>
        <label>Search Breed Screen</label>
        <locationX>3161</locationX>
        <locationY>1034</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Breed_Selection_List</targetReference>
        </connector>
        <fields>
            <name>Search_Breed</name>
            <dataType>String</dataType>
            <fieldText>Search Breed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_Dog</name>
        <label>Search Dog</label>
        <locationX>3223</locationX>
        <locationY>254</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Dog_Search</targetReference>
        </connector>
        <fields>
            <name>Registration_Number</name>
            <dataType>String</dataType>
            <fieldText>Registration Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Microchip_Number</name>
            <dataType>String</dataType>
            <fieldText>Microchip Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Account_Type</name>
        <label>Select Account Type</label>
        <locationX>3093</locationX>
        <locationY>1209</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Selected_Account_Type</targetReference>
        </connector>
        <fields>
            <name>SelectBusinessOrIndividualAccount</name>
            <fieldText>Select Business or Individual Account</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Type</name>
            <choiceReferences>businessAccountRecordType</choiceReferences>
            <choiceReferences>personAccountRecordType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>NOTE: 
1. Infringement is issued to this account.
2. If the animal type is dog then this account will be updated as a Dog Owner.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Message</name>
            <fieldText>NOTE: 
1. Infringement is issued to this account.
2. If the animal type is dog then this account will be updated as a Dog Owner.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Animal_Type</name>
        <label>Select Animal Type</label>
        <locationX>1681</locationX>
        <locationY>135</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_it_a_dog</targetReference>
        </connector>
        <fields>
            <name>Animal_Type</name>
            <choiceReferences>pAnimalType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Animal Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Issue_method</name>
        <label>Select Issue method</label>
        <locationX>466</locationX>
        <locationY>817</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_this_a_warning</targetReference>
        </connector>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Issue_method</name>
            <choiceReferences>pIssueMethod</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Issue method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Person_Account_Record_Type</startElementReference>
    <status>Active</status>
    <variables>
        <name>accountFetchedBasedOnFlowInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>BreedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BreedName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>businessAccountRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseIdOnWO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flowOutputAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>infringementRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsPersonAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>listOfAnimalProofs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Offence_Proof__c</objectType>
    </variables>
    <variables>
        <name>listOfFeesRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fees__c</objectType>
    </variables>
    <variables>
        <name>listOfSelectedValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>offenceFees</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>offenceProofsChecked</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>personAccountRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>vDogRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Dog_Portfolio__c</objectType>
    </variables>
    <variables>
        <name>vFeeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fees__c</objectType>
    </variables>
    <variables>
        <name>vFeesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vOffenceProof</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Offence_Proof__c</objectType>
    </variables>
    <variables>
        <name>vOffenceProofCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vSelectedLoop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedOffenceProofs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
