flows/PB_SHI01_Populate_Name.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>New or Date Change (Business hours)</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>New or Date Change (On Call)</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(DAY(DATEVALUE([Shift__c].Start_DateTime__c ))&lt;10, &quot;0&quot; +TEXT(DAY(DATEVALUE([Shift__c].Start_DateTime__c ))) , TEXT(DAY(DATEVALUE([Shift__c].Start_DateTime__c ))) )
+&quot;/&quot;+
IF(MONTH(DATEVALUE([Shift__c].Start_DateTime__c ))&lt;10, &quot;0&quot; +TEXT(MONTH(DATEVALUE([Shift__c].Start_DateTime__c ))) , TEXT(MONTH(DATEVALUE([Shift__c].Start_DateTime__c ))) ) + &quot;/&quot;+TEXT(YEAR(DATEVALUE([Shift__c].Start_DateTime__c ))) + &quot;  Business Hours&quot; </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_5017521235</name>
        <dataType>String</dataType>
        <expression>IF(DAY(DATEVALUE({!myVariable_current.Start_DateTime__c} ))&lt;10, &quot;0&quot; +TEXT(DAY(DATEVALUE({!myVariable_current.Start_DateTime__c} ))) , TEXT(DAY(DATEVALUE({!myVariable_current.Start_DateTime__c} ))) )
+&quot;/&quot;+
IF(MONTH(DATEVALUE({!myVariable_current.Start_DateTime__c} ))&lt;10, &quot;0&quot; +TEXT(MONTH(DATEVALUE({!myVariable_current.Start_DateTime__c} ))) , TEXT(MONTH(DATEVALUE({!myVariable_current.Start_DateTime__c} ))) ) + &quot;/&quot;+TEXT(YEAR(DATEVALUE({!myVariable_current.Start_DateTime__c} ))) + &quot;  Business Hours&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(DAY(DATEVALUE([Shift__c].Start_DateTime__c ))&lt;10, &quot;0&quot; +TEXT(DAY(DATEVALUE([Shift__c].Start_DateTime__c ))) , TEXT(DAY(DATEVALUE([Shift__c].Start_DateTime__c ))) )
+&quot;/&quot;+
IF(MONTH(DATEVALUE([Shift__c].Start_DateTime__c ))&lt;10, &quot;0&quot; +TEXT(MONTH(DATEVALUE([Shift__c].Start_DateTime__c ))) , TEXT(MONTH(DATEVALUE([Shift__c].Start_DateTime__c ))) ) + &quot;/&quot;+TEXT(YEAR(DATEVALUE([Shift__c].Start_DateTime__c ))) + &quot;  On Call&quot; </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_4_A1_1223039432</name>
        <dataType>String</dataType>
        <expression>IF(DAY(DATEVALUE({!myVariable_current.Start_DateTime__c} ))&lt;10, &quot;0&quot; +TEXT(DAY(DATEVALUE({!myVariable_current.Start_DateTime__c} ))) , TEXT(DAY(DATEVALUE({!myVariable_current.Start_DateTime__c} ))) )
+&quot;/&quot;+
IF(MONTH(DATEVALUE({!myVariable_current.Start_DateTime__c} ))&lt;10, &quot;0&quot; +TEXT(MONTH(DATEVALUE({!myVariable_current.Start_DateTime__c} ))) , TEXT(MONTH(DATEVALUE({!myVariable_current.Start_DateTime__c} ))) ) + &quot;/&quot;+TEXT(YEAR(DATEVALUE({!myVariable_current.Start_DateTime__c} ))) + &quot;  On Call&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Shift__c].On_Call__c = false &amp;&amp;   (ISNEW() || ( ISCHANGED([Shift__c].Start_DateTime__c ) || ISCHANGED([Shift__c].End_DateTime__c )))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.On_Call__c} = false &amp;&amp;   (ISNEW() || ( ISCHANGED({!myVariable_current.Start_DateTime__c} ) || ISCHANGED({!myVariable_current.End_DateTime__c} )))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Shift__c].On_Call__c = true &amp;&amp;   (ISNEW() || ( ISCHANGED([Shift__c].Start_DateTime__c ) || ISCHANGED([Shift__c].End_DateTime__c )))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.On_Call__c} = true &amp;&amp;   (ISNEW() || ( ISCHANGED({!myVariable_current.Start_DateTime__c} ) || ISCHANGED({!myVariable_current.End_DateTime__c} )))</expression>
    </formulas>
    <interviewLabel>PB_SHI01_Populate_Name-3_InterviewLabel</interviewLabel>
    <label>PB_SHI01_Populate_Name</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Shift__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Shift__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Name</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Shift Name</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Name</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_5017521235</elementReference>
            </value>
        </inputAssignments>
        <object>Shift__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Shift__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>Update Name</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Shift Name</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Name</field>
            <value>
                <elementReference>formula_5_myRule_4_A1_1223039432</elementReference>
            </value>
        </inputAssignments>
        <object>Shift__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Shift__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Shift__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
