flows/Search_and_Match_Breed_list.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Breed_Value_Exist</name>
        <label>Breed Value Exist?</label>
        <locationX>220</locationX>
        <locationY>61</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BreedText</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Breed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Breed_Value_Found</name>
        <label>Breed Value Found?</label>
        <locationX>217</locationX>
        <locationY>385</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BreedId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Dog_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Search and Match {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Search and Match Breed list</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Breed</name>
        <label>Get Breed</label>
        <locationX>228</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Breed_Value_Found</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BreedText</elementReference>
            </value>
        </filters>
        <object>Breed_List__c</object>
        <outputAssignments>
            <assignToReference>BreedId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Dog_Record</name>
        <label>Update Dog Record</label>
        <locationX>457</locationX>
        <locationY>381</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DogId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Breed_List__c</field>
            <value>
                <elementReference>BreedId</elementReference>
            </value>
        </inputAssignments>
        <object>Dog_Portfolio__c</object>
    </recordUpdates>
    <startElementReference>Breed_Value_Exist</startElementReference>
    <status>Active</status>
    <variables>
        <name>BreedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BreedText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
