flows/SeizureNotice.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Dog_Id</name>
        <label>Assign Dog Id</label>
        <locationX>912</locationX>
        <locationY>1339</locationY>
        <assignmentItems>
            <assignToReference>DogId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DogSobject.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Subject_for_WOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_to_dog</name>
        <label>Assign Owner to dog</label>
        <locationX>2204</locationX>
        <locationY>1981</locationY>
        <assignmentItems>
            <assignToReference>DogSobject.Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flowOutputAccountIdOwner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Dog_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subject_for_WOLI</name>
        <label>Assign Subject for WOLI</label>
        <locationX>936</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>WOLISubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!DogSobject.Breed__c} {!DogSobject.Colour__c} {!DogSobject.Registration_Number__c}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowInputAccountIdOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DogSobject.Owner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type_of_Offence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_seizure</name>
        <label>Assign to seizure</label>
        <locationX>3157</locationX>
        <locationY>1353</locationY>
        <assignmentItems>
            <assignToReference>SeizureWOLItem.Place_of_Seizure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Place_of_seizure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SeizureWOLItem.Dog__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DogId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SeizureWOLItem.Owner_Person_in_Charge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flowOutputAccountIdOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SeizureWOLItem.Seizure_Notice_served_on__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flowOutputAccountIdServedTo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SeizureWOLItem.Ranger_inspector__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SeizureWOLItem.Seizure_Offence_Type2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Offence_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SeizureWOLItem.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SeizureWOLItem.Time_of_Seizure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Time_of_seizure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SeizureWOLItem.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>seizureNoticeRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SeizureWOLItem.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>seizureNoticeWorkTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SeizureWOLItem.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!SEIZURENOTICEFOR} {!WOLISubject}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SeizureWOLItem.OfflineLinkWOLI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Id}SeizureNotice{!Microchip_Number}{!Breed}{!Colour}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SeizureWOLItem.Is_the_owner_willing_to_sign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_the_owner_willing_to_sign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SeizureWOLItem.Domestic_Animal_Services_Ref__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SeizureNoticeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Seizure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WOLI_Subject_Offline</name>
        <label>Assign WOLI Subject Offline</label>
        <locationX>1112</locationX>
        <locationY>920</locationY>
        <assignmentItems>
            <assignToReference>WOLISubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Breed} {!Colour} {!Microchip_Number}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type_of_Offence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCreatedOffline</name>
        <label>AssignCreatedOffline</label>
        <locationX>904</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>createdOffline</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Dog_details_to_create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newlyUpdatedAccountId</name>
        <label>newlyUpdatedAccountId</label>
        <locationX>2224</locationX>
        <locationY>1683</locationY>
        <assignmentItems>
            <assignToReference>flowOutputAccountIdOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecordOwner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Same_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newlyUpdatedAccountId1</name>
        <label>newlyUpdatedAccountId</label>
        <locationX>2294</locationX>
        <locationY>2613</locationY>
        <assignmentItems>
            <assignToReference>flowOutputAccountIdServedTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecordServedTo.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Successfully_Updated1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>oldAccountId</name>
        <label>oldAccountId</label>
        <locationX>1795</locationX>
        <locationY>2035</locationY>
        <assignmentItems>
            <assignToReference>flowOutputAccountIdOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flowInputAccountIdOwner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Same_Owner</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>PersonAccount</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PersonAccount</stringValue>
        </value>
    </constants>
    <constants>
        <name>SEIZURENOTICEFOR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Seizure Notice for</stringValue>
        </value>
    </constants>
    <constants>
        <name>SeizureNoticeRecordTypeName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SeizureNotice</stringValue>
        </value>
    </constants>
    <constants>
        <name>SeizureNoticeWorkTypeName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Seizure Notice</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Account_Exists</name>
        <label>Account Exists?</label>
        <locationX>1437</locationX>
        <locationY>1714</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountRecordOwner.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Details_Update1</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
        <rules>
            <name>Does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountRecordOwner.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Details_Update</targetReference>
            </connector>
            <label>Does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Exists1</name>
        <label>Account Exists?</label>
        <locationX>1774</locationX>
        <locationY>2746</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountRecordServedTo.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_New_Account1</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
        <rules>
            <name>Does_not_exist1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountRecordServedTo.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account1</targetReference>
            </connector>
            <label>Does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_ID_Received</name>
        <label>Account ID Received?</label>
        <locationX>1000</locationX>
        <locationY>1903</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowInputAccountIdOwner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Account_Based_On_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowInputAccountIdOwner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Information</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_ID_Received1</name>
        <label>Account ID Received?</label>
        <locationX>1600</locationX>
        <locationY>1879</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowInputAccountIdOwner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Old_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowInputAccountIdOwner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Additional_dogs_to_add</name>
        <label>Additional dogs to add?</label>
        <locationX>1674</locationX>
        <locationY>365</locationY>
        <defaultConnector>
            <targetReference>Seizure_record_created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dog_information</targetReference>
            </connector>
            <label>Yes?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Owner_Details</name>
        <label>Check Owner Details</label>
        <locationX>648</locationX>
        <locationY>1739</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_have_owner_details</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>flowInputAccountIdOwner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_ID_Received</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_have_owner_details</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Seize</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Served_Details</name>
        <label>Check Served Details</label>
        <locationX>1739</locationX>
        <locationY>2351</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_have_served_to_details</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Served_To_Information</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_have_served_to_details</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Seizure_Record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dog_Record_created</name>
        <label>Dog Record created?</label>
        <locationX>1850</locationX>
        <locationY>1888</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Dog_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DogSobject.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dog_record</targetReference>
            </connector>
            <label>No Dog Created</label>
        </rules>
        <rules>
            <name>Dog_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DogSobject.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Same_Owner</targetReference>
            </connector>
            <label>Dog Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_app_offline</name>
        <label>Is the app offline?</label>
        <locationX>815</locationX>
        <locationY>237</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>The_app_is_Online</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Online_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ranger_entered_Registration</targetReference>
            </connector>
            <label>The app is Online</label>
        </rules>
        <rules>
            <name>The_app_is_Offline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Online_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCreatedOffline</targetReference>
            </connector>
            <label>The app is Offline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_app_Online</name>
        <label>Is the app Online</label>
        <locationX>1220</locationX>
        <locationY>1436</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Online1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Online_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Skip_If_Owner_Exists</targetReference>
            </connector>
            <label>Online</label>
        </rules>
        <rules>
            <name>Offline1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Online_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Information</targetReference>
            </connector>
            <label>Offline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_app_online1</name>
        <label>Is the app online</label>
        <locationX>1540</locationX>
        <locationY>1390</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Online2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Online_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Account</targetReference>
            </connector>
            <label>Online</label>
        </rules>
        <rules>
            <name>Offline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Online_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Details_Update</targetReference>
            </connector>
            <label>Offline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_app_online2</name>
        <label>Is the app online</label>
        <locationX>1746</locationX>
        <locationY>2472</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Online3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Online_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Account1</targetReference>
            </connector>
            <label>Online</label>
        </rules>
        <rules>
            <name>Offline2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Online_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Served_To_Detail_Update</targetReference>
            </connector>
            <label>Offline</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_dog_found</name>
        <label>No dog found?</label>
        <locationX>457</locationX>
        <locationY>992</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Dog_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DogSobject.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DogNotFound</targetReference>
            </connector>
            <label>Dog not found?</label>
        </rules>
        <rules>
            <name>Dog_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DogSobject.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Dog_details</targetReference>
            </connector>
            <label>Dog found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ranger_entered_Registration</name>
        <label>Ranger entered Registration</label>
        <locationX>449</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>DogNotFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>RegisteredAndMicrochipped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Registration_Number</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Microchip_Number</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Registration_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Microchip_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Dog_Portfolio_based_on_both_Reg_And_MC</targetReference>
            </connector>
            <label>RegisteredAndMicrochipped?</label>
        </rules>
        <rules>
            <name>Only_Registration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Registration_Number</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Registration_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Dog_portfolio</targetReference>
            </connector>
            <label>Only Registration?</label>
        </rules>
        <rules>
            <name>Only_Microchip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Microchip_Number</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Microchip_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Dog_Portfolio_based_on_MC</targetReference>
            </connector>
            <label>Only Microchip?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_Owner</name>
        <label>Same Owner?</label>
        <locationX>2084</locationX>
        <locationY>2036</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same_Owner2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowOutputAccountIdOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DogSobject.Owner__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Successfully_Updated</targetReference>
            </connector>
            <label>Same Owner</label>
        </rules>
        <rules>
            <name>Different_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowOutputAccountIdOwner</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>DogSobject.Owner__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_to_dog</targetReference>
            </connector>
            <label>Different Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_If_Owner_Exists</name>
        <label>Skip If Owner Exists</label>
        <locationX>862</locationX>
        <locationY>1537</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DogSobject.Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Owner_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No4</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DogSobject.Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Details</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Yesdogtrue</name>
        <label>Yesdogtrue</label>
        <locationX>796</locationX>
        <locationY>1250</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Right_Dog</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_the_right_dog</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Dog_Id</targetReference>
            </connector>
            <label>Right Dog</label>
        </rules>
        <rules>
            <name>Wrong_Dog</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_the_right_dog</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Breed_Screen</targetReference>
            </connector>
            <label>Wrong Dog</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Gender__c</picklistField>
        <picklistObject>Dog_Portfolio__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListOfBreed</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Search_Breed</elementReference>
            </value>
        </filters>
        <object>Breed_List__c</object>
        <outputAssignments>
            <assignToReference>BreedId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BreedName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SeizureOffenceType</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Seizure_Offence_Type2__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>YesNo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Is_the_owner_willing_to_sign__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>SeizureNotice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SeizureNotice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>1726</locationX>
        <locationY>1871</locationY>
        <assignRecordIdToReference>flowOutputAccountIdOwner</assignRecordIdToReference>
        <connector>
            <targetReference>Dog_Record_created</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>City1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Country1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>State1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Street1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Email1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>personAccountRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Account1</name>
        <label>Create Account</label>
        <locationX>2100</locationX>
        <locationY>2866</locationY>
        <assignRecordIdToReference>flowOutputAccountIdServedTo</assignRecordIdToReference>
        <connector>
            <targetReference>Successfully_Updated1</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>City2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Country2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Postal_Code2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>State2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Street2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Email2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone1</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Dog_Record_Online</name>
        <label>Create Dog Record Online</label>
        <locationX>586</locationX>
        <locationY>1077</locationY>
        <assignRecordIdToReference>DogId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Created_Dog_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Age__c</field>
            <value>
                <elementReference>Age2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breed_List__c</field>
            <value>
                <elementReference>BreedId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breed__c</field>
            <value>
                <elementReference>BreedName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colour__c</field>
            <value>
                <elementReference>Colour2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dog_Name__c</field>
            <value>
                <elementReference>Dog_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Gender2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Desexed__c</field>
            <value>
                <elementReference>Is_Desex</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Microchip_Number__c</field>
            <value>
                <elementReference>Microchip_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Status__c</field>
            <value>
                <stringValue>Created in Field</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_kgs__c</field>
            <value>
                <elementReference>Weight2</elementReference>
            </value>
        </inputAssignments>
        <object>Dog_Portfolio__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Seizure</name>
        <label>Create Seizure</label>
        <locationX>1686</locationX>
        <locationY>1102</locationY>
        <connector>
            <targetReference>Update_SA_Uncheck_Online_Checkbox</targetReference>
        </connector>
        <inputReference>SeizureWOLItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Seizure_Record</name>
        <label>Create Seizure Record</label>
        <locationX>3166</locationX>
        <locationY>2212</locationY>
        <assignRecordIdToReference>SeizureNoticeId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_to_seizure</targetReference>
        </connector>
        <inputAssignments>
            <field>Dog__c</field>
            <value>
                <elementReference>DogId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_The_Owner_Willing_To_Sign__c</field>
            <value>
                <elementReference>Is_the_owner_willing_to_sign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_Person_in_Charge__c</field>
            <value>
                <elementReference>flowOutputAccountIdOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Place_of_Seizure__c</field>
            <value>
                <elementReference>Place_of_seizure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ranger_inspector__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seizure_Notice_served_on__c</field>
            <value>
                <elementReference>flowOutputAccountIdServedTo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seizure_Offence_Type__c</field>
            <value>
                <elementReference>Offence_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_of_Seizure__c</field>
            <value>
                <elementReference>Time_of_seizure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>ServiceAppointment.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Seizure_Notice__c</object>
    </recordCreates>
    <recordCreates>
        <name>Dog_record</name>
        <label>Dog record</label>
        <locationX>2089</locationX>
        <locationY>1770</locationY>
        <assignRecordIdToReference>DogId</assignRecordIdToReference>
        <connector>
            <targetReference>Same_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Age__c</field>
            <value>
                <elementReference>Age</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breed__c</field>
            <value>
                <elementReference>Breed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colour__c</field>
            <value>
                <elementReference>Colour</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_Offline__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dog_Name__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Gender1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Microchip_Number__c</field>
            <value>
                <elementReference>Microchip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>flowOutputAccountIdOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Status__c</field>
            <value>
                <stringValue>Created in Field</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_kgs__c</field>
            <value>
                <elementReference>Weight</elementReference>
            </value>
        </inputAssignments>
        <object>Dog_Portfolio__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Created_Dog_Record</name>
        <label>Get Created Dog Record</label>
        <locationX>733</locationX>
        <locationY>1101</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Subject_for_WOLI</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DogId</elementReference>
            </value>
        </filters>
        <object>Dog_Portfolio__c</object>
        <outputReference>DogSobject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Breed__c</queriedFields>
        <queriedFields>Colour__c</queriedFields>
        <queriedFields>Dog_Name__c</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Microchip_Number__c</queriedFields>
        <queriedFields>Owner__c</queriedFields>
        <queriedFields>Weight_kgs__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Dog_portfolio</name>
        <label>Lookup Dog portfolio</label>
        <locationX>78</locationX>
        <locationY>543</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_dog_found</targetReference>
        </connector>
        <filters>
            <field>Registration_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Registration_Number</elementReference>
            </value>
        </filters>
        <object>Dog_Portfolio__c</object>
        <outputReference>DogSobject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Breed__c</queriedFields>
        <queriedFields>Colour__c</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>Dog_Name__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>Microchip_Number__c</queriedFields>
        <queriedFields>Is_Desexed__c</queriedFields>
        <queriedFields>Owner__c</queriedFields>
        <queriedFields>Is_Dangerous__c</queriedFields>
        <queriedFields>Is_Dog_On_Control_Order__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Dog_Portfolio_based_on_both_Reg_And_MC</name>
        <label>Lookup Dog Portfolio based on both Reg And MC</label>
        <locationX>233</locationX>
        <locationY>663</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_dog_found</targetReference>
        </connector>
        <filters>
            <field>Microchip_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Microchip_Number</elementReference>
            </value>
        </filters>
        <filters>
            <field>Registration_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Registration_Number</elementReference>
            </value>
        </filters>
        <object>Dog_Portfolio__c</object>
        <outputReference>DogSobject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Dog_Name__c</queriedFields>
        <queriedFields>Breed__c</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>Colour__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>Microchip_Number__c</queriedFields>
        <queriedFields>Is_Desexed__c</queriedFields>
        <queriedFields>Owner__c</queriedFields>
        <queriedFields>Is_Dangerous__c</queriedFields>
        <queriedFields>Is_Dog_On_Control_Order__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Dog_Portfolio_based_on_MC</name>
        <label>Lookup Dog Portfolio based on MC</label>
        <locationX>456</locationX>
        <locationY>714</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_dog_found</targetReference>
        </connector>
        <filters>
            <field>Microchip_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Microchip_Number</elementReference>
            </value>
        </filters>
        <object>Dog_Portfolio__c</object>
        <outputReference>DogSobject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Dog_Name__c</queriedFields>
        <queriedFields>Breed__c</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>Colour__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>Microchip_Number__c</queriedFields>
        <queriedFields>Is_Desexed__c</queriedFields>
        <queriedFields>Owner__c</queriedFields>
        <queriedFields>Is_Dangerous__c</queriedFields>
        <queriedFields>Is_Dog_On_Control_Order__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_SA</name>
        <label>Lookup SA</label>
        <locationX>461</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_SA1</name>
        <label>Lookup SA</label>
        <locationX>1034</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_app_offline</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
        <queriedFields>Online_Formula__c</queriedFields>
        <queriedFields>Online__c</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Search_Account</name>
        <label>Search Account</label>
        <locationX>1398</locationX>
        <locationY>1532</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Exists</targetReference>
        </connector>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>accountRecordOwner</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Search_Account1</name>
        <label>Search Account</label>
        <locationX>1391</locationX>
        <locationY>2708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Served_To_Detail_Update</targetReference>
        </connector>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Phone1</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>accountRecordServedTo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Search_Account_Based_On_Id</name>
        <label>Search Account Based On Id</label>
        <locationX>1243</locationX>
        <locationY>1903</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_Information</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>flowInputAccountIdOwner</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>accountFetchedBasedOnFlowInputOwner</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Dog_Owner</name>
        <label>Update Dog Owner</label>
        <locationX>2345</locationX>
        <locationY>2004</locationY>
        <connector>
            <targetReference>Successfully_Updated</targetReference>
        </connector>
        <inputReference>DogSobject</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Account</name>
        <label>Update New Account</label>
        <locationX>1762</locationX>
        <locationY>1713</locationY>
        <connector>
            <targetReference>newlyUpdatedAccountId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecordOwner.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Account1</name>
        <label>Update New Account</label>
        <locationX>2062</locationX>
        <locationY>2591</locationY>
        <connector>
            <targetReference>newlyUpdatedAccountId1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecordServedTo.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>City2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Country2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Postal_Code2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>State2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Street2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Email2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone1</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Account</name>
        <label>Update Old Account</label>
        <locationX>1607</locationX>
        <locationY>2027</locationY>
        <connector>
            <targetReference>oldAccountId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountFetchedBasedOnFlowInputOwner.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>City1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Country1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Postal_Code1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>State1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Street1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Email1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>785</locationX>
        <locationY>65</locationY>
        <connector>
            <targetReference>Dog_information</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Online__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_Uncheck_Online_Checkbox</name>
        <label>Update SA Uncheck Online Checkbox</label>
        <locationX>1681</locationX>
        <locationY>811</locationY>
        <connector>
            <targetReference>Additional_dogs</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Online__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>Account_Details_Update</name>
        <label>Account Details (Update)</label>
        <locationX>1484</locationX>
        <locationY>1878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Account_ID_Received1</targetReference>
        </connector>
        <fields>
            <name>Email1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInputOwner.PersonEmail</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Street1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInputOwner.BillingStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInputOwner.BillingCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>State1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInputOwner.BillingState</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Postal_Code1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInputOwner.BillingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Country1</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Australia</stringValue>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Account_Details_Update1</name>
        <label>Account Details (Update)</label>
        <locationX>1627</locationX>
        <locationY>1714</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_New_Account</targetReference>
        </connector>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountRecordOwner.PersonEmail</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Street</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountRecordOwner.BillingStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountRecordOwner.BillingCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>State</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountRecordOwner.BillingState</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Postal_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountRecordOwner.BillingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Country</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Australia</stringValue>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Additional_dogs</name>
        <label>Additional dogs?</label>
        <locationX>1683</locationX>
        <locationY>661</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Additional_dogs_to_add</targetReference>
        </connector>
        <fields>
            <name>Yes</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Breed_Selection_Screen</name>
        <label>Breed Selection Screen</label>
        <locationX>725</locationX>
        <locationY>833</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Dog_Online</targetReference>
        </connector>
        <fields>
            <name>Breed_Selection</name>
            <choiceReferences>ListOfBreed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Breed Selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cannot_Seize</name>
        <label>Cannot Seize</label>
        <locationX>609</locationX>
        <locationY>2122</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DogCannotSeize</name>
            <fieldText>You cannot seize a dog without an owner.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Dog_Online</name>
        <label>Create Dog</label>
        <locationX>724</locationX>
        <locationY>968</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Dog_Record_Online</targetReference>
        </connector>
        <fields>
            <name>Dog_Name</name>
            <dataType>String</dataType>
            <fieldText>Dog Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Breed2</name>
            <fieldText>Breed: {!BreedName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Age2</name>
            <dataType>Number</dataType>
            <fieldText>Age</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Colour2</name>
            <dataType>String</dataType>
            <fieldText>Colour</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Is_Desex</name>
            <dataType>Boolean</dataType>
            <fieldText>Is Desexed?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Weight2</name>
            <dataType>Number</dataType>
            <fieldText>Weight</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Microchip_No</name>
            <dataType>String</dataType>
            <fieldText>Microchip No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Gender2</name>
            <choiceReferences>Gender</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Dog_details</name>
        <label>Display Dog details</label>
        <locationX>457</locationX>
        <locationY>1183</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Yesdogtrue</targetReference>
        </connector>
        <fields>
            <name>Dogname</name>
            <fieldText>The Dog found is&lt;br/&gt;
Name: {!DogSobject.Dog_Name__c}
Breed: {!DogSobject.Breed__c}
Age: {!DogSobject.Age__c}
Colour: {!DogSobject.Colour__c}
Gender: {!DogSobject.Gender__c}
Registration No: {!DogSobject.Registration_Number__c}
Microchip No: {!DogSobject.Microchip_Number__c}
Is Desexed?: {!DogSobject.Is_Desexed__c}
Dangerous Dog?: {!DogSobject.Is_Dangerous__c}
Control Order?: {!DogSobject.Is_Dog_On_Control_Order__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_this_the_right_dog</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Is this the right dog?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dog_information</name>
        <label>Search dog using:</label>
        <locationX>1032</locationX>
        <locationY>63</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_SA1</targetReference>
        </connector>
        <fields>
            <name>Registration_Number</name>
            <dataType>String</dataType>
            <fieldText>Registration Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Microchip_Number</name>
            <dataType>String</dataType>
            <fieldText>Microchip Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>HelpText</name>
            <fieldText>If you don&apos;t have these details, please click on Next button</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DogNotFound</name>
        <label>Dog Not Found</label>
        <locationX>616</locationX>
        <locationY>698</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Search_Breed_Screen</targetReference>
        </connector>
        <fields>
            <name>DogNotFoundMessage</name>
            <fieldText>No dog has been found. Please click on Next button to create a dog record</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Dog_details_to_create</name>
        <label>Enter Dog details to create</label>
        <locationX>1027</locationX>
        <locationY>716</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_WOLI_Subject_Offline</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Breed</name>
            <dataType>String</dataType>
            <fieldText>Breed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Is_Desexed</name>
            <dataType>Boolean</dataType>
            <fieldText>Is Desexed?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Colour</name>
            <dataType>String</dataType>
            <fieldText>Colour</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Age</name>
            <dataType>Number</dataType>
            <fieldText>Age</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Weight</name>
            <dataType>Number</dataType>
            <fieldText>Weight</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Microchip</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Microchip_Number</elementReference>
            </defaultValue>
            <fieldText>Microchip</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Gender1</name>
            <choiceReferences>Gender</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Notice_Served</name>
        <label>Notice Served</label>
        <locationX>1887</locationX>
        <locationY>2250</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Served_Details</targetReference>
        </connector>
        <fields>
            <name>Do_you_have_served_to_details</name>
            <dataType>Boolean</dataType>
            <fieldText>Are you servicing the seizure notice to someone else other than owner?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Owner_Details</name>
        <label>Owner Details</label>
        <locationX>696</locationX>
        <locationY>1453</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Owner_Details</targetReference>
        </connector>
        <fields>
            <name>Do_you_have_owner_details</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you have owner details?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Owner_Information</name>
        <label>Owner Information</label>
        <locationX>1127</locationX>
        <locationY>1705</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_the_app_online1</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInputOwner.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInputOwner.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountFetchedBasedOnFlowInputOwner.Phone</elementReference>
            </defaultValue>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Owner_sign</name>
        <label>Owner sign?</label>
        <locationX>2103</locationX>
        <locationY>2236</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Notice_Served</targetReference>
        </connector>
        <fields>
            <name>Is_the_owner_willing_to_sign</name>
            <choiceReferences>YesNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is the owner willing to sign?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Search_Breed_Screen</name>
        <label>Search Breed Screen</label>
        <locationX>785</locationX>
        <locationY>694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Breed_Selection_Screen</targetReference>
        </connector>
        <fields>
            <name>Search_Breed</name>
            <dataType>String</dataType>
            <fieldText>Search Breed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HelpText2</name>
            <fieldText>Please click on Next button to see the breed result list.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Seizure_information</name>
        <label>Seizure information</label>
        <locationX>1191</locationX>
        <locationY>1111</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_the_app_Online</targetReference>
        </connector>
        <fields>
            <name>Time_of_seizure</name>
            <dataType>DateTime</dataType>
            <fieldText>Time of seizure</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Place_of_seizure</name>
            <dataType>String</dataType>
            <fieldText>Place of seizure</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Seizure_record_created</name>
        <label>Seizure record created</label>
        <locationX>1681</locationX>
        <locationY>163</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Served_To_Detail_Update</name>
        <label>Served To Detail (Update)</label>
        <locationX>1632</locationX>
        <locationY>2805</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_Exists1</targetReference>
        </connector>
        <fields>
            <name>Email2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountRecordServedTo.PersonEmail</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Street2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountRecordServedTo.BillingStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountRecordServedTo.BillingCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>State2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountRecordServedTo.BillingState</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Postal_Code2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountRecordServedTo.BillingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Country2</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Australia</stringValue>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Served_To_Information</name>
        <label>Served To Information</label>
        <locationX>1519</locationX>
        <locationY>2369</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_the_app_online2</targetReference>
        </connector>
        <fields>
            <name>First_Name1</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name1</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone1</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Successfully_Updated</name>
        <label>Successfully Updated</label>
        <locationX>2273</locationX>
        <locationY>2127</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Owner_sign</targetReference>
        </connector>
        <fields>
            <name>Update</name>
            <fieldText>Owner successfully created/updated</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Successfully_Updated1</name>
        <label>Successfully Updated</label>
        <locationX>2975</locationX>
        <locationY>2885</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Seizure_Record</targetReference>
        </connector>
        <fields>
            <name>UpdateServedTo</name>
            <fieldText>Served To successfully created/updated</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Type_of_Offence</name>
        <label>Type of Offence</label>
        <locationX>1014</locationX>
        <locationY>1319</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Seizure_information</targetReference>
        </connector>
        <fields>
            <name>Offence_Type</name>
            <choiceReferences>SeizureOffenceType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Offence Type</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_SA</startElementReference>
    <status>Active</status>
    <variables>
        <name>accountFetchedBasedOnFlowInputOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountFetchedBasedOnFlowInputServedTo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountRecordOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountRecordServedTo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>BreedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BreedName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>createdOffline</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DogSobject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Dog_Portfolio__c</objectType>
    </variables>
    <variables>
        <name>flowInputAccountIdOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flowOutputAccountIdOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flowOutputAccountIdServedTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>mcnum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>personAccountRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>012p00000007AFMAA2</stringValue>
        </value>
    </variables>
    <variables>
        <name>regnum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Seizurenotice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Seizure_Notice__c</objectType>
    </variables>
    <variables>
        <name>SeizureNoticeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>seizureNoticeRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>012p0000000RgJWAA0</stringValue>
        </value>
    </variables>
    <variables>
        <name>seizureNoticeWorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>08qp0000000CfoOAAS</stringValue>
        </value>
    </variables>
    <variables>
        <name>SeizureWOLItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOLISubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
