flows/SOS_to_Admin.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SOS_to_Admin</name>
        <label>SOS to Admin</label>
        <locationX>189</locationX>
        <locationY>65</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Get_WO</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>The ranger has hit the SOS button and may need emergency services. Please action immediately.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>DAS Admin</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>366</locationX>
        <locationY>60</locationY>
        <assignmentItems>
            <assignToReference>WOID.SOS_chatter_generated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WO</targetReference>
        </connector>
    </assignments>
    <interviewLabel>SOS to Admin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOS to Admin</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_WO</name>
        <label>Get WO</label>
        <locationX>278</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WOID</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SOS_chatter_generated__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_WO</name>
        <label>Update WO</label>
        <locationX>456</locationX>
        <locationY>56</locationY>
        <inputReference>WOID</inputReference>
    </recordUpdates>
    <startElementReference>SOS_to_Admin</startElementReference>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
