flows/Victim_Information.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Account_Id</name>
        <label>Assign Account Id</label>
        <locationX>1107</locationX>
        <locationY>299</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Subject_Person</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Dog_Id</name>
        <label>Assign Dog Id</label>
        <locationX>1344</locationX>
        <locationY>616</locationY>
        <assignmentItems>
            <assignToReference>DogId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DogRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLISubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Victim Dog: {!DogRecord.Dog_Name__c} {!DogRecord.Breed__c} {!DogRecord.Gender__c} {!DogRecord.Microchip_Number__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA_Uncheck_online_checkbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subject_Dog</name>
        <label>Assign Subject Dog</label>
        <locationX>1357</locationX>
        <locationY>363</locationY>
        <assignmentItems>
            <assignToReference>WOLISubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Victim Dog: {!Dog_Name} {!Breed} {!Gender} {!Microchip_Number}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA_Uncheck_online_checkbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subject_Person</name>
        <label>Assign Subject Person</label>
        <locationX>1483</locationX>
        <locationY>203</locationY>
        <assignmentItems>
            <assignToReference>WOLISubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Victim Person: {!First_Name} {!Last_Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA_Uncheck_online_checkbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WOLI_subject</name>
        <label>Assign WOLI subject</label>
        <locationX>1346</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>WOLISubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Victim {!Victim_Type}: {!Animal_Type} {!Animal_Description}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA_Uncheck_online_checkbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Order_Id</name>
        <label>Assign Work Order Id</label>
        <locationX>260</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Created_Offline</name>
        <label>Created Offline</label>
        <locationX>758</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>CreatedOfflineCheckbox</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Dog_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Created_Offline2</name>
        <label>Created Offline</label>
        <locationX>601</locationX>
        <locationY>173</locationY>
        <assignmentItems>
            <assignToReference>CreatedOfflineCheckbox</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Information_Screen</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>PersonAccountRTid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012p00000007AFMAA2</stringValue>
        </value>
    </constants>
    <constants>
        <name>WOLIvictimRTid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012p0000000NhHeAAK</stringValue>
        </value>
    </constants>
    <constants>
        <name>WorkTypeVictimId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>08qp00000004GV5AAM</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Account_Id_Exist</name>
        <label>Account Id Exist</label>
        <locationX>937</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exiting_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Id</targetReference>
            </connector>
            <label>Exiting Account</label>
        </rules>
        <rules>
            <name>New_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Subject_Person</targetReference>
            </connector>
            <label>New Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Animal_Type2</name>
        <label>Animal Type?</label>
        <locationX>2255</locationX>
        <locationY>556</locationY>
        <defaultConnector>
            <targetReference>Update_WOLI_Victim</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Person2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Victim_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Person</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Person_Id</targetReference>
            </connector>
            <label>Person</label>
        </rules>
        <rules>
            <name>Dog</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Victim_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dog</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dog_Id</targetReference>
            </connector>
            <label>Dog</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dog_Id</name>
        <label>Dog Id ?</label>
        <locationX>2435</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>Create_Dog_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dog_Id_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DogId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WOLI_Victim</targetReference>
            </connector>
            <label>Dog Id populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dog_Search_fields</name>
        <label>Dog Search fields</label>
        <locationX>848</locationX>
        <locationY>464</locationY>
        <defaultConnector>
            <targetReference>Dog_Not_Found_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Search_Micro_and_Rego</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Microchip_Number</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Registration_Number</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Microchip_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Registration_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Dog_Using_Rego_Micro</targetReference>
            </connector>
            <label>Search Micro and Rego</label>
        </rules>
        <rules>
            <name>Search_Micro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Microchip_Number</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Microchip_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Dog_using_Micro</targetReference>
            </connector>
            <label>Search Micro</label>
        </rules>
        <rules>
            <name>Search_Rego</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Registration_Number</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Registration_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Dog_Using_Rego</targetReference>
            </connector>
            <label>Search Rego</label>
        </rules>
        <rules>
            <name>No_Search</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Registration_Number</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Microchip_Number</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Breed_Screen</targetReference>
            </connector>
            <label>No Search</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_App_Online</name>
        <label>Is App Online?</label>
        <locationX>700</locationX>
        <locationY>459</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Online</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Online_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dog_Search_fields</targetReference>
            </connector>
            <label>Online</label>
        </rules>
        <rules>
            <name>Offline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Online_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_Offline</targetReference>
            </connector>
            <label>Offline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_App_Online2</name>
        <label>Is App Online</label>
        <locationX>476</locationX>
        <locationY>247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Online2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Online_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Person_Account</targetReference>
            </connector>
            <label>Online</label>
        </rules>
        <rules>
            <name>Offline2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Online_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_Offline2</targetReference>
            </connector>
            <label>Offline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_the_right_dog</name>
        <label>Is it the right dog?</label>
        <locationX>1198</locationX>
        <locationY>613</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Right_Dog</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_the_right_dog</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Dog_Id</targetReference>
            </connector>
            <label>Right Dog</label>
        </rules>
        <rules>
            <name>Wrong_Dog</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_the_right_dog</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Breed_Screen</targetReference>
            </connector>
            <label>Wrong Dog</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Dog_Found</name>
        <label>Is the Dog Found?</label>
        <locationX>939</locationX>
        <locationY>833</locationY>
        <defaultConnector>
            <targetReference>Dog_Not_Found_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dog_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DogRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dog_Found_Info_Screen</targetReference>
            </connector>
            <label>Dog Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Person_Id</name>
        <label>Person Id ?</label>
        <locationX>2123</locationX>
        <locationY>759</locationY>
        <defaultConnector>
            <targetReference>Create_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Person_Id_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Person Id Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_victim_Type</name>
        <label>What is the victim Type?</label>
        <locationX>1635</locationX>
        <locationY>415</locationY>
        <defaultConnector>
            <targetReference>Take_Animal_Photo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Victim_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Person</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Victim_Statement_Screen</targetReference>
            </connector>
            <label>Person</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Victim_Type</name>
        <label>What Victim Type</label>
        <locationX>401</locationX>
        <locationY>632</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dog_Victim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Victim_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dog</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dog_Information_Screen</targetReference>
            </connector>
            <label>Dog Victim</label>
        </rules>
        <rules>
            <name>Cat_Victim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Victim_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Animal_Description_Field</targetReference>
            </connector>
            <label>Cat Victim</label>
        </rules>
        <rules>
            <name>Person_Victim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Victim_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Person</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Person_Search_Screen</targetReference>
            </connector>
            <label>Person Victim</label>
        </rules>
        <rules>
            <name>Other_Victim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Victim_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Animal_Type</targetReference>
            </connector>
            <label>Other Victim</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AdditionalVictimInformationValues</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Victim_Additional_Information__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BiteScaleValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Bite_Scale__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BreedList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Search_Breed</elementReference>
            </value>
        </filters>
        <object>Breed_List__c</object>
        <outputAssignments>
            <assignToReference>BreedId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BreedName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Gender__c</picklistField>
        <picklistObject>Dog_Portfolio__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MotivationOfAttackPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Motivation_of_Attack__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OffendingCauseFactorValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Offending_Cause_Factor__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VictimType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Victim_Type__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Victim Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Victim Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>2252</locationX>
        <locationY>965</locationY>
        <assignRecordIdToReference>AccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_WOLI_Victim</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Suburb</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>PostCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Street_No_Street_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_Offline__c</field>
            <value>
                <elementReference>CreatedOfflineCheckbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>Date_Of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PersonAccountRTid</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Dog_Record</name>
        <label>Create Dog Record</label>
        <locationX>2568</locationX>
        <locationY>479</locationY>
        <assignRecordIdToReference>DogId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_WOLI_Victim</targetReference>
        </connector>
        <inputAssignments>
            <field>Age__c</field>
            <value>
                <elementReference>Age</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breed_List__c</field>
            <value>
                <elementReference>BreedId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breed__c</field>
            <value>
                <elementReference>Breed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colour__c</field>
            <value>
                <elementReference>Colour</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_Offline__c</field>
            <value>
                <elementReference>CreatedOfflineCheckbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dog_Name__c</field>
            <value>
                <elementReference>Dog_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Gender1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Desexed__c</field>
            <value>
                <elementReference>Is_Desexed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Microchip_Number__c</field>
            <value>
                <elementReference>Microchip_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_kgs__c</field>
            <value>
                <elementReference>Weight</elementReference>
            </value>
        </inputAssignments>
        <object>Dog_Portfolio__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_WOLI</name>
        <label>Create WOLI</label>
        <locationX>1639</locationX>
        <locationY>558</locationY>
        <assignRecordIdToReference>WOLIid</assignRecordIdToReference>
        <connector>
            <targetReference>What_is_the_victim_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Animal_Description__c</field>
            <value>
                <elementReference>Animal_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Animal_Type__c</field>
            <value>
                <elementReference>Animal_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>WOLIvictimRTid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>WOLISubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Victim_Type__c</field>
            <value>
                <elementReference>Victim_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>WorkTypeVictimId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Dog_using_Micro</name>
        <label>Get Dog using Micro</label>
        <locationX>744</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_Dog_Found</targetReference>
        </connector>
        <filters>
            <field>Microchip_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Microchip_Number</elementReference>
            </value>
        </filters>
        <object>Dog_Portfolio__c</object>
        <outputReference>DogRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>Breed__c</queriedFields>
        <queriedFields>Colour__c</queriedFields>
        <queriedFields>Dog_Name__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Is_Dangerous__c</queriedFields>
        <queriedFields>Is_Desexed__c</queriedFields>
        <queriedFields>Is_Dog_On_Control_Order__c</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>Weight_kgs__c</queriedFields>
        <queriedFields>Microchip_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Dog_Using_Rego</name>
        <label>Get Dog Using Rego</label>
        <locationX>856</locationX>
        <locationY>696</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_Dog_Found</targetReference>
        </connector>
        <filters>
            <field>Registration_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Registration_Number</elementReference>
            </value>
        </filters>
        <object>Dog_Portfolio__c</object>
        <outputReference>DogRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>Breed__c</queriedFields>
        <queriedFields>Colour__c</queriedFields>
        <queriedFields>Dog_Name__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Is_Dangerous__c</queriedFields>
        <queriedFields>Is_Desexed__c</queriedFields>
        <queriedFields>Microchip_Number__c</queriedFields>
        <queriedFields>Weight_kgs__c</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>Is_Dog_On_Control_Order__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Dog_Using_Rego_Micro</name>
        <label>Get Dog Using Rego Micro</label>
        <locationX>959</locationX>
        <locationY>653</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_Dog_Found</targetReference>
        </connector>
        <filters>
            <field>Microchip_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Microchip_Number</elementReference>
            </value>
        </filters>
        <filters>
            <field>Registration_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Registration_Number</elementReference>
            </value>
        </filters>
        <object>Dog_Portfolio__c</object>
        <outputReference>DogRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>Breed__c</queriedFields>
        <queriedFields>Colour__c</queriedFields>
        <queriedFields>Dog_Name__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Is_Dangerous__c</queriedFields>
        <queriedFields>Is_Desexed__c</queriedFields>
        <queriedFields>Weight_kgs__c</queriedFields>
        <queriedFields>Is_Dog_On_Control_Order__c</queriedFields>
        <queriedFields>Microchip_Number__c</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account</name>
        <label>Get Person Account</label>
        <locationX>572</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Information_Screen</targetReference>
        </connector>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>PersonBirthdate</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>576</locationX>
        <locationY>456</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_App_Online</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
        <queriedFields>Online_Formula__c</queriedFields>
        <queriedFields>Online__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_Record</name>
        <label>Get SA Record</label>
        <locationX>354</locationX>
        <locationY>243</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_App_Online2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Online_Formula__c</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_SA</name>
        <label>Lookup SA</label>
        <locationX>261</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Work_Order_Id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Online__c</queriedFields>
        <queriedFields>Online_Formula__c</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>2273</locationX>
        <locationY>754</locationY>
        <connector>
            <targetReference>Update_WOLI_Victim</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Suburb</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>PostCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Street_No_Street_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>Date_Of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>259</locationX>
        <locationY>481</locationY>
        <connector>
            <targetReference>Victim_Type_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Online__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_Uncheck_online_checkbox</name>
        <label>Update SA Uncheck online checkbox</label>
        <locationX>1492</locationX>
        <locationY>560</locationY>
        <connector>
            <targetReference>Create_WOLI</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Online__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WOLI_Victim</name>
        <label>Update WOLI Victim</label>
        <locationX>2564</locationX>
        <locationY>735</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOLIid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bite_Scale__c</field>
            <value>
                <elementReference>Bite_Scale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Victim_Statement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dog__c</field>
            <value>
                <elementReference>DogId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivation_of_Attack__c</field>
            <value>
                <elementReference>Motivation_of_Attack</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offending_Cause_Factor__c</field>
            <value>
                <elementReference>Offending_Cause_Factor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ranger_Additional_Notes__c</field>
            <value>
                <elementReference>Ranger_Additional_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Victim_Additional_Information__c</field>
            <value>
                <elementReference>Additional_Victim_Information</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Witness_Victim__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <screens>
        <name>Account_Address</name>
        <label>Account Address</label>
        <locationX>810</locationX>
        <locationY>241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_Id_Exist</targetReference>
        </connector>
        <fields>
            <name>Street_No_Street_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountRecord.BillingStreet</elementReference>
            </defaultValue>
            <fieldText>Street No &amp; Street Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Suburb</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountRecord.BillingCity</elementReference>
            </defaultValue>
            <fieldText>Suburb</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>State</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountRecord.BillingState</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PostCode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountRecord.BillingPostalCode</elementReference>
            </defaultValue>
            <fieldText>PostCode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Country</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountRecord.BillingCountry</elementReference>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Account_Information_Screen</name>
        <label>Account Information</label>
        <locationX>689</locationX>
        <locationY>241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_Address</targetReference>
        </connector>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountRecord.PersonEmail</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_Of_Birth</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>AccountRecord.PersonBirthdate</elementReference>
            </defaultValue>
            <fieldText>Date Of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Additional_Victim_Information_Screen</name>
        <label>Additional Victim Information</label>
        <locationX>2112</locationX>
        <locationY>385</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Ranger_Notes_Screen</targetReference>
        </connector>
        <fields>
            <name>Additional_Victim_Information</name>
            <choiceReferences>AdditionalVictimInformationValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Additional Victim Information</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Animal_Description_Field</name>
        <label>Animal_Description_Field</label>
        <locationX>1016</locationX>
        <locationY>1032</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_WOLI_subject</targetReference>
        </connector>
        <fields>
            <name>Animal_Description</name>
            <dataType>String</dataType>
            <fieldText>Animal Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Capture_Evidence</name>
        <label>Capture Evidence</label>
        <locationX>1824</locationX>
        <locationY>381</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Motivation_Of_Attack_Screen</targetReference>
        </connector>
        <fields>
            <name>EvidencePhoto</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Evidence</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>WOLIid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Dog_Screen</name>
        <label>Create Dog</label>
        <locationX>932</locationX>
        <locationY>375</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Subject_Dog</targetReference>
        </connector>
        <fields>
            <name>Dog_Name</name>
            <dataType>String</dataType>
            <fieldText>Dog Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Breed</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>BreedName</elementReference>
            </defaultValue>
            <fieldText>Breed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Age</name>
            <dataType>Number</dataType>
            <fieldText>Age</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Colour</name>
            <dataType>String</dataType>
            <fieldText>Colour</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Is_Desexed</name>
            <dataType>Boolean</dataType>
            <fieldText>Is Desexed?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Weight</name>
            <dataType>Number</dataType>
            <fieldText>Weight</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Microchip_No</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Microchip_Number</elementReference>
            </defaultValue>
            <fieldText>Microchip No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Gender1</name>
            <choiceReferences>Gender</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dog_Found_Info_Screen</name>
        <label>Dog Found Info</label>
        <locationX>1215</locationX>
        <locationY>841</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_it_the_right_dog</targetReference>
        </connector>
        <fields>
            <name>DogFoundInfoMessage</name>
            <fieldText>The Dog found is&lt;br/&gt;
Name: {!DogRecord.Dog_Name__c}
Breed: {!DogRecord.Breed__c}
Age: {!DogRecord.Age__c}
Colour: {!DogRecord.Colour__c}
Gender: {!DogRecord.Gender__c}
Registration No: {!DogRecord.Registration_Number__c}
Microchip No: {!DogRecord.Microchip_Number__c}
Is Desexed?: {!DogRecord.Is_Desexed__c}
Dangerous Dog?: {!DogRecord.Is_Dangerous__c}
Control Order?: {!DogRecord.Is_Dog_On_Control_Order__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_this_the_right_dog</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Is this the right dog?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dog_Information_Screen</name>
        <label>Search dog using:</label>
        <locationX>467</locationX>
        <locationY>454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_SA</targetReference>
        </connector>
        <fields>
            <name>Registration_Number</name>
            <dataType>String</dataType>
            <fieldText>Registration Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Microchip_Number</name>
            <dataType>String</dataType>
            <fieldText>Microchip Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>HelpText</name>
            <fieldText>If you don&apos;t have these details, please click on Next button</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dog_Not_Found_screen</name>
        <label>Dog Not Found</label>
        <locationX>1065</locationX>
        <locationY>662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Search_Breed_Screen</targetReference>
        </connector>
        <fields>
            <name>DogNotFoundMessage</name>
            <fieldText>No dog has been found. Please click on Next button to create a dog record</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Motivation_Of_Attack_Screen</name>
        <label>Motivation Of Attack Screen</label>
        <locationX>1954</locationX>
        <locationY>386</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Offending_Cause_Factor_Screen</targetReference>
        </connector>
        <fields>
            <name>Motivation_of_Attack</name>
            <choiceReferences>MotivationOfAttackPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Motivation of Attack</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Offending_Cause_Factor_Screen</name>
        <label>Offending Cause Factor Screen</label>
        <locationX>1954</locationX>
        <locationY>557</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Seriousness_of_injury</targetReference>
        </connector>
        <fields>
            <name>Offending_Cause_Factor</name>
            <choiceReferences>OffendingCauseFactorValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Offending Cause Factor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Other_Animal_Type</name>
        <label>Other Animal Type</label>
        <locationX>430</locationX>
        <locationY>985</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Animal_Description_Field</targetReference>
        </connector>
        <fields>
            <name>Animal_Type</name>
            <dataType>String</dataType>
            <fieldText>Animal Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Person_Search_Screen</name>
        <label>Person Search</label>
        <locationX>356</locationX>
        <locationY>359</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_SA_Record</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Ranger_Notes_Screen</name>
        <label>Ranger Notes Screen</label>
        <locationX>2274</locationX>
        <locationY>388</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Animal_Type2</targetReference>
        </connector>
        <fields>
            <name>Ranger_Additional_Notes</name>
            <fieldText>Ranger Additional Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Search_Breed_Screen</name>
        <label>Search Breed</label>
        <locationX>1022</locationX>
        <locationY>457</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Breed_Screen</targetReference>
        </connector>
        <fields>
            <name>Search_Breed</name>
            <dataType>String</dataType>
            <fieldText>Search Breed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HelpText2</name>
            <fieldText>Please click on Next button to see the breed result list.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Breed_Screen</name>
        <label>Select Breed</label>
        <locationX>1207</locationX>
        <locationY>453</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Dog_Screen</targetReference>
        </connector>
        <fields>
            <name>Select_Breed_Picklist</name>
            <choiceReferences>BreedList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Breed</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Seriousness_of_injury</name>
        <label>Seriousness of injury</label>
        <locationX>2115</locationX>
        <locationY>554</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Additional_Victim_Information_Screen</targetReference>
        </connector>
        <fields>
            <name>Bite_Scale</name>
            <choiceReferences>BiteScaleValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Bite Scale</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Take_Animal_Photo</name>
        <label>Take Animal Photo</label>
        <locationX>1822</locationX>
        <locationY>553</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Capture_Evidence</targetReference>
        </connector>
        <fields>
            <name>AnimalImage</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Victim Animal Photo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>WOLIid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Victim_Statement_Screen</name>
        <label>Victim Statement</label>
        <locationX>1641</locationX>
        <locationY>246</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Capture_Evidence</targetReference>
        </connector>
        <fields>
            <name>Victim_Statement</name>
            <fieldText>Victim Statement</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Victim_Type_Screen</name>
        <label>Victim Type</label>
        <locationX>259</locationX>
        <locationY>627</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_Victim_Type</targetReference>
        </connector>
        <fields>
            <name>Victim_Type</name>
            <choiceReferences>VictimType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Victim Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_SA</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>BreedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BreedName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatedOfflineCheckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DogRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Dog_Portfolio__c</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>WOLIid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOLISubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
