flows/Witness_Information_v2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_to_Person</name>
        <label>Assign to Person</label>
        <locationX>398</locationX>
        <locationY>486</locationY>
        <assignmentItems>
            <assignToReference>PersonAcc.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Given_Names</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAcc.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAcc.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAcc.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAcc.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAcc.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PostCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAcc.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAcc.PersonBirthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DOB</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAcc.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAcc.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypeIDPerson</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAcc.OfflineLinkWOLI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Id}Witness{!Last_Name}{!Phone}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PersonAcc.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Created_Offline</name>
        <label>Check Created Offline</label>
        <locationX>825</locationX>
        <locationY>485</locationY>
        <assignmentItems>
            <assignToReference>PersonAcc.Created_Offline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Person_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Online</name>
        <label>Online</label>
        <locationX>529</locationX>
        <locationY>52</locationY>
        <assignmentItems>
            <assignToReference>SARecord.Online__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SARecord.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uncheck_Online_Checkbox</name>
        <label>Uncheck Online Checkbox</label>
        <locationX>537</locationX>
        <locationY>654</locationY>
        <assignmentItems>
            <assignToReference>SARecord.Online__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>WOLIwitnessId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012p0000000Rh9D</stringValue>
        </value>
    </constants>
    <constants>
        <name>WorkTypeWitnessId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>08qp0000000CfpM</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_the_app_offline</name>
        <label>Is the app offline?</label>
        <locationX>521</locationX>
        <locationY>205</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>The_app_is_Online</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SARecord.Online_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>The app is Online</label>
        </rules>
        <rules>
            <name>The_app_is_Offline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SARecord.Online_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnterPersonDetails2</targetReference>
            </connector>
            <label>The app is Offline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_app_Online</name>
        <label>Is the app Online?</label>
        <locationX>688</locationX>
        <locationY>488</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>It_is_Online</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SARecord.Online_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Person_Account</targetReference>
            </connector>
            <label>It is Online</label>
        </rules>
        <rules>
            <name>It_is_Offline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SARecord.Online_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Created_Offline</targetReference>
            </connector>
            <label>It is Offline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Person_Account_Exist</name>
        <label>Person Account Exist?</label>
        <locationX>516</locationX>
        <locationY>491</locationY>
        <defaultConnector>
            <targetReference>Is_the_app_Online</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exiting_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PersonAcc.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Person</targetReference>
            </connector>
            <label>Exiting Account</label>
        </rules>
    </decisions>
    <description>Witness Information rebuild on FSL flow and WOLI</description>
    <dynamicChoiceSets>
        <name>TypeOfWitness</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Witness__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Witness Information v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Witness Information v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Person_Account</name>
        <label>Create Person Account</label>
        <locationX>701</locationX>
        <locationY>667</locationY>
        <assignRecordIdToReference>AccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Uncheck_Online_Checkbox</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>City12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <stringValue>Australia</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>State12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Street12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_Offline__c</field>
            <value>
                <elementReference>PersonAcc.Created_Offline__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Given_Names</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>DOB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordTypeIDPerson</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_WOLI_Witness</name>
        <label>Create WOLI Witness</label>
        <locationX>341</locationX>
        <locationY>673</locationY>
        <connector>
            <targetReference>Note</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Time_Statement_Taken__c</field>
            <value>
                <elementReference>Date_Taken</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!Statement} </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OfflineLinkWOLI__c</field>
            <value>
                <stringValue>{!Id}Witness{!Last_Name}{!Phone}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Place_Statement_taken__c</field>
            <value>
                <elementReference>Place_Taken</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>WOLIwitnessId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!Witness_Type} {!Last_Name} Statement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Witness__c</field>
            <value>
                <stringValue>{!Witness_Type} </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Witness_Victim__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>WorkTypeWitnessId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>293</locationX>
        <locationY>173</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EnterPersonDetails2</targetReference>
        </connector>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>PersonAcc</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>PersonBirthdate</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>BillingState</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_record</name>
        <label>Get SA record</label>
        <locationX>242</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Online</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SARecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_SA2</name>
        <label>Lookup SA2</label>
        <locationX>776</locationX>
        <locationY>205</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_app_offline</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SARecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
        <queriedFields>Online__c</queriedFields>
        <queriedFields>Online_Formula__c</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>538</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>WitnessInpoutScreen</targetReference>
        </connector>
        <inputReference>SARecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>247</locationX>
        <locationY>497</locationY>
        <connector>
            <targetReference>Uncheck_Online_Checkbox</targetReference>
        </connector>
        <inputReference>PersonAcc</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>647</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Capture_Witness_Name</targetReference>
        </connector>
        <inputReference>SARecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Capture_Witness_Name</name>
        <label>Capture Witness Name</label>
        <locationX>776</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_SA2</targetReference>
        </connector>
        <fields>
            <name>Search_Witness_Complainant</name>
            <fieldText>Search Witness/Complainant</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Given_Names</name>
            <dataType>String</dataType>
            <fieldText>Given Names</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EnterPersonDetails2</name>
        <label>EnterPersonDetails2</label>
        <locationX>301</locationX>
        <locationY>339</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Home_Details</targetReference>
        </connector>
        <fields>
            <name>Given_Name</name>
            <fieldText>Given Name</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Given_Name_Text</name>
            <fieldText>{!Given_Names}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LastName</name>
            <fieldText>Last Name</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LastName2</name>
            <fieldText>{!Last_Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PhoneEntered</name>
            <fieldText>Phone</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PhoneNumberEntered</name>
            <fieldText>{!Phone}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PersonAcc.PersonEmail</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DOB</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>PersonAcc.PersonBirthdate</elementReference>
            </defaultValue>
            <fieldText>DOB</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Home_Details</name>
        <label>Home Details</label>
        <locationX>505</locationX>
        <locationY>344</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Person_Account_Exist</targetReference>
        </connector>
        <fields>
            <name>Street12</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PersonAcc.BillingStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City12</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PersonAcc.BillingCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>State12</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PersonAcc.BillingState</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PostCode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PersonAcc.BillingPostalCode</elementReference>
            </defaultValue>
            <fieldText>PostCode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Note</name>
        <label>Note</label>
        <locationX>180</locationX>
        <locationY>665</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Information</name>
            <fieldText>Please click on finish button and open the record on the Overview page to capture a signature</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WitnessInpoutScreen</name>
        <label>WitnessInpoutScreen</label>
        <locationX>366</locationX>
        <locationY>786</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_WOLI_Witness</targetReference>
        </connector>
        <fields>
            <name>StatementDetails</name>
            <fieldText>Witness Personal Details</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Witness_Type</name>
            <choiceReferences>TypeOfWitness</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Witness Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_Taken</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Date Taken</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Place_Taken</name>
            <dataType>String</dataType>
            <fieldText>Place Taken</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Statement</name>
            <fieldText>Statement</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_SA_record</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PersonAcc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordTypeIDPerson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>012p00000007AFM</stringValue>
        </value>
    </variables>
    <variables>
        <name>SARecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>WitnessJnId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WoID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
